leonard-dev-workflows/dev/kM3dJ9t02s9GeAII-DEV_Markdown_of_FG_owner_Andy.json
{
  "name": "DEV - Markdown of FG - owner Andy",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUvJyzSky12m4HA/tblwdQFcCl09DOjUx/viw5MvKNZEgH3jpNx?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appUvJyzSky12m4HA/tblwdQFcCl09DOjUx/viw5MvKNZEgH3jpNx?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('New Airtable FG Entry').item.json.fields.Email }}",
            "MD - Matter Value": "=",
            "MD - Client Name": "={{ $json[\"D1 - Client Name Value\"] }}",
            "MD - Why Important": "={{ $json[\"D2 - Why Important Value\"] }}",
            "MD - Completed": false,
            "MD - Matter Description": "={{ $json[\"D2 - Matter Description Value\"] }}",
            "MD - Client Output": "={{ $json[\"D2 - Formatted Output Value\"] }}",
            "MD - Value Output": "={{ $json[\"D3 - Matter Value Value\"] }}",
            "MD - Matter Currency": "={{ $json[\"D3 - Matter Value Currency Value\"] }}",
            "MD - Jurisdiction 1": "={{ $json[\"D4 - Jurisdictions Value\"] }}",
            "MD - Lead Lawyer Office": "={{ $json[\"D5 - Lead Lawyer Office Value\"] }}",
            "MD - Is Confidential?": "={{ $json[\"D0 - Confidential Value\"] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Conversation ID",
              "displayName": "Conversation ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call Length (s)",
              "displayName": "Call Length (s)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Length (m)",
              "displayName": "Call Length (m)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call too short",
              "displayName": "Call too short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created by",
              "displayName": "Created by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Modified by",
              "displayName": "Date Modified by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Last Updated",
              "displayName": "Date Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Cost",
              "displayName": "Call Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LLM Charge",
              "displayName": "LLM Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Charge",
              "displayName": "Call Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent ID",
              "displayName": "Agent ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Status 11L",
              "displayName": "Call Status 11L",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Termination Reason",
              "displayName": "Termination Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Reason",
              "displayName": "Error Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Successful 11L?",
              "displayName": "Call Successful 11L?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email recipient",
              "displayName": "Email recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Copy",
              "displayName": "Email Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Conversation Date",
              "displayName": "Conversation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Summary Title",
              "displayName": "Call Summary Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Transcript",
              "displayName": "Call Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SSO Source",
              "displayName": "SSO Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Webhook Called",
              "displayName": "Webhook Called",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential",
              "displayName": "D0 - Confidential",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential Value",
              "displayName": "D0 - Confidential Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential Rationale",
              "displayName": "D0 - Confidential Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name",
              "displayName": "D1 - Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name Value",
              "displayName": "D1 - Client Name Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name Rationale",
              "displayName": "D1 - Client Name Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output",
              "displayName": "D2 - Formatted Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output Value",
              "displayName": "D2 - Formatted Output Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output Rationale",
              "displayName": "D2 - Formatted Output Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description",
              "displayName": "D2 - Matter Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description Value",
              "displayName": "D2 - Matter Description Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description Rationale",
              "displayName": "D2 - Matter Description Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important",
              "displayName": "D2 - Why Important",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important Value",
              "displayName": "D2 - Why Important Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important Rationale",
              "displayName": "D2 - Why Important Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role",
              "displayName": "D2 - Department Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role Value",
              "displayName": "D2 - Department Role Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role Rationale",
              "displayName": "D2 - Department Role Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m",
              "displayName": "D2 - Work Done Last 12m",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m Value",
              "displayName": "D2 - Work Done Last 12m Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m Rationale",
              "displayName": "D2 - Work Done Last 12m Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value",
              "displayName": "D3 - Matter Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Value",
              "displayName": "D3 - Matter Value Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Rationale",
              "displayName": "D3 - Matter Value Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency",
              "displayName": "D3 - Matter Value Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency Value",
              "displayName": "D3 - Matter Value Currency Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency Rationale",
              "displayName": "D3 - Matter Value Currency Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border",
              "displayName": "D4 - Cross Border",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border Value",
              "displayName": "D4 - Cross Border Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border Rationale",
              "displayName": "D4 - Cross Border Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions",
              "displayName": "D4 - Jurisdictions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions Value",
              "displayName": "D4 - Jurisdictions Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions Rationale",
              "displayName": "D4 - Jurisdictions Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name",
              "displayName": "D5 - Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name Value",
              "displayName": "D5 - Lead Lawyer Name Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name Rationale",
              "displayName": "D5 - Lead Lawyer Name Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group",
              "displayName": "D5 - Lead Lawyer Practice Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group Value",
              "displayName": "D5 - Lead Lawyer Practice Group Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group Rationale",
              "displayName": "D5 - Lead Lawyer Practice Group Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office",
              "displayName": "D5 - Lead Lawyer Office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office Value",
              "displayName": "D5 - Lead Lawyer Office Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office Rationale",
              "displayName": "D5 - Lead Lawyer Office Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members",
              "displayName": "D6 - Other Team Members",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members Value",
              "displayName": "D6 - Other Team Members Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members Rationale",
              "displayName": "D6 - Other Team Members Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms",
              "displayName": "D7 - Other Firms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms Value",
              "displayName": "D7 - Other Firms Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms Rationale",
              "displayName": "D7 - Other Firms Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed",
              "displayName": "D8 - Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed Value",
              "displayName": "D8 - Completed Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed Rationale",
              "displayName": "D8 - Completed Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date",
              "displayName": "D8 - Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date Value",
              "displayName": "D8 - Start Date Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date Value Rationale",
              "displayName": "D8 - Start Date Value Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage",
              "displayName": "D9 - Press Coverage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage Value",
              "displayName": "D9 - Press Coverage Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage Rationale",
              "displayName": "D9 - Press Coverage Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information",
              "displayName": "D9 - Other Information",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information Value",
              "displayName": "D9 - Other Information Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information Rationale",
              "displayName": "D9 - Other Information Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "JSON Validation",
              "displayName": "JSON Validation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Is Confidential?",
              "displayName": "MD - Is Confidential?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Client Name",
              "displayName": "MD - Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Client Output",
              "displayName": "MD - Client Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Matter Description",
              "displayName": "MD - Matter Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Department",
              "displayName": "MD - Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Last 12m",
              "displayName": "MD - Last 12m",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Why Important",
              "displayName": "MD - Why Important",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Format Output",
              "displayName": "MD - Format Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Matter Value",
              "displayName": "MD - Matter Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Matter Currency",
              "displayName": "MD - Matter Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Value Output",
              "displayName": "MD - Value Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Cross Border?",
              "displayName": "MD - Cross Border?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdiction 1",
              "displayName": "MD - Jurisdiction 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 2",
              "displayName": "MD - Jurisdiction 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 3",
              "displayName": "MD - Jurisdiction 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 4",
              "displayName": "MD - Jurisdiction 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 5",
              "displayName": "MD - Jurisdiction 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdictions output",
              "displayName": "MD - Jurisdictions output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Name",
              "displayName": "MD - Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Office",
              "displayName": "MD - Lead Lawyer Office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Practice Group",
              "displayName": "MD - Lead Lawyer Practice Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Output",
              "displayName": "MD - Lead Lawyer Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 1",
              "displayName": "MD - Other Team Member 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 1 office",
              "displayName": "MD - Other Team Member 1 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 1 PG",
              "displayName": "MD - Other Team Member 1 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 2",
              "displayName": "MD - Other Team Member 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 2 office",
              "displayName": "MD - Other Team Member 2 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 2 PG",
              "displayName": "MD - Other Team Member 2 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 3",
              "displayName": "MD - Other Team Member 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 3 office",
              "displayName": "MD - Other Team Member 3 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 3 PG",
              "displayName": "MD - Other Team Member 3 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 4",
              "displayName": "MD - Other Team Member 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 4 office",
              "displayName": "MD - Other Team Member 4 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 4 PG",
              "displayName": "MD - Other Team Member 4 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 5",
              "displayName": "MD - Other Team Member 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 5 office",
              "displayName": "MD - Other Team Member 5 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 5 PG",
              "displayName": "MD - Other Team Member 5 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Members Output",
              "displayName": "MD - Other Team Members Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Firms - Name",
              "displayName": "MD - Other Firms - Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Firms - Role",
              "displayName": "MD - Other Firms - Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Firms Output",
              "displayName": "MD - Other Firms Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Start Date",
              "displayName": "MD - Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - End Date",
              "displayName": "MD - End Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Completed",
              "displayName": "MD - Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Date Output",
              "displayName": "MD - Date Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Press Link 1",
              "displayName": "MD - Press Link 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Press Link 2",
              "displayName": "MD - Press Link 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Press Link 3",
              "displayName": "MD - Press Link 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Press Link 4",
              "displayName": "MD - Press Link 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Info",
              "displayName": "MD - Other Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Press Output",
              "displayName": "MD - Press Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Submission Suggestions",
              "displayName": "MD - Submission Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full MD Version of Transcript",
              "displayName": "Full MD Version of Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Sent?",
              "displayName": "Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        112
      ],
      "id": "bc66e49e-f6d1-406f-be08-219ad34d9ca9",
      "name": "Create new conv summary1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/appUvJyzSky12m4HA/tblwdQFcCl09DOjUx/viw5MvKNZEgH3jpNx?blocks=hide",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/appUvJyzSky12m4HA/tblwdQFcCl09DOjUx/viw5MvKNZEgH3jpNx?blocks=hide",
          "mode": "url"
        },
        "triggerField": "Created time",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ],
      "id": "b8f5722f-b1e9-4ce8-a8eb-26d0aa0d500b",
      "name": "New Airtable FG Entry",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Input: JSON array or item with .json.fields object\n// Output: ONE item with all keyvalue pairs as individual markdown entries in a JSON object\n\nfunction escapeMd(text) {\n  if (text === null || text === undefined) return '';\n  const s = String(text);\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([*_`~>|#\\-+!.])/g, '\\\\$1');\n}\n\nfunction normalizeValue(val) {\n  if (val === null) return 'null';\n  if (typeof val === 'boolean') return val ? 'true' : 'false';\n  if (typeof val === 'number') return String(val);\n  if (Array.isArray(val)) return JSON.stringify(val, null, 2);\n  if (typeof val === 'object') return JSON.stringify(val, null, 2);\n  return String(val);\n}\n\nfunction toMarkdown(key, rawVal) {\n  const value = normalizeValue(rawVal);\n  const hasNewline = /[\\r\\n]/.test(value);\n  const longish = value.length > 140;\n\n  if (hasNewline || longish) {\n    return `### ${escapeMd(key)}\\n\\n\\`\\`\\`\\n${value}\\n\\`\\`\\``;\n  }\n  return `- **${escapeMd(key)}**: ${escapeMd(value)}`;\n}\n\nfunction extractFields(items) {\n  if (!Array.isArray(items) || items.length === 0) return null;\n\n  const first = items[0]?.json;\n\n  if (first && first.fields && typeof first.fields === 'object') return first.fields;\n  if (Array.isArray(first) && first[0]?.fields && typeof first[0].fields === 'object') {\n    return first[0].fields;\n  }\n  if (first && typeof first === 'object') {\n    const keys = Object.keys(first);\n    const looksLikeFields = keys.some(k => /D\\d+/.test(k));\n    if (looksLikeFields) return first;\n  }\n\n  return null;\n}\n\nconst fields = extractFields(items);\nif (!fields) {\n  throw new Error('Could not find a `fields` object in the incoming data.');\n}\n\n// Create a single JSON object with each key converted to markdown\nconst markdownFields = {};\nfor (const [key, val] of Object.entries(fields)) {\n  markdownFields[key] = toMarkdown(key, val);\n}\n\nreturn [\n  {\n    json: markdownFields,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        112
      ],
      "id": "9abc8f5c-9cb0-45a8-a98b-75932a55e270",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUvJyzSky12m4HA/tblwdQFcCl09DOjUx/viw5MvKNZEgH3jpNx?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appUvJyzSky12m4HA/tblwdQFcCl09DOjUx/viw5MvKNZEgH3jpNx?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('New Airtable FG Entry').item.json.fields.Email }}",
            "Full MD Version of Transcript": "={{ $json.markdown }}",
            "MD - Matter Value": 0,
            "MD - Cross Border?": false
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Conversation ID",
              "displayName": "Conversation ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call Length (s)",
              "displayName": "Call Length (s)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Length (m)",
              "displayName": "Call Length (m)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call too short",
              "displayName": "Call too short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created by",
              "displayName": "Created by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Modified by",
              "displayName": "Date Modified by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Last Updated",
              "displayName": "Date Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Cost",
              "displayName": "Call Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LLM Charge",
              "displayName": "LLM Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Charge",
              "displayName": "Call Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent ID",
              "displayName": "Agent ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Status 11L",
              "displayName": "Call Status 11L",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Termination Reason",
              "displayName": "Termination Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Reason",
              "displayName": "Error Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Successful 11L?",
              "displayName": "Call Successful 11L?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email recipient",
              "displayName": "Email recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Copy",
              "displayName": "Email Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Conversation Date",
              "displayName": "Conversation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Summary Title",
              "displayName": "Call Summary Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Transcript",
              "displayName": "Call Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SSO Source",
              "displayName": "SSO Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Webhook Called",
              "displayName": "Webhook Called",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential",
              "displayName": "D0 - Confidential",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential Value",
              "displayName": "D0 - Confidential Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential Rationale",
              "displayName": "D0 - Confidential Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name",
              "displayName": "D1 - Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name Value",
              "displayName": "D1 - Client Name Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name Rationale",
              "displayName": "D1 - Client Name Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output",
              "displayName": "D2 - Formatted Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output Value",
              "displayName": "D2 - Formatted Output Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output Rationale",
              "displayName": "D2 - Formatted Output Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description",
              "displayName": "D2 - Matter Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description Value",
              "displayName": "D2 - Matter Description Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description Rationale",
              "displayName": "D2 - Matter Description Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important",
              "displayName": "D2 - Why Important",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important Value",
              "displayName": "D2 - Why Important Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important Rationale",
              "displayName": "D2 - Why Important Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role",
              "displayName": "D2 - Department Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role Value",
              "displayName": "D2 - Department Role Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role Rationale",
              "displayName": "D2 - Department Role Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m",
              "displayName": "D2 - Work Done Last 12m",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m Value",
              "displayName": "D2 - Work Done Last 12m Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m Rationale",
              "displayName": "D2 - Work Done Last 12m Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value",
              "displayName": "D3 - Matter Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Value",
              "displayName": "D3 - Matter Value Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Rationale",
              "displayName": "D3 - Matter Value Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency",
              "displayName": "D3 - Matter Value Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency Value",
              "displayName": "D3 - Matter Value Currency Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency Rationale",
              "displayName": "D3 - Matter Value Currency Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border",
              "displayName": "D4 - Cross Border",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border Value",
              "displayName": "D4 - Cross Border Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border Rationale",
              "displayName": "D4 - Cross Border Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions",
              "displayName": "D4 - Jurisdictions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions Value",
              "displayName": "D4 - Jurisdictions Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions Rationale",
              "displayName": "D4 - Jurisdictions Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name",
              "displayName": "D5 - Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name Value",
              "displayName": "D5 - Lead Lawyer Name Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name Rationale",
              "displayName": "D5 - Lead Lawyer Name Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group",
              "displayName": "D5 - Lead Lawyer Practice Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group Value",
              "displayName": "D5 - Lead Lawyer Practice Group Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group Rationale",
              "displayName": "D5 - Lead Lawyer Practice Group Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office",
              "displayName": "D5 - Lead Lawyer Office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office Value",
              "displayName": "D5 - Lead Lawyer Office Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office Rationale",
              "displayName": "D5 - Lead Lawyer Office Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members",
              "displayName": "D6 - Other Team Members",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members Value",
              "displayName": "D6 - Other Team Members Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members Rationale",
              "displayName": "D6 - Other Team Members Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms",
              "displayName": "D7 - Other Firms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms Value",
              "displayName": "D7 - Other Firms Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms Rationale",
              "displayName": "D7 - Other Firms Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed",
              "displayName": "D8 - Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed Value",
              "displayName": "D8 - Completed Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed Rationale",
              "displayName": "D8 - Completed Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date",
              "displayName": "D8 - Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date Value",
              "displayName": "D8 - Start Date Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date Value Rationale",
              "displayName": "D8 - Start Date Value Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage",
              "displayName": "D9 - Press Coverage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage Value",
              "displayName": "D9 - Press Coverage Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage Rationale",
              "displayName": "D9 - Press Coverage Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information",
              "displayName": "D9 - Other Information",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information Value",
              "displayName": "D9 - Other Information Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information Rationale",
              "displayName": "D9 - Other Information Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "JSON Validation",
              "displayName": "JSON Validation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Is Confidential?",
              "displayName": "MD - Is Confidential?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Client Name",
              "displayName": "MD - Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Client Output",
              "displayName": "MD - Client Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Matter Description",
              "displayName": "MD - Matter Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Department",
              "displayName": "MD - Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Last 12m",
              "displayName": "MD - Last 12m",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Why Important",
              "displayName": "MD - Why Important",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Format Output",
              "displayName": "MD - Format Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Matter Value",
              "displayName": "MD - Matter Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Matter Currency",
              "displayName": "MD - Matter Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Value Output",
              "displayName": "MD - Value Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Cross Border?",
              "displayName": "MD - Cross Border?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 1",
              "displayName": "MD - Jurisdiction 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 2",
              "displayName": "MD - Jurisdiction 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 3",
              "displayName": "MD - Jurisdiction 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 4",
              "displayName": "MD - Jurisdiction 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdiction 5",
              "displayName": "MD - Jurisdiction 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Jurisdictions output",
              "displayName": "MD - Jurisdictions output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Name",
              "displayName": "MD - Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Office",
              "displayName": "MD - Lead Lawyer Office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Practice Group",
              "displayName": "MD - Lead Lawyer Practice Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Lead Lawyer Output",
              "displayName": "MD - Lead Lawyer Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 1",
              "displayName": "MD - Other Team Member 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 1 office",
              "displayName": "MD - Other Team Member 1 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 1 PG",
              "displayName": "MD - Other Team Member 1 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 2",
              "displayName": "MD - Other Team Member 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 2 office",
              "displayName": "MD - Other Team Member 2 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MD - Other Team Member 2 PG",
              "displayName": "MD - Other Team Member 2 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 3",
              "displayName": "MD - Other Team Member 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 3 office",
              "displayName": "MD - Other Team Member 3 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 3 PG",
              "displayName": "MD - Other Team Member 3 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 4",
              "displayName": "MD - Other Team Member 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 4 office",
              "displayName": "MD - Other Team Member 4 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 4 PG",
              "displayName": "MD - Other Team Member 4 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 5",
              "displayName": "MD - Other Team Member 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 5 office",
              "displayName": "MD - Other Team Member 5 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 5 PG",
              "displayName": "MD - Other Team Member 5 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Members Output",
              "displayName": "MD - Other Team Members Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Firms - Name",
              "displayName": "MD - Other Firms - Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Firms - Role",
              "displayName": "MD - Other Firms - Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Firms Output",
              "displayName": "MD - Other Firms Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Start Date",
              "displayName": "MD - Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - End Date",
              "displayName": "MD - End Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Completed",
              "displayName": "MD - Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Date Output",
              "displayName": "MD - Date Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 1",
              "displayName": "MD - Press Link 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 2",
              "displayName": "MD - Press Link 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 3",
              "displayName": "MD - Press Link 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 4",
              "displayName": "MD - Press Link 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Info",
              "displayName": "MD - Other Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Output",
              "displayName": "MD - Press Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Submission Suggestions",
              "displayName": "MD - Submission Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full MD Version of Transcript",
              "displayName": "Full MD Version of Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Sent?",
              "displayName": "Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        112
      ],
      "id": "9a055bbe-3533-4396-9322-a5edad61e719",
      "name": "Create new conv summary2",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Input: your JSON array or an item whose `json.fields` is the object shown\n// Output: ONE item with a combined Markdown string for all variables\n\nfunction escapeMd(text) {\n  if (text === null || text === undefined) return '';\n  const s = String(text);\n  // Escape Markdown control chars\n  return s\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([*_`~>|#\\-+!.])/g, '\\\\$1');\n}\n\nfunction normalizeValue(val) {\n  if (val === null) return 'null';\n  if (typeof val === 'boolean') return val ? 'true' : 'false';\n  if (typeof val === 'number') return String(val);\n  if (Array.isArray(val)) return JSON.stringify(val, null, 2);\n  if (typeof val === 'object') return JSON.stringify(val, null, 2);\n  return String(val);\n}\n\nfunction toMarkdown(key, rawVal) {\n  const value = normalizeValue(rawVal);\n  const hasNewline = /[\\r\\n]/.test(value);\n  const longish = value.length > 140;\n\n  // Block style for long or multi-line values\n  if (hasNewline || longish) {\n    return `### ${escapeMd(key)}\\n\\n\\`\\`\\`\\n${value}\\n\\`\\`\\`\\n`;\n  }\n\n  // Compact line for short values\n  return `- **${escapeMd(key)}**: ${escapeMd(value)}`;\n}\n\nfunction extractFields(items) {\n  if (!Array.isArray(items) || items.length === 0) return null;\n\n  const first = items[0]?.json;\n\n  if (first && first.fields && typeof first.fields === 'object') return first.fields;\n  if (Array.isArray(first) && first[0]?.fields && typeof first[0].fields === 'object') {\n    return first[0].fields;\n  }\n\n  if (first && typeof first === 'object') {\n    const keys = Object.keys(first);\n    const looksLikeFields = keys.some(k => /D\\d+/.test(k));\n    if (looksLikeFields) return first;\n  }\n\n  return null;\n}\n\nconst fields = extractFields(items);\nif (!fields) {\n  throw new Error('Could not find a `fields` object in the incoming data. Make sure the input matches your example.');\n}\n\n// Combine all Markdown entries into one long Markdown string\nconst markdownBlocks = Object.entries(fields).map(([key, val]) => toMarkdown(key, val));\nconst combinedMarkdown = markdownBlocks.join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      markdown: combinedMarkdown,\n      totalFields: Object.keys(fields).length,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        112
      ],
      "id": "1e5123f5-c37d-40ba-9c57-934c462b4314",
      "name": "Code in JavaScript2",
      "executeOnce": false
    }
  ],
  "connections": {
    "New Airtable FG Entry": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new conv summary1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create new conv summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Create new conv summary2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:New Conversation1": {
      "lastTimeChecked": "2025-11-02T18:51:46Z"
    },
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-10-27T12:25:02Z"
    },
    "node:New Airtable FG Entry": {
      "lastTimeChecked": "2025-11-02T20:07:45Z"
    }
  },
  "pinData": {
    "New Airtable FG Entry": [
      {
        "json": {
          "id": "recuqSsJITrgUqK8H",
          "createdTime": "2025-11-02T20:02:37.000Z",
          "fields": {
            "Conversation ID": "conv_8301k863w3aje7zsseja8mtzjkw3",
            "Full Name": "Sam Stamp",
            "Last Name": "Stamp",
            "First Name": "Sam",
            "Email": "sam@legalengine.co.uk",
            "Conversation Date": "2025-10-22T14:08:28.547963+00:00",
            "Call Transcript": "# unknown\n\n\n\n## Metadata\n| Key | Value |\n|---|---|\n| Type | unknown |\n| Status | unknown |\n| Event (epoch) |  |\n| Event (ISO) |  |\n| Conversation ID | unknown |\n| Agent ID |  |\n| Agent turns | 0 |\n| User turns | 0 |\n| Last reported call secs | 0 |\n\n## Jurisdictions (detected)\n- Not clearly stated\n\n## Amounts (detected)\n- None detected\n\n## Participants (possible)\n- Not extracted\n\n## Transcript (turn-by-turn table)\n| # | Speaker | Message |\n|---:|---|---|\n| 1 | - | _No transcript entries found_ |\n\n## Transcript (expanded)\n_No transcript entries found_\n\n\n---\n\n## Raw (truncated)\n\n<details>\n<summary>Headers</summary>\n\n```json\n{}\n```\n</details>\n\n<details>\n<summary>Query</summary>\n\n```json\n{}\n```\n</details>\n\n<details>\n<summary>Params</summary>\n\n```json\n{}\n```\n</details>\n\n<details>\n<summary>Body</summary>\n\n```json\n{\n  \"id\": \"recKepgD3JZAgmoty\",\n  \"createdTime\": \"2025-10-22T14:08:35.000Z\",\n  \"fields\": {\n    \"Full Name\": \"Sam Stamp\",\n    \"Last Name\": \"Stamp\",\n    \"First Name\": \"Sam\",\n    \"Email\": \"sam@legalengine.co.uk\",\n    \"Conversation Date\": \"2025-10-22T14:08:28.547963+00:00\",\n    \"Call Length (s)\": 123,\n    \"Agent ID\": \"agent_3301k64athwafh581chk4mhvdjx1\",\n    \"Conversation ID\": \"conv_8301k863w3aje7zsseja8mtzjkw3\",\n    \"Call Summary\": \"The AI agent is assisting Sam with documenting a matter for a Chambers submission. The conversation covers whether the matter is confidential, the client's name (Legal Engine), a description of the matter (drafting a shareholders' agreement during incorporation and initial funding), the department's role, work completed in the last 12 months (tax and SEIS advice), and why the matter was important. The agent attempts to use a tool called \\\"run_code\\\" to set fields, but the tool is not found and the calls fail.\\n\",\n    \"Call Status 11L\": \"done\",\n    \"Call Cost\": 1461,\n    \"LLM Charge\": 15,\n    \"Call Charge\": 1446,\n    \"Termination Reason\": \"Client disconnected: 1005\",\n    \"Call Successful 11L?\": \"success\",\n    \"Date Last Updated\": \"2025-10-22T14:08:35.000Z\",\n    \"SSO Source\": \"microsoft\",\n    \"Webhook Called\": \"https://leonard-dev.app.n8n.cloud/webhook/fladgate-transcript\",\n    \"Call Summary Title\": \"Chambers Submission Documentation\",\n    \"D1 - Client Name\": \"D1_client_name\",\n    \"D2 - Formatted Output\": \"D2_formatted_output\",\n    \"D3 - Matter Value\": \"D3_matter_value\",\n    \"D4 - Cross Border\": \"D4_is_cross_border\",\n    \"D5 - Lead Lawyer Practice Group\": \"D5_lead_lawyer_practice_group\",\n    \"D6 - Other Team Members\": \"D6_other_team_members_list\",\n    \"D7 - Other Firms\": \"D7_other_firms\",\n    \"D8 - Completed\": \"D8_completed\",\n    \"D9 - Other Information\": \"D9_other_information\",\n    \"D2 - Why Important\": \"D2_why_important\",\n    \"D0 - Confidential\": \"D0_confidential\",\n    \"D5 - Lead Lawyer Office\": \"D5_lead_lawyer_office\",\n    \"D5 - Lead Lawyer Name\": \"D5_lead_lawyer_name\",\n    \"D4 - Jurisdictions\": \"D4_jurisdictions\",\n    \"D2 - Department Role\": \"D2_department_role\",\n    \"D9 - Press Coverage\": \"D9_press_coverage_links\",\n    \"D3 - Matter Value Currency\": \"D3_matter_value_currency\",\n    \"D2 - Work Done Last 12m\": \"D2_work_done_last_12_months\",\n    \"D8 - Start Date\": \"D8_start_date\",\n    \"D2 - Matter Description\": \"D2_matter_description\",\n    \"D0 - Confidential Rationale\": \"The agent asks 'First, is this matter confidential or can it be published?' and the user responds 'It can be published.' Therefore, the matter is not confidential, so the value is FALSE.\",\n    \"D1 - Client Name Value\": \"Legal Engine\",\n    \"D1 - Client Name Rationale\": \"The client's name is mentioned in the conversation as 'Legal Engine' at 2025-10-22T14:07:00+00:00. This is the information I will extract.\",\n    \"D2 - Formatted Output Value\": \"Our team acted as the lead commercial law firm, advising the founders on tax implications for company setup and SEIS arrangements for investors. This matter was important because our firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.\",\n    \"D2 - Formatted Output Rationale\": \"The user provided the following information: \\\"Yes, so we were the lead commercial law firm advising founders on everything from the tax around how they needed to set up as well as the SEIS set up for their investors\\\". This describes the work done in the past 12 months. The user also stated: \\\"We did all of the work that happened in the last 12 months.\\\", which provides context about the matter and why it was important.\",\n    \"D2 - Matter Description Value\": \"This matter was important because our firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.\",\n    \"D2 - Matter Description Rationale\": \"The user describes the matter as helping Legal Engine with writing their shareholders agreement as they incorporated and did their first raise. This was important because the firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.\",\n    \"D2 - Why Important Value\": \"This matter was important because our firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.\",\n    \"D2 - Why Important Rationale\": \"The agent asks 'Why was this matter particularly important to your client, your firm, or the broader legal market? Was it precedent-setting?...' and the user responds with 'We did all of the work that happened in the last 12 months.' This response is used to populate the value.\",\n    \"D2 - Department Role Value\": \"We were helping Legal Engine do their shareholders agreement for their first raise\",\n    \"D2 - Department Role Rationale\": \"The user stated that 'We were helping Legal Engine do their shareholders agreement for their first raise'. This describes the role of the department in the matter.\",\n    \"D2 - Work Done Last 12m Value\": \"Our team acted as the lead commercial law firm, advising the founders on tax implications for company setup and SEIS arrangements for investors.\",\n    \"D2 - Work Done Last 12m Rationale\": \"The user stated: \\\"Yes, so we were the lead commercial law firm advising founders on everything from the tax around how they needed to set up as well as the SEIS set up for their investors\\\". This directly answers the question about the work done in the past 12 months.\",\n    \"D3 - Matter Value Rationale\": \"I am unable to extract the matter value from the conversation, as the conversation does not contain any information about the matter value in the format of \\\"500 million\\\" or \\\"USD 2.3 billion\\\".\",\n    \"D3 - Matter Value Currency Rationale\": \"I could not find any explicit mention of the currency used in the conversation. Therefore, I cannot extract the currency of the matter value.\",\n    \"D4 - Cross Border Rationale\": \"The conversation does not provide any information about whether the case is cross border or not. Therefore, it is not possible to determine the value of the 'cross_border' variable.\",\n    \"D4 - Jurisdictions Rationale\": \"The conversation does not explicitly mention the jurisdictions applicable to the matter. The matter involves advising a client on their shareholders agreement, tax implications, and SEIS arrangements, but it doesn't specify which country or countries' laws are relevant. Therefore, I cannot extract the requested information.\",\n    \"D5 - Lead Lawyer Name Rationale\": \"The conversation does not contain the name of the lead lawyer. Therefore, it is not possible to extract the data.\",\n    \"D5 - Lead Lawyer Practice Group Rationale\": \"The transcript does not explicitly mention the practice group of the lead lawyer. Therefore, it is not possible to extract this information.\",\n    \"D5 - Lead Lawyer Office Rationale\": \"I am unable to extract the office of the lead lawyer from the provided conversation. The conversation focuses on the details of a legal matter involving Legal Engine, but it does not mention the office of the lead lawyer.\",\n    \"D6 - Other Team Members Rationale\": \"There is no mention of other team members in the provided conversation. Therefore, it is not possible to extract the requested information.\",\n    \"D7 - Other Firms Rationale\": \"There is no mention of other firms in the provided conversation transcript. Therefore, the value is null.\",\n    \"D8 - Completed Rationale\": \"I cannot determine from the conversation if the matter has been completed or closed. The conversation is about documenting a matter, but there is no explicit mention of its current status.\",\n    \"D8 - Start Date Value Rationale\": \"I am unable to extract the start date of the matter from the conversation. The conversation does not explicitly mention the start date of the matter.\",\n    \"D9 - Press Coverage Rationale\": \"The user has not provided any URLs for press coverage in the conversation. Therefore, it is not possible to extract the data.\",\n    \"D9 - Other Information Rationale\": \"There is no additional information about the matter that is not covered in the other variables in the conversation.\",\n    \"Date Modified by\": {\n      \"id\": \"usr5IyyKTeTSJZ7db\",\n      \"email\": \"leonard@legalengine.co.uk\",\n      \"name\": \"Leonard\"\n    },\n    \"Created by\": {\n      \"id\": \"usr5IyyKTeTSJZ7db\",\n      \"email\": \"leonard@legalengine.co.uk\",\n      \"name\": \"Leonard\"\n    },\n    \"Created time\": \"2025-10-22T14:08:35.000Z\",\n    \"Call Length (m)\": 2.05\n  }\n}\n```\n</details>\n",
            "Call Length (s)": 123,
            "Agent ID": "agent_3301k64athwafh581chk4mhvdjx1",
            "Call Summary": "The AI agent is assisting Sam with documenting a matter for a Chambers submission. The conversation covers whether the matter is confidential, the client's name (Legal Engine), a description of the matter (drafting a shareholders' agreement during incorporation and initial funding), the department's role, work completed in the last 12 months (tax and SEIS advice), and why the matter was important. The agent attempts to use a tool called \"run_code\" to set fields, but the tool is not found and the calls fail.\n",
            "Call Status 11L": "done",
            "Call Cost": 1461,
            "LLM Charge": 15,
            "Call Charge": 1446,
            "Termination Reason": "Client disconnected: 1005",
            "Call Successful 11L?": "success",
            "Date Last Updated": "2025-11-02T20:02:38.000Z",
            "SSO Source": "microsoft",
            "Webhook Called": "https://leonard-dev.app.n8n.cloud/webhook/fladgate-transcript",
            "Call Summary Title": "Chambers Submission Documentation",
            "D1 - Client Name": "D1_client_name",
            "D2 - Formatted Output": "D2_formatted_output",
            "D3 - Matter Value": "D3_matter_value",
            "D4 - Cross Border": "D4_is_cross_border",
            "D5 - Lead Lawyer Practice Group": "D5_lead_lawyer_practice_group",
            "D6 - Other Team Members": "D6_other_team_members_list",
            "D7 - Other Firms": "D7_other_firms",
            "D8 - Completed": "D8_completed",
            "D9 - Other Information": "D9_other_information",
            "D2 - Why Important": "D2_why_important",
            "D0 - Confidential": "D0_confidential",
            "D5 - Lead Lawyer Office": "D5_lead_lawyer_office",
            "D5 - Lead Lawyer Name": "D5_lead_lawyer_name",
            "D4 - Jurisdictions": "D4_jurisdictions",
            "D2 - Department Role": "D2_department_role",
            "D9 - Press Coverage": "D9_press_coverage_links",
            "D3 - Matter Value Currency": "D3_matter_value_currency",
            "D2 - Work Done Last 12m": "D2_work_done_last_12_months",
            "D8 - Start Date": "D8_start_date",
            "D2 - Matter Description": "D2_matter_description",
            "D0 - Confidential Rationale": "The agent asks 'First, is this matter confidential or can it be published?' and the user responds 'It can be published.' Therefore, the matter is not confidential, so the value is FALSE.",
            "D1 - Client Name Value": "Legal Engine",
            "D1 - Client Name Rationale": "The client's name is mentioned in the conversation as 'Legal Engine' at 2025-10-22T14:07:00+00:00. This is the information I will extract.",
            "D2 - Formatted Output Value": "Our team acted as the lead commercial law firm, advising the founders on tax implications for company setup and SEIS arrangements for investors. This matter was important because our firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.",
            "D2 - Formatted Output Rationale": "The user provided the following information: \"Yes, so we were the lead commercial law firm advising founders on everything from the tax around how they needed to set up as well as the SEIS set up for their investors\". This describes the work done in the past 12 months. The user also stated: \"We did all of the work that happened in the last 12 months.\", which provides context about the matter and why it was important.",
            "D2 - Matter Description Value": "This matter was important because our firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.",
            "D2 - Matter Description Rationale": "The user describes the matter as helping Legal Engine with writing their shareholders agreement as they incorporated and did their first raise. This was important because the firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.",
            "D2 - Why Important Value": "This matter was important because our firm handled all the legal work for Legal Engine's incorporation and first raise within the last 12 months, covering tax and SEIS setup.",
            "D2 - Why Important Rationale": "The agent asks 'Why was this matter particularly important to your client, your firm, or the broader legal market? Was it precedent-setting?...' and the user responds with 'We did all of the work that happened in the last 12 months.' This response is used to populate the value.",
            "D2 - Department Role Value": "We were helping Legal Engine do their shareholders agreement for their first raise",
            "D2 - Department Role Rationale": "The user stated that 'We were helping Legal Engine do their shareholders agreement for their first raise'. This describes the role of the department in the matter.",
            "D2 - Work Done Last 12m Value": "Our team acted as the lead commercial law firm, advising the founders on tax implications for company setup and SEIS arrangements for investors.",
            "D2 - Work Done Last 12m Rationale": "The user stated: \"Yes, so we were the lead commercial law firm advising founders on everything from the tax around how they needed to set up as well as the SEIS set up for their investors\". This directly answers the question about the work done in the past 12 months.",
            "D3 - Matter Value Rationale": "I am unable to extract the matter value from the conversation, as the conversation does not contain any information about the matter value in the format of \"500 million\" or \"USD 2.3 billion\".",
            "D3 - Matter Value Currency Rationale": "I could not find any explicit mention of the currency used in the conversation. Therefore, I cannot extract the currency of the matter value.",
            "D4 - Cross Border Rationale": "The conversation does not provide any information about whether the case is cross border or not. Therefore, it is not possible to determine the value of the 'cross_border' variable.",
            "D4 - Jurisdictions Rationale": "The conversation does not explicitly mention the jurisdictions applicable to the matter. The matter involves advising a client on their shareholders agreement, tax implications, and SEIS arrangements, but it doesn't specify which country or countries' laws are relevant. Therefore, I cannot extract the requested information.",
            "D5 - Lead Lawyer Name Rationale": "The conversation does not contain the name of the lead lawyer. Therefore, it is not possible to extract the data.",
            "D5 - Lead Lawyer Practice Group Rationale": "The transcript does not explicitly mention the practice group of the lead lawyer. Therefore, it is not possible to extract this information.",
            "D5 - Lead Lawyer Office Rationale": "I am unable to extract the office of the lead lawyer from the provided conversation. The conversation focuses on the details of a legal matter involving Legal Engine, but it does not mention the office of the lead lawyer.",
            "D6 - Other Team Members Rationale": "There is no mention of other team members in the provided conversation. Therefore, it is not possible to extract the requested information.",
            "D7 - Other Firms Rationale": "There is no mention of other firms in the provided conversation transcript. Therefore, the value is null.",
            "D8 - Completed Rationale": "I cannot determine from the conversation if the matter has been completed or closed. The conversation is about documenting a matter, but there is no explicit mention of its current status.",
            "D8 - Start Date Value Rationale": "I am unable to extract the start date of the matter from the conversation. The conversation does not explicitly mention the start date of the matter.",
            "D9 - Press Coverage Rationale": "The user has not provided any URLs for press coverage in the conversation. Therefore, it is not possible to extract the data.",
            "D9 - Other Information Rationale": "There is no additional information about the matter that is not covered in the other variables in the conversation.",
            "Date Modified by": {
              "id": "usr5IyyKTeTSJZ7db",
              "email": "leonard@legalengine.co.uk",
              "name": "Leonard"
            },
            "Created by": {
              "id": "usr5IyyKTeTSJZ7db",
              "email": "leonard@legalengine.co.uk",
              "name": "Leonard"
            },
            "Created time": "2025-11-02T20:02:37.000Z",
            "Call Length (m)": 2.05,
            "Email Sent?": true
          }
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}