leonard-dev-workflows/dev/kMO0rXhViTBuWZjy-DEV_W2_Post_Call_Luke_create_Agent_with_KB.json
{
  "name": "DEV - W2 - Post Call Luke create Agent with KB",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/convai/knowledge-base/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_3eca705a3c2780af4cb1116beb64d3e1d3bfc187a8d565f8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Daily Meeting KB - {{ $('Today').item.json.currentDate }}"
            },
            {
              "name": "text",
              "value": "={{ $('Set Nodes to pass2').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        -240
      ],
      "id": "040405a0-7c74-48a4-a88b-fbc315261972",
      "name": "Create KB"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/convai/agents/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_3eca705a3c2780af4cb1116beb64d3e1d3bfc187a8d565f8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"agent_id\": \"agent_0201k4b73d15egvvd88yqxzvz19g\",\n    \"name\": \"N8N TEST: Luke - Post Meeting Follow Up [owner: Andy] - {{ $('Today').item.json.currentDate }}\",\n    \"conversation_config\": {\n        \"asr\": {\n            \"quality\": \"high\",\n            \"provider\": \"elevenlabs\",\n            \"user_input_audio_format\": \"pcm_16000\",\n            \"keywords\": []\n        },\n        \"turn\": {\n            \"turn_timeout\": 10.0,\n            \"silence_end_call_timeout\": -1.0,\n            \"mode\": \"turn\"\n        },\n        \"tts\": {\n            \"model_id\": \"eleven_flash_v2\",\n            \"voice_id\": \"AwP2bjcqrSky0yiDhZSe\",\n            \"supported_voices\": [],\n            \"agent_output_audio_format\": \"pcm_16000\",\n            \"optimize_streaming_latency\": 4,\n            \"stability\": 0.65,\n            \"speed\": 0.99,\n            \"similarity_boost\": 0.45,\n            \"pronunciation_dictionary_locators\": []\n        },\n        \"conversation\": {\n            \"text_only\": false,\n            \"max_duration_seconds\": 3600,\n            \"client_events\": [\n                \"audio\",\n                \"interruption\"\n            ]\n        },\n        \"language_presets\": {},\n        \"agent\": {\n            \"first_message\": \"How was your meeting with {{ $('Set Nodes to pass2').item.json.biz }} Andy? Ready for a quick debrief?\",\n            \"language\": \"en\",\n            \"dynamic_variables\": {\n                \"dynamic_variable_placeholders\": {}\n            },\n            \"prompt\": {\n                \"prompt\": \"VOICE AGENT SYSTEM PROMPT \u2014 Luke (Post-Meeting Coaching Assistant) \u2014 Robust v3 (Summary Read-Back Guaranteed)\\nRole & Persona\\n\\nYou are Luke, an expert legal Business Development assistant. You are professional yet approachable, and your role is to coach a lawyer immediately after a client meeting. Your job is to capture key insights, context, and next steps in a structured but conversational way.\\n\\nBe concise, friendly, and focused.\\n\\nRecognise and record information even if given out of sequence.\\n\\nDo not paraphrase user responses until the final structured summary.\\n\\nThe year is 2025, and Legal Engine launched on 2 June 2025.\\n\\nCore Objectives\\n\\nEnsure the lawyer reflects on the meeting and provides both factual and contextual insights.\\n\\nCapture the highest-value actions for internal or client follow-up, with owners and timing where possible.\\n\\nAlways ask the explicit questions (below) in order.\\n\\nWhen appropriate, suggest next steps (e.g., schedule follow-up, share materials, cross-sell, internal approvals).\\n\\nMandatory read-back: After Q3, you must produce and speak a concise structured summary, every time.\\n\\nDialogue Flow (Deterministic State Machine with Summary Read-Back Guard)\\n\\nS0: Warm Start (optional, \u22641 turn)\\n\u201cLet\u2019s capture the key points from your meeting. I\u2019ll ask three quick questions.\u201d\\n\\nS1: Question 1\\n\u201cIs there any additional context you want to capture now that the client isn\u2019t around?\u201d\\n\\nS2: Question 2\\n\u201cWhat are the immediate next steps and when is the next touch point or meeting?\u201d\\nIf owner unclear: \u201cWho should own that action?\u201d\\n\\nS3: Question 3\\n\u201cIs there anyone internally we should introduce the client to?\u201d\\n\\nS4: Structured Summary \u2014 Read-Back is Mandatory\\n\\nGenerate the final structured summary (see Summary Format).\\n\\nOnce the summary is agreed, say, \\\"I'll send you over a summary via email now, please allow a few minutes for it to land in your inbox.\\\"\",\n                \"llm\": \"gemini-2.5-flash-lite\",\n                \"temperature\": 0.3,\n                \"max_tokens\": -1,\n                \"tool_ids\": [],\n                \"built_in_tools\": {\n                    \"end_call\": {\n                        \"type\": \"system\",\n                        \"name\": \"end_call\",\n                        \"description\": \"\",\n                        \"response_timeout_secs\": 20,\n                        \"disable_interruptions\": false,\n                        \"force_pre_tool_speech\": false,\n                        \"assignments\": [],\n                        \"params\": {\n                            \"system_tool_type\": \"end_call\"\n                        }\n                    },\n                    \"language_detection\": null,\n                    \"transfer_to_agent\": null,\n                    \"transfer_to_number\": null,\n                    \"skip_turn\": null,\n                    \"play_keypad_touch_tone\": null,\n                    \"voicemail_detection\": {\n                        \"type\": \"system\",\n                        \"name\": \"voicemail_detection\",\n                        \"description\": \"\",\n                        \"response_timeout_secs\": 20,\n                        \"disable_interruptions\": false,\n                        \"force_pre_tool_speech\": false,\n                        \"assignments\": [],\n                        \"params\": {\n                            \"system_tool_type\": \"voicemail_detection\",\n                            \"voicemail_message\": \"Hi, this is Luke from Legal Engine, I've just tried to call to get a quick debrief on your last meeting. Speak soon.\"\n                        }\n                    }\n                },\n                \"mcp_server_ids\": [],\n                \"native_mcp_server_ids\": [],\n                \"knowledge_base\": [\n  {\n                        \"type\": \"text\",\n                        \"name\": \"text\",\n                        \"id\": \"{{ $('Create KB').item.json.id }}\",\n                        \"usage_mode\": \"prompt\"\n                    },                 \n                    {\n                        \"type\": \"text\",\n                        \"name\": \"old_pitch_deck_updated_Feb_2025_33d243.txt\",\n                        \"id\": \"x5czocKtT2gFjii3zilv\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"name\": \"Legal Engine Pitch - Q2 Update.pdf\",\n                        \"id\": \"MTpwK0CrEtUiXwgBm8iR\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"name\": \"Legal Engine - Voice-Enabled Legal Insights Platform\",\n                        \"id\": \"cVtHD9YVd694frbPrdcp\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"Eduardo Aguilar Pelaez, MEng, PhD, MBA - Legal Engine | LinkedIn\",\n                        \"id\": \"3mFCiXHku9ztKIF3wEhk\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"Lee Curtis - Legal Engine | LinkedIn\",\n                        \"id\": \"nOJjal7lkUVPed2qWVNY\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"Sam Stamp - LINAR Consulting Ltd | LinkedIn\",\n                        \"id\": \"e2duhzBJ1ZnOdumAhBqN\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"Andy Batty - Deliveroo | LinkedIn\",\n                        \"id\": \"2iraNikPTduYn5k35cOm\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"Getting the best of directory submissions and how to work with your BD team\",\n                        \"id\": \"Mqlgv1gjqpsM0F25hARc\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"GitHub - noslegal/taxonomy: noslegal taxonomy facets and release notes\",\n                        \"id\": \"WTSeALM0hCdp3JOAQkh7\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"url\",\n                        \"name\": \"taxonomy/2025.03 v3 noslegal release/2025.03 guide - noslegal 3.0.pdf at main \u00b7 noslegal/taxonomy\",\n                        \"id\": \"asdugn4RGhF5gvo638Mz\",\n                        \"usage_mode\": \"auto\"\n                    },\n                    {\n                        \"type\": \"file\",\n                        \"name\": \"MASTER - Legal Engine Agents_security architecture.docx\",\n                        \"id\": \"ppbrfEfQtSZAeubOmOd0\",\n                        \"usage_mode\": \"auto\"\n                    }\n                ],\n                \"custom_llm\": null,\n                \"ignore_default_personality\": false,\n                \"rag\": {\n                    \"enabled\": true,\n                    \"embedding_model\": \"e5_mistral_7b_instruct\",\n                    \"max_vector_distance\": 0.6,\n                    \"max_documents_length\": 50000,\n                    \"max_retrieved_rag_chunks_count\": 20\n                },\n                \"timezone\": null,\n                \"tools\": [\n                    {\n                        \"type\": \"system\",\n                        \"name\": \"end_call\",\n                        \"description\": \"\",\n                        \"response_timeout_secs\": 20,\n                        \"disable_interruptions\": false,\n                        \"force_pre_tool_speech\": false,\n                        \"assignments\": [],\n                        \"params\": {\n                            \"system_tool_type\": \"end_call\"\n                        }\n                    },\n                    {\n                        \"type\": \"system\",\n                        \"name\": \"voicemail_detection\",\n                        \"description\": \"\",\n                        \"response_timeout_secs\": 20,\n                        \"disable_interruptions\": false,\n                        \"force_pre_tool_speech\": false,\n                        \"assignments\": [],\n                        \"params\": {\n                            \"system_tool_type\": \"voicemail_detection\",\n                            \"voicemail_message\": \"Hi, this is Luke from Legal Engine, I've just tried to call to get a quick debrief on your last meeting. Speak soon.\"\n                        }\n                    }\n                ]\n            }\n        }\n    },\n    \"metadata\": {\n        \"created_at_unix_secs\": 1757018174,\n        \"updated_at_unix_secs\": 1757018174\n    },\n    \"platform_settings\": {\n        \"auth\": {\n            \"enable_auth\": false,\n            \"allowlist\": [],\n            \"shareable_token\": null\n        },\n        \"evaluation\": {\n            \"criteria\": []\n        },\n        \"widget\": {\n            \"variant\": \"full\",\n            \"placement\": \"bottom-right\",\n            \"expandable\": \"never\",\n            \"avatar\": {\n                \"type\": \"orb\",\n                \"color_1\": \"#2792dc\",\n                \"color_2\": \"#9ce6e6\"\n            },\n            \"feedback_mode\": \"during\",\n            \"bg_color\": \"#ffffff\",\n            \"text_color\": \"#000000\",\n            \"btn_color\": \"#000000\",\n            \"btn_text_color\": \"#ffffff\",\n            \"border_color\": \"#e1e1e1\",\n            \"focus_color\": \"#000000\",\n            \"border_radius\": null,\n            \"btn_radius\": null,\n            \"action_text\": null,\n            \"start_call_text\": null,\n            \"end_call_text\": null,\n            \"expand_text\": null,\n            \"listening_text\": null,\n            \"speaking_text\": null,\n            \"shareable_page_text\": null,\n            \"shareable_page_show_terms\": false,\n            \"terms_text\": null,\n            \"terms_html\": null,\n            \"terms_key\": null,\n            \"show_avatar_when_collapsed\": false,\n            \"disable_banner\": false,\n            \"override_link\": null,\n            \"mic_muting_enabled\": false,\n            \"transcript_enabled\": false,\n            \"text_input_enabled\": false,\n            \"default_expanded\": false,\n            \"always_expanded\": false,\n            \"text_contents\": {\n                \"main_label\": \"Ready to debrief?\",\n                \"start_call\": \"Chat now\",\n                \"start_chat\": null,\n                \"new_call\": null,\n                \"end_call\": null,\n                \"mute_microphone\": null,\n                \"change_language\": null,\n                \"collapse\": null,\n                \"expand\": null,\n                \"copied\": null,\n                \"accept_terms\": null,\n                \"dismiss_terms\": null,\n                \"listening_status\": null,\n                \"speaking_status\": null,\n                \"connecting_status\": null,\n                \"chatting_status\": null,\n                \"input_label\": null,\n                \"input_placeholder\": null,\n                \"input_placeholder_text_only\": null,\n                \"input_placeholder_new_conversation\": null,\n                \"user_ended_conversation\": null,\n                \"agent_ended_conversation\": null,\n                \"conversation_id\": null,\n                \"error_occurred\": null,\n                \"copy_id\": null\n            },\n            \"styles\": {\n                \"base\": null,\n                \"base_hover\": null,\n                \"base_active\": null,\n                \"base_border\": null,\n                \"base_subtle\": null,\n                \"base_primary\": null,\n                \"base_error\": null,\n                \"accent\": null,\n                \"accent_hover\": null,\n                \"accent_active\": null,\n                \"accent_border\": null,\n                \"accent_subtle\": null,\n                \"accent_primary\": null,\n                \"overlay_padding\": null,\n                \"button_radius\": null,\n                \"input_radius\": null,\n                \"bubble_radius\": null,\n                \"sheet_radius\": null,\n                \"compact_sheet_radius\": null,\n                \"dropdown_sheet_radius\": null\n            },\n            \"language_selector\": false,\n            \"supports_text_only\": false,\n            \"custom_avatar_path\": null,\n            \"language_presets\": {}\n        },\n        \"data_collection\": {},\n        \"overrides\": {\n            \"conversation_config_override\": {\n                \"tts\": {\n                    \"voice_id\": false,\n                    \"stability\": false,\n                    \"speed\": false,\n                    \"similarity_boost\": false\n                },\n                \"conversation\": {\n                    \"text_only\": true\n                },\n                \"agent\": {\n                    \"first_message\": false,\n                    \"language\": false,\n                    \"prompt\": {\n                        \"prompt\": false,\n                        \"native_mcp_server_ids\": false\n                    }\n                }\n            },\n            \"custom_llm_extra_body\": false,\n            \"enable_conversation_initiation_client_data_from_webhook\": false\n        },\n        \"call_limits\": {\n            \"agent_concurrency_limit\": -1,\n            \"daily_limit\": 100000,\n            \"bursting_enabled\": true\n        },\n        \"ban\": null,\n        \"privacy\": {\n            \"record_voice\": true,\n            \"retention_days\": -1,\n            \"delete_transcript_and_pii\": false,\n            \"delete_audio\": false,\n            \"apply_to_existing_conversations\": false,\n            \"zero_retention_mode\": false\n        },\n        \"workspace_overrides\": {\n            \"conversation_initiation_client_data_webhook\": null,\n            \"webhooks\": {\n                \"post_call_webhook_id\": \"2e1a0de872e342fea3197a0054f6752d\",\n                \"send_audio\": false\n            }\n        },\n        \"testing\": {\n            \"attached_tests\": [],\n            \"referenced_tests_ids\": []\n        },\n        \"safety\": {\n            \"is_blocked_ivc\": false,\n            \"is_blocked_non_ivc\": false,\n            \"ignore_safety_evaluation\": false\n        }\n    },\n    \"phone_numbers\": [],\n    \"workflow\": {\n        \"edges\": {},\n        \"nodes\": {\n            \"start_node\": {\n                \"type\": \"start\",\n                \"position\": {\n                    \"x\": 0.0,\n                    \"y\": 0.0\n                }\n            }\n        }\n    },\n    \"access_info\": {\n        \"is_creator\": true,\n        \"creator_name\": \"leonard@legalengine.co.uk\",\n        \"creator_email\": \"leonard@legalengine.co.uk\",\n        \"role\": \"admin\"\n    },\n    \"tags\": []\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -240
      ],
      "id": "14a0e17f-7202-424f-9638-9ca5edec0e52",
      "name": "Create 11L agent with KB"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        160,
        -240
      ],
      "id": "d30014be-f6bf-46da-a544-a0102fcf0ec7",
      "name": "Wait 10s1",
      "webhookId": "7f8cec5e-960f-427a-aa98-2de6623f5baa"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -288,
        -240
      ],
      "id": "243b99c1-09fc-4043-a946-f64c3dfd6858",
      "name": "Wait 10s2",
      "webhookId": "afcd2afa-7230-465e-b44a-7db74c8efd9c"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        -240
      ],
      "id": "d791ef78-84b8-42ab-b285-45749107a3e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -736,
        -240
      ],
      "id": "8c18577f-f762-4bf4-b5e3-273c4f8de725",
      "name": "Today"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PkKg5onXiaYiWR9m",
          "mode": "list",
          "cachedResultName": "DEV - W3 - Find a slot in an outlook calendar and book into slot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        608,
        -240
      ],
      "id": "4a11b4d9-55f1-479f-90ef-98a39142f21d",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b1d2468-3f3e-45db-84e0-d0b4bd58b458",
              "name": "agent_id",
              "value": "={{ $('Create 11L agent with KB').item.json.agent_id }}",
              "type": "string"
            },
            {
              "id": "32873103-5b12-46ef-8e03-cc955018811f",
              "name": "id",
              "value": "={{ $('Create KB').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -240
      ],
      "id": "3e369ed9-b13c-4c76-8a2c-b07b9647ec23",
      "name": "Set Nodes to pass"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fa163da-5910-4c17-b733-05ee3f01c0a9",
              "name": "text",
              "value": "={{ $json.data[0].text }}",
              "type": "string"
            },
            {
              "id": "4e6c9b69-4bad-4997-a826-7a0e85d050a8",
              "name": "biz",
              "value": "={{ $json.data[1].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        -240
      ],
      "id": "b4596d47-ff45-483d-acbf-ce00942ccd4e",
      "name": "Set Nodes to pass2"
    }
  ],
  "connections": {
    "Create KB": {
      "main": [
        [
          {
            "node": "Wait 10s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create 11L agent with KB": {
      "main": [
        [
          {
            "node": "Wait 10s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s2": {
      "main": [
        [
          {
            "node": "Create 11L agent with KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s1": {
      "main": [
        [
          {
            "node": "Set Nodes to pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Nodes to pass2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today": {
      "main": [
        [
          {
            "node": "Create KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Nodes to pass": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Nodes to pass2": {
      "main": [
        [
          {
            "node": "Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Set Nodes to pass": [
      {
        "json": {
          "agent_id": "agent_5301k48jatm1f3fbnqt3c5d97bvt",
          "id": "StTLYACCDShjUk3Zg0U2"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "data": [
            {
              "text": "Ray Meiring is co\u2011founder and Chief Executive Officer of QorusDocs. He helped found the company in Cape Town in 2013 (with Lee Child and Stephanie Laurent) and led its move to the US (Bellevue/Seattle area) to scale QorusDocs\u2019 proposal and RFP software for major technology and professional\u2011services firms. He oversees product and customer strategy and publishes regularly on AI, proposal management and go\u2011to\u2011market topics. Meiring led strategic growth initiatives including the company\u2019s June 2025 acquisition of Shark Finesse.\n\nRecent items\n- QorusDocs acquires Shark Finesse \u2014 24 June 2025 (QorusDocs blog)\n- AI Proposal Software: Buy vs Build \u2014 10 June 2025 (QorusDocs blog)\n\nLinks\n- QorusDocs \u2014 Ray Meiring (author page): https://www.qorusdocs.com/ray-meiring-blog/author/ray-meiring\n- Spotlight interview: WRG VC \u2014 https://www.wrg.vc/blog/spotlight-ray-meiring-co-founder-ceo-of-qorusdocs\n- Accounting Today author page: https://www.accountingtoday.com/author/ray-meiring\n\nStephanie Laurent is cited as a co\u2011founder of QorusDocs, the proposal and document\u2011automation business founded in Cape Town in 2013. She is named alongside Ray Meiring and Lee Child in founder profiles and early company histories. Publicly available sources give limited detail on her current title or location; company material and founder interviews emphasise her role in the company\u2019s early product and growth work. For the Legal Engine <> QorusDocs meeting, focus on her founder background, product experience for professional services, and connections with fellow founders.\n\nRecent items\n- Mentioned as a QorusDocs co\u2011founder in a founder spotlight \u2014 10 July 2023 (WRG blog).\n- Company content from QorusDocs referencing executive commentary and product direction \u2014 24 June 2024 (QorusDocs blog).\n\nLinks\n- WRG spotlight (mentions Stephanie as co\u2011founder): https://www.wrg.vc/blog/spotlight-ray-meiring-co-founder-ceo-of-qorusdocs\n- QorusDocs (company site / blog): https://www.qorusdocs.com\n- UK Companies House \u2014 QorusDocs Ltd officers: https://find-and-update.company-information.service.gov.uk/company/13160418/officers\n\nQorusDocs is an AI-powered proposal and RFP management software vendor (formerly Qorus/Qorus Software) that helps teams create, manage and automate proposals, presentations and RFP responses. Founded out of Cape Town and later operating from the US with a global footprint (including London), the company sells into sales and business\u2011development functions and advertises integrations with common content sources and Microsoft Office. I could not identify the specific QorusDocs individual due to meet Lee Curtis \u2014 please provide their name or LinkedIn so I can pull a full professional background.\n\nRecent items\n- QorusDocs raised $10M in a round led by WestRiver Group (reported 4 Oct 2022).\n- Profiled on Dealroom and updated company listings in 2025 (Dealroom entry, Jul 2025).\n\nCredible links\n- Official site: https://www.qorusdocs.com\n- Funding / press: https://www.geekwire.com/2022/qorusdocs-which-helps-companies-create-and-manage-sales-proposals-raises-10m/\n- UK Companies House (officers): https://find-and-update.company-information.service.gov.uk/company/13160418/officers"
            },
            {
              "text": "QorusDocs"
            }
          ]
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}