leonard-dev-workflows/dev/UBJSMDS274Gf6ztD-DEV_Taxi_Luke_3_Find_a_slot_in_an_outlook_calendar_and_book_into_slot.json
{
  "name": "DEV - Taxi Luke 3 - Find a slot in an outlook calendar and book into slot",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Find first free slot in [windowStart, windowEnd) using scheduleItems from the getSchedule node,\n// rounding start up to the next 15-minute boundary (00/15/30/45).\n\n// CHANGE this to your getSchedule node name\nconst GET_SCHEDULE_NODE = \"Outlook find time in next 60m\";\n\nconst res = $node[GET_SCHEDULE_NODE].json.value?.[0];\nconst items = (res && res.scheduleItems) ? res.scheduleItems : [];\n\nconst zone = 'Europe/London';\nconst now = DateTime.now().setZone(zone);\n\n// Read inputs from prior node (this item). Fallbacks if missing.\nlet windowStart = $json.windowStart\n  ? DateTime.fromISO($json.windowStart, { zone })\n  : now;\nlet windowEnd = $json.windowEnd\n  ? DateTime.fromISO($json.windowEnd, { zone })\n  : windowStart.plus({ minutes: 60 });\n\nconst durationMin = Number.isFinite($json.durationMinutes) ? $json.durationMinutes : 15;\n\n// Helpers\nfunction roundUpToQuarter(dt) {\n  let t = dt.set({ second: 0, millisecond: 0 });\n  const m = t.minute % 15;\n  return m === 0 ? t : t.plus({ minutes: 15 - m });\n}\nfunction fmtLocalISOWithOffset(dt) {\n  // Local time with +00:00 / +01:00 and correct DST label for that datetime\n  return dt.toISO({ suppressMilliseconds: true, includeOffset: true });\n}\nfunction fmtUTC(dt) {\n  // UTC timestamp (Z) for systems that prefer absolute time\n  return dt.setZone('UTC').toISO({ suppressMilliseconds: true, includeOffset: true });\n}\n\n// Ensure windowStart isn't in the past and is snapped to next quarter\nif (windowStart < now) windowStart = now;\nwindowStart = roundUpToQuarter(windowStart);\n\n// Validate window\nif (windowEnd <= windowStart) {\n  return [{ error: \"Invalid window: end is before or equal to start.\" }];\n}\n\n// Normalize & sort busy items that overlap the window\nconst busy = items\n  .map(i => ({\n    start: DateTime.fromISO(i.start.dateTime, { zone }),\n    end:   DateTime.fromISO(i.end.dateTime,   { zone }),\n  }))\n  .filter(i => i.end > windowStart && i.start < windowEnd)\n  .sort((a, b) => a.start - b.start);\n\n// Scan for the first free gap >= durationMin\nlet cursor = windowStart;\n\nfor (const b of busy) {\n  if (b.start > cursor) {\n    const gapEnd = b.start < windowEnd ? b.start : windowEnd;\n    if (gapEnd.diff(cursor, 'minutes').minutes >= durationMin) {\n      const slotStart = cursor;\n      const slotEnd = slotStart.plus({ minutes: durationMin });\n      return [{\n        slotStart: fmtLocalISOWithOffset(slotStart),\n        slotEnd:   fmtLocalISOWithOffset(slotEnd),\n        timeZone:  slotStart.offsetNameShort,       // \"BST\" or \"GMT\" for the slot time\n        slotStartUTC: fmtUTC(slotStart),\n        slotEndUTC:   fmtUTC(slotEnd),\n        // Optional if you need Windows zone for Graph later:\n        // timeZoneWindows: \"GMT Standard Time\"\n      }];\n    }\n  }\n  // Move cursor to just after this busy block, snapped to next quarter\n  if (b.end > cursor) cursor = roundUpToQuarter(b.end);\n\n  if (cursor >= windowEnd) {\n    return [{ error: `No free ${durationMin}-minute slot in the requested window.` }];\n  }\n}\n\n// Tail after last busy block\nif (windowEnd.diff(cursor, 'minutes').minutes >= durationMin) {\n  const slotStart = cursor;\n  const slotEnd = slotStart.plus({ minutes: durationMin });\n  return [{\n    slotStart: fmtLocalISOWithOffset(slotStart),\n    slotEnd:   fmtLocalISOWithOffset(slotEnd),\n    timeZone:  slotStart.offsetNameShort,         // \"BST\" or \"GMT\" for the slot time\n    slotStartUTC: fmtUTC(slotStart),\n    slotEndUTC:   fmtUTC(slotEnd),\n    // timeZoneWindows: \"GMT Standard Time\"\n  }];\n}\n\n// Nothing found\nreturn [{ error: `No free ${durationMin}-minute slot in the requested window.` }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -176
      ],
      "id": "86bf7b6a-98f9-438a-9ec0-14ba16448d10",
      "name": "Pick Slot on 15m"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/calendar/getSchedule",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"outlook.timezone=\\\"GMT Standard Time\\\"\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"schedules\": [\"{{ $json.org_email }}\"],\n  \"startTime\": {\n    \"dateTime\": \"{{$now.setZone('Europe/London').toISO({ suppressMilliseconds: true, includeOffset: true })}}\",\n    \"timeZone\": \"{{$now.setZone('Europe/London').offsetNameShort}}\"\n  },\n  \"endTime\": {\n    \"dateTime\": \"{{$now.setZone('Europe/London').plus({ minutes: 60 }).toISO({ suppressMilliseconds: true, includeOffset: true })}}\",\n    \"timeZone\": \"{{$now.setZone('Europe/London').offsetNameShort}}\"\n  },\n  \"availabilityViewInterval\": 15\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -176
      ],
      "id": "85a776b6-a7e0-4aaf-bb50-302a1883d857",
      "name": "Outlook find time in next 60m",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "I89nsEwUWKSmmCbY",
          "name": "Microsoft Outlook Lara"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        -176
      ],
      "id": "4ad0e82a-e12c-4e93-85af-6734815875bf",
      "name": "Wait",
      "webhookId": "8c07daf7-d8f9-45fa-b52e-b38e19e7307f"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yKkH1JuwkLXzOwA0",
          "mode": "list",
          "cachedResultName": "DEV - Taxi Luke 4 - Outbound Call with Agent ID set"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        -176
      ],
      "id": "ef7eccfc-8b11-4b38-a543-be75686ea477",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -176
      ],
      "id": "7e35d6e9-4efd-4797-8488-0e46fb1b2989",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7518b23-e670-4c5b-b688-be09a1e6a1ec",
              "name": "agent_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.agent_id }}",
              "type": "string"
            },
            {
              "id": "04dd8171-07a9-4301-87af-c04cfde78325",
              "name": "id",
              "value": "={{ $('When Executed by Another Workflow').item.json.id }}",
              "type": "string"
            },
            {
              "id": "90b05779-010a-43f5-ac9a-eb08a93e7318",
              "name": "org_fullname",
              "value": "={{ $('When Executed by Another Workflow').item.json.org_fullname }}",
              "type": "string"
            },
            {
              "id": "92863351-0675-4771-b1d3-ed2a717b627c",
              "name": "org_firstname",
              "value": "={{ $('When Executed by Another Workflow').item.json.org_firstname }}",
              "type": "string"
            },
            {
              "id": "0d4d5601-da1a-4237-a775-11ac0477347c",
              "name": "org_biz",
              "value": "={{ $('When Executed by Another Workflow').item.json.org_biz }}",
              "type": "string"
            },
            {
              "id": "cb287522-ac94-49cb-aa12-ef0b51f63ec3",
              "name": "org_email",
              "value": "={{ $('When Executed by Another Workflow').item.json.org_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -176
      ],
      "id": "ef6a09d2-adca-42ee-802c-d36e17736652",
      "name": "Set Nodes to pass"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "AAMkADUzNDJhMGNiLWU5NjQtNDQ3My1hNTA1LTQ1Y2NhN2M5OGM1NgBGAAAAAADThXoAy-mHRKZz5H7dvQQ3BwC8jGSPlzaSQ42ovVdQ3dqOAAAAAAEGAAC8jGSPlzaSQ42ovVdQ3dqOAAAAAHLbAAA=",
          "mode": "list",
          "cachedResultName": "Calendar"
        },
        "subject": "={{ $('When Executed by Another Workflow').item.json.biz }} - Post Meeting Follow Up",
        "startDateTime": "={{ $json.slotStartUTC }}",
        "endDateTime": "={{ $json.slotEndUTC }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        368,
        -176
      ],
      "id": "4e25ef84-0cc2-4730-a0ee-fc4496bb052a",
      "name": "Event Creation in Lara's diary",
      "webhookId": "b7ada82e-e5e5-41d3-b140-1564b5230bed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "I89nsEwUWKSmmCbY",
          "name": "Microsoft Outlook Lara"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47d819aa-b36d-408c-a4db-77a07cf91f4d",
              "leftValue": "={{ $json.error.toString() }}",
              "rightValue": "No free 15-minute slot in the requested window.",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        -176
      ],
      "id": "308a410f-6628-445c-868f-97655338f893",
      "name": "If"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('When Executed by Another Workflow').item.json.org_email }}",
        "subject": "={{ $('When Executed by Another Workflow').item.json.org_firstname }}, no availability found",
        "bodyContent": "=Hi {{ $('When Executed by Another Workflow').item.json.org_firstname }}, unfortunatley I did not find any availability in your diary during the upcoming 60mins.\n\nI have not therefore booked a slot in your diary and so please initiate the post meeting call at your earliest convenience. \n\nBest regards,\n\nLuke\nLegal Engine AI Agent",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        400,
        -416
      ],
      "id": "69ba1e57-29b3-4813-9dbd-ea95ca851d28",
      "name": "No availability found",
      "webhookId": "045c26c4-31e8-451e-a2ec-7df9f095b541",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    }
  ],
  "connections": {
    "Pick Slot on 15m": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook find time in next 60m": {
      "main": [
        [
          {
            "node": "Pick Slot on 15m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set Nodes to pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Outlook find time in next 60m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Nodes to pass": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Creation in Lara's diary": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No availability found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Event Creation in Lara's diary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "agent_id": "agent_0901k4nme0wyfnwvkvsxfevqxw4c",
          "id": "aRqBNqXA4Y6QkHbu2OCQ",
          "biz": "Simmons & Simmons",
          "org_fullname": "Lara Howie",
          "org_firstname": "Lara",
          "org_biz": "Legalengine",
          "org_email": "lara@legalengine.co.uk"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}