leonard-dev-workflows/dev/z9btNwknHmRUoAsX-DEV_Taylor_Wessing_Luke_Post_Call_Andy.json
{
  "name": "DEV - [Taylor Wessing] - Luke Post Call - Andy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Luke, an expert legal Business Development assistant. \nYour primary role is to support busy lawyers to complete business development and  growth actions that will increase revenue generation opportunities. You will achieve this by analysing transcripts of a short call from a lawyer post a client meeting and produce a structured, professional output. \n\nYour Tasks: \n\nIdentify Follow-Up Actions \n\nExtract all actions that arise in the transcript. \n\nCategorise each one clearly as: \n\nAgreed Action – explicitly confirmed by lawyer or client. \n\nInferred / Potential Action – implied but not explicitly confirmed. \n\nSummarise the Meeting \n\nProvide a concise high-level summary of the main topics, issues, and next steps discussed. \n\nFocus on legal and practical matters, not filler conversation. \n\nOutput Format: \n\nHigh-Level Summary \n\nAgreed Actions: [who is responsible, what needs doing, when if specified] \n\nInferred / Potential Action: [description] \n\nStyle & Rules: \n\nBe precise, neutral, and professional. Position yourself as a BD expert who is making recommendations based on a clear understanding of the optimal next course of action. \n\nDo not invent actions that are not supported by the transcript. \n\nAlways separate what is confirmed from where further clarification is required. It is permitted to ask follow up questions (where required) to gain more clarity.  \n\nFlag anything that might require clarification before being treated as a true action. \n\nInputs: \nMeeting Transcript: {{ JSON.stringify($('Luke Post Call Webhook').item.json.body.data.transcript) }} \nMeeting Summary from the call:{{ $('Luke Post Call Webhook').item.json.body.data.analysis.transcript_summary }}\nCurrent Date & Time: {{ $('Date & Time8').item.json.currentDate }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        0
      ],
      "id": "5b5cbaca-89df-477c-b207-2ece8edf3b52",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        224
      ],
      "id": "8bfaff03-6605-4484-8767-7d299ff7a842",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "=lara@legalengine.co.uk, lee@legalengine.co.uk, sam@legalengine.co.uk",
        "subject": "=Legal Engine Actions from Client Meeting ",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Post Client Meeting Actions</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n  <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi Lara,</p>\n      <p>As discussed, please find below actions arising from your recent meeting.</p>\n    \n    </div>\n\n    <!-- SUMMARY OF ACTIONS -->\n    <div class=\"section\">\n      <h2>Summary of actions</h2>\n  {{ $json.output }}\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n  \n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Luke</b></p>\n\n  <p><b>BD AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:luke@legalengine.co.uk\">luke@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        640,
        112
      ],
      "id": "f4ea3c68-18cb-4bd7-8465-37492c06c870",
      "name": "HTML Email from Leonard to Lawyer",
      "webhookId": "03bf6b23-ce1b-4340-9b85-755d534ee154",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OAftwNOqCIYj8Src",
          "name": "Microsoft Outlook - New Dec 2025 Leonard account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "6d4c5204-f96d-479e-b57d-5c02bcdd9eb7",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to produce a html formatted version of this text that will be embedded into an html email. I just need the output to be a paragaph of formatted text in html and not a full html template\n\nText here: {{ $json['0'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        112
      ],
      "id": "924edf4c-9dc5-4ac5-bb21-c2d2aa5030fe",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        336
      ],
      "id": "2a046d00-1b61-4f88-897d-450de7e1e279",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -288,
        272
      ],
      "id": "cb835f24-c501-4957-bada-08313a796785",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        80,
        784
      ],
      "id": "a04313a5-dd82-4b2e-b8e8-6bc1324d0f06",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3800e373-5f7a-4642-8392-d3a4aed9e067",
              "name": "email",
              "value": "={{ $json.output.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        560
      ],
      "id": "74fa0689-ee00-41b0-908c-3632814b6af1",
      "name": "Set Email"
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The email has been reviewed and accepted as-is. The human explicitly or implicitly expresses approval, indicating that no changes are needed. \n\nExample phrases include:\n\n\"Looks good.\"\n\"Okay.\"\n\"Ok.\"\n\"Go ahead and send it.\"\n\"This works for me.\"\n\"Approved.\"\n\"No changes needed.\"\n\"Fine.\"\n\"Send.\""
            },
            {
              "category": "Declined",
              "description": "The email has been reviewed, but the human requests modifications before it is sent like tweaks, removing parts, rewording, etc. This could include suggested edits, rewording, or major revisions. \n\nExample phrases include:\n\n\"Can we tweak this part?\"\n\"Needs some changes.\"\n\"I’d like to reword this.\"\n\"Not quite right—let’s revise it.\"\n\"Can you adjust this before sending?\"\n\"Don't mention that we can't do that\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "id": "1b7bf316-b2f4-4d2b-9cdc-3cdb3fd21613",
      "name": "Check Feedback"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email: {{ $('Set Email').item.json.email }}\n\nFeedback from human: {{ $json.data.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert Business Development Executive within professional services and law. Your job is to take an incoming set of minutes, actions and next steps and revise it based on the feedback the human submitted.\n\n## Rules\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1216,
        656
      ],
      "id": "12941255-9205-48b0-be71-90644b785e8e",
      "name": "Revision Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        784
      ],
      "id": "06103cb3-f009-40e9-b567-80281868dbf4",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "lara@legalengine.co.uk, lee@legalengine.co.uk, sam@legalengine.co.uk",
        "subject": "=Hi Lara, APPROVAL REQUIRED for your client email after your recent conversation with Luke from Legal Engine",
        "message": "=Hi Lara, \n\nPlease see below a draft email requiring your approval. \n\n---\n\n{{ $json.email }}\n\n---\n\nIf there are any revisons or edits please click on the link below to provide feedback and one of my AI Agent colleagues will pick this up and send you a revised version. \n\nBest regards\n\nLuke\nLegal Engine AI Agent",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Click here to review and amend/approve"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        640,
        304
      ],
      "id": "3c9ecf9e-7358-47cb-8dc5-4cff4d22b3e2",
      "name": "Email from Leonard Chk Summary1",
      "webhookId": "6ee41a01-52a0-4718-88ab-77ab7bc8dee8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OAftwNOqCIYj8Src",
          "name": "Microsoft Outlook - New Dec 2025 Leonard account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        624
      ],
      "id": "b26a522d-c8b6-4e14-96ed-9a54da91600c",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "lara@legalengine.co.uk, lee@legalengine.co.uk, sam@legalengine.co.uk",
        "subject": "=Hi Lara, here is your approved email",
        "bodyContent": "=Hi Lara, \n\nPlease see below the approved email ready to send to the client.\n\n---\n\n{{ $('Set Email').item.json.email }}\n\n---\n\nIt was great speaking to you, let's chat again soon.\n\nBest regards\n\nLuke\nLegal Engine AI Agent",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1280,
        336
      ],
      "id": "61b91e40-ce9d-4e21-9289-12e473e5dbe6",
      "name": "Email from Leonard - all assets1",
      "webhookId": "6ee41a01-52a0-4718-88ab-77ab7bc8dee8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OAftwNOqCIYj8Src",
          "name": "Microsoft Outlook - New Dec 2025 Leonard account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Inputs: \nMeeting Transcript: {{ JSON.stringify($('Luke Post Call Webhook').item.json.body.data.transcript) }} \nMeeting Summary from the call:{{ $('Luke Post Call Webhook').item.json.body.data.analysis.transcript_summary }}\nCurrent Date & Time: {{ $('Date & Time8').item.json.currentDate }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Writing as a sales and business development professional, create a plain text email to the client (Holly Wesson at Taylor Wesson) outlining the captured actions and next steps.  \n\nThe email should be drafted from the lawyer (Lara Howie) you are supporting and be addressed to the client.  \n\nThe tone should be professional but warm. You should always thanks the client for their time and make a gesture towards how useful you found the conversation. \n\nThe content of the email should only relate to the meeting summary and the follow up actions agreed. Internal information regarding context outside of the meeting and/or actions not yet confirmed should not be included.  \n\nEnsure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.  \n\nYou should keep the content as close as possible to the original and NOT add in additional information. \n\nINPUTS:\nClient: Simmons & Simmons\nLawyer Name: Lara Howie\nLawyer Job Title: Senior Associate\nLaw Firm: Legal Engine Ltd"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -64,
        560
      ],
      "id": "513eff78-f19a-4440-aeca-468bf0cb12a0",
      "name": "Summary Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "luke_post_meeting_call",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        272
      ],
      "id": "36d35c04-ac48-4a6a-b691-13c16dd9f396",
      "name": "Luke Post Call Webhook",
      "webhookId": "529341f9-e486-4d8e-8e29-bc179ebcd360"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -736,
        272
      ],
      "id": "2a52878e-6b9e-4b43-bafe-506801773771",
      "name": "Date & Time8"
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        272
      ],
      "id": "d32011fb-fa8e-4d68-8f3a-a35fd1433cbe",
      "name": "Date Format"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard to Lawyer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summary Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Revision Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Email": {
      "main": [
        [
          {
            "node": "Email from Leonard Chk Summary1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback": {
      "main": [
        [
          {
            "node": "Email from Leonard - all assets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent1": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Revision Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email from Leonard Chk Summary1": {
      "main": [
        [
          {
            "node": "Check Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Check Feedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summary Agent": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luke Post Call Webhook": {
      "main": [
        [
          {
            "node": "Date & Time8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time8": {
      "main": [
        [
          {
            "node": "Date Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {
    "Luke Post Call Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "31223",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "980e84ed7013b97d-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "elevenlabs-signature": "t=1758174138,v0=42b5a17195e5716d1a9b7e195a42fb0a364068ba0b08f686635593e5df9fd85a",
            "x-forwarded-for": "34.59.11.47, 172.70.179.114",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-tchs5",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "post_call_transcription",
            "event_timestamp": 1758174138,
            "data": {
              "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
              "conversation_id": "conv_1501k5dnamnqebzaxfm6pfagbx3n",
              "status": "done",
              "user_id": "1jocLV1YMhbdrLSRX3Me8aWkbRX2",
              "transcript": [
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "Good meeting Andy? Ready for a quick debrief?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 0,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.14442993700140505
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "Yeah, Luke.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 5,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.10941332199945464
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "Great. Let's capture the key points from your meeting. I'll ask three quick questions.\n\nIs there any additional context you want to capture now that the client isn’t around?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 7,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.49478673100020387
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.3280237090002629
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.7436132779985201
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.20611072699830402
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "nf1WkrwikQPgo971ihnM",
                        "vector_distance": 0.21947073936462402
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "wZd9PqMv3YOZjVaxAKAq",
                        "vector_distance": 0.22366440296173096
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "yz1D049wfabDnC9FGWuL",
                        "vector_distance": 0.22393560409545898
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.2250056266784668
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "B3GxEbPfK0DVi7HRYl6H",
                        "vector_distance": 0.22829747200012207
                      },
                      {
                        "document_id": "cVtHD9YVd694frbPrdcp",
                        "chunk_id": "m2rAOMd65pS8tUowpe9n",
                        "vector_distance": 0.23059135675430298
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "w6628UKu3HvKOR7ArwhI",
                        "vector_distance": 0.23480546474456787
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "jrTtdRADMqEIavkjcInH",
                        "vector_distance": 0.235257089138031
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "7dDrSE9TKdLQJNfotqJG",
                        "vector_distance": 0.23782575130462646
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "CHMCWvs4OJCQilpKgx4O",
                        "vector_distance": 0.23839890956878662
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "7mnXJa5sr8wyQLwR9aTS",
                        "vector_distance": 0.239607572555542
                      },
                      {
                        "document_id": "nOJjal7lkUVPed2qWVNY",
                        "chunk_id": "F94zJV0SwsUtG80qsM3j",
                        "vector_distance": 0.24144649505615234
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "gTGLxhfGbgxkJNOj3P7w",
                        "vector_distance": 0.24183493852615356
                      },
                      {
                        "document_id": "Mqlgv1gjqpsM0F25hARc",
                        "chunk_id": "UHXca2RcYTwRfioujW4h",
                        "vector_distance": 0.24211513996124268
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "mH9riFl5GckROfXyh4Lj",
                        "vector_distance": 0.24361324310302734
                      },
                      {
                        "document_id": "WTSeALM0hCdp3JOAQkh7",
                        "chunk_id": "VuiGkEcCaprsIkxMbBbD",
                        "vector_distance": 0.24376994371414185
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "NQmFopfO9691daiXZkV8",
                        "vector_distance": 0.2443331480026245
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "zitblBlEaRe4hcQbaDPD",
                        "vector_distance": 0.24628520011901855
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "deMJHzMxHEqCK0fHXK3b",
                        "vector_distance": 0.24930328130722046
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "Ready for a quick debrief?",
                    "rag_latency_secs": 0.27479925300212926
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13179,
                          "price": 0.0013179
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 40,
                          "price": 0.000016
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "Yeah, so a good meeting with Holly Adams from Taylor Wesson. She's been under the pump recently and so has been a bit distracted on some other big projects they've got on. She's going on holiday soon, so we've got a bit of a dead window between the 1st and 15th of October.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 17,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.1238239699996484
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "Got it. So, Taylor Wesson is the client, and Holly Adams is the contact. She's been busy with other projects and will be on holiday, creating a gap between October 1st and 15th.\n\nWhat are the immediate next steps and when is the next touch point or meeting?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 43,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.9933403530012583
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.8249504849991354
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.2410704720023205
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.08958406700185151
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "nf1WkrwikQPgo971ihnM",
                        "vector_distance": 0.19227218627929688
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "CHMCWvs4OJCQilpKgx4O",
                        "vector_distance": 0.20648950338363647
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "yz1D049wfabDnC9FGWuL",
                        "vector_distance": 0.20791107416152954
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "B3GxEbPfK0DVi7HRYl6H",
                        "vector_distance": 0.21209001541137695
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "deMJHzMxHEqCK0fHXK3b",
                        "vector_distance": 0.21237361431121826
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "gTGLxhfGbgxkJNOj3P7w",
                        "vector_distance": 0.21391892433166504
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "wZd9PqMv3YOZjVaxAKAq",
                        "vector_distance": 0.21461379528045654
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "7dDrSE9TKdLQJNfotqJG",
                        "vector_distance": 0.2151554822921753
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.2161703109741211
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "7mnXJa5sr8wyQLwR9aTS",
                        "vector_distance": 0.2163081169128418
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "NQmFopfO9691daiXZkV8",
                        "vector_distance": 0.21701037883758545
                      },
                      {
                        "document_id": "nOJjal7lkUVPed2qWVNY",
                        "chunk_id": "F94zJV0SwsUtG80qsM3j",
                        "vector_distance": 0.22032928466796875
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "jrTtdRADMqEIavkjcInH",
                        "vector_distance": 0.22258734703063965
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "w6628UKu3HvKOR7ArwhI",
                        "vector_distance": 0.22562706470489502
                      },
                      {
                        "document_id": "WTSeALM0hCdp3JOAQkh7",
                        "chunk_id": "VuiGkEcCaprsIkxMbBbD",
                        "vector_distance": 0.22613251209259033
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "zitblBlEaRe4hcQbaDPD",
                        "vector_distance": 0.23002398014068604
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.23013699054718018
                      },
                      {
                        "document_id": "cVtHD9YVd694frbPrdcp",
                        "chunk_id": "m2rAOMd65pS8tUowpe9n",
                        "vector_distance": 0.23188501596450806
                      },
                      {
                        "document_id": "Mqlgv1gjqpsM0F25hARc",
                        "chunk_id": "UHXca2RcYTwRfioujW4h",
                        "vector_distance": 0.2322535514831543
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "When is Holly Adams going on holiday and what is the impact on the project?",
                    "rag_latency_secs": 0.23103584600175964
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13396,
                          "price": 0.0013396
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 64,
                          "price": 0.000025600000000000002
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "So immediate next steps. She's really excited about a potential application of Leonard, our matter and directories assistant. And so what we've got to do is we've got to build a proposal for Holly which shows that the various levels of integration, the capabilities of Leonard and also the associated costs",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 56,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.11856382300175028
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "Understood. The next step is to create a proposal for Holly, detailing the integration levels, capabilities, and costs associated with Leonard.\n\nIs there anyone internally we should introduce the client to?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 92,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.4714110510030878
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.31723700300062774
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.7187770850032393
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.10788594199766521
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "wZd9PqMv3YOZjVaxAKAq",
                        "vector_distance": 0.1853649616241455
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "B3GxEbPfK0DVi7HRYl6H",
                        "vector_distance": 0.18682289123535156
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "nf1WkrwikQPgo971ihnM",
                        "vector_distance": 0.19020777940750122
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "yz1D049wfabDnC9FGWuL",
                        "vector_distance": 0.19034934043884277
                      },
                      {
                        "document_id": "cVtHD9YVd694frbPrdcp",
                        "chunk_id": "m2rAOMd65pS8tUowpe9n",
                        "vector_distance": 0.19093799591064453
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.1915578842163086
                      },
                      {
                        "document_id": "WTSeALM0hCdp3JOAQkh7",
                        "chunk_id": "VuiGkEcCaprsIkxMbBbD",
                        "vector_distance": 0.2004835605621338
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "7mnXJa5sr8wyQLwR9aTS",
                        "vector_distance": 0.20241618156433105
                      },
                      {
                        "document_id": "Mqlgv1gjqpsM0F25hARc",
                        "chunk_id": "UHXca2RcYTwRfioujW4h",
                        "vector_distance": 0.20249706506729126
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "NQmFopfO9691daiXZkV8",
                        "vector_distance": 0.2051607370376587
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "jrTtdRADMqEIavkjcInH",
                        "vector_distance": 0.20526760816574097
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "uGIAvIBWPkJ9hZ1AMWcP",
                        "vector_distance": 0.2057192325592041
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "deMJHzMxHEqCK0fHXK3b",
                        "vector_distance": 0.20582926273345947
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "w6628UKu3HvKOR7ArwhI",
                        "vector_distance": 0.20666074752807617
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.20786035060882568
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "7dDrSE9TKdLQJNfotqJG",
                        "vector_distance": 0.2080395221710205
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "CHMCWvs4OJCQilpKgx4O",
                        "vector_distance": 0.21038591861724854
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "FiQL1K7zWl11VG44uhVx",
                        "vector_distance": 0.2114861011505127
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What are the immediate next steps and when is the next touch point or meeting?",
                    "rag_latency_secs": 0.2266971739991277
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13580,
                          "price": 0.001358
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 39,
                          "price": 0.000015600000000000003
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "What we've got to do is in order to get the infosec and security aspects started and underway, Holly's going to provide the name of their head of IT security and we're going to introduce those people to Edu in the legal engine team.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 105,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.12510580000162008
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "Thanks, Andy. So, to kick off the information security and security aspects, Holly will provide the name of her head of IT security, and we'll then introduce them to Edu on our team.\n\nHere's a summary of our conversation:\n\nWe met with Holly Adams from Taylor Wesson. She's been busy with other projects and will be on holiday from October 1st to 15th. The immediate next step is to create a proposal for her that outlines the integration levels, capabilities, and costs of using Leonard. To address security requirements, Holly will provide the name of her IT security head, whom we will then connect with Edu on our team.\n\nDoes that all look correct?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 127,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.5738022240002465
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.39696412600096664
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.0678563159999612
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.09745152799951029
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "B3GxEbPfK0DVi7HRYl6H",
                        "vector_distance": 0.19279491901397705
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "w6628UKu3HvKOR7ArwhI",
                        "vector_distance": 0.19367343187332153
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "wZd9PqMv3YOZjVaxAKAq",
                        "vector_distance": 0.19946807622909546
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "yz1D049wfabDnC9FGWuL",
                        "vector_distance": 0.1996680498123169
                      },
                      {
                        "document_id": "cVtHD9YVd694frbPrdcp",
                        "chunk_id": "m2rAOMd65pS8tUowpe9n",
                        "vector_distance": 0.20321142673492432
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "nf1WkrwikQPgo971ihnM",
                        "vector_distance": 0.2048799991607666
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "7mnXJa5sr8wyQLwR9aTS",
                        "vector_distance": 0.20568931102752686
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "jrTtdRADMqEIavkjcInH",
                        "vector_distance": 0.21097123622894287
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "7dDrSE9TKdLQJNfotqJG",
                        "vector_distance": 0.2129666805267334
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.21504449844360352
                      },
                      {
                        "document_id": "WTSeALM0hCdp3JOAQkh7",
                        "chunk_id": "VuiGkEcCaprsIkxMbBbD",
                        "vector_distance": 0.21547293663024902
                      },
                      {
                        "document_id": "nOJjal7lkUVPed2qWVNY",
                        "chunk_id": "F94zJV0SwsUtG80qsM3j",
                        "vector_distance": 0.2181100845336914
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "NQmFopfO9691daiXZkV8",
                        "vector_distance": 0.21963191032409668
                      },
                      {
                        "document_id": "Mqlgv1gjqpsM0F25hARc",
                        "chunk_id": "UHXca2RcYTwRfioujW4h",
                        "vector_distance": 0.2202702760696411
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "gTGLxhfGbgxkJNOj3P7w",
                        "vector_distance": 0.22121214866638184
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "CHMCWvs4OJCQilpKgx4O",
                        "vector_distance": 0.2226250171661377
                      },
                      {
                        "document_id": "Mqlgv1gjqpsM0F25hARc",
                        "chunk_id": "YzTueI2y7vSp3uGrXeuI",
                        "vector_distance": 0.2226865291595459
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "FiQL1K7zWl11VG44uhVx",
                        "vector_distance": 0.22321057319641113
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "Who should we introduce the client to internally?",
                    "rag_latency_secs": 0.18523758800074575
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13368,
                          "price": 0.0013368000000000002
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 145,
                          "price": 0.000058
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "Yes.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 162,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.19297668599756435
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "I'll send you over a summary via email now, please allow a few minutes for it to land in your inbox.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 174,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6856119140029477
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.39242284600186395
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.6855934090017399
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.1576714529983292
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.2307441234588623
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "nf1WkrwikQPgo971ihnM",
                        "vector_distance": 0.23885178565979004
                      },
                      {
                        "document_id": "WTSeALM0hCdp3JOAQkh7",
                        "chunk_id": "VuiGkEcCaprsIkxMbBbD",
                        "vector_distance": 0.24281316995620728
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "yz1D049wfabDnC9FGWuL",
                        "vector_distance": 0.2444528341293335
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "wZd9PqMv3YOZjVaxAKAq",
                        "vector_distance": 0.24706226587295532
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "7mnXJa5sr8wyQLwR9aTS",
                        "vector_distance": 0.24717175960540771
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "gTGLxhfGbgxkJNOj3P7w",
                        "vector_distance": 0.2512071132659912
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "CHMCWvs4OJCQilpKgx4O",
                        "vector_distance": 0.25223636627197266
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "B3GxEbPfK0DVi7HRYl6H",
                        "vector_distance": 0.2529623508453369
                      },
                      {
                        "document_id": "nOJjal7lkUVPed2qWVNY",
                        "chunk_id": "F94zJV0SwsUtG80qsM3j",
                        "vector_distance": 0.25306153297424316
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "zitblBlEaRe4hcQbaDPD",
                        "vector_distance": 0.25530606508255005
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "NQmFopfO9691daiXZkV8",
                        "vector_distance": 0.2553246021270752
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "w6628UKu3HvKOR7ArwhI",
                        "vector_distance": 0.2562381625175476
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "jrTtdRADMqEIavkjcInH",
                        "vector_distance": 0.2572816014289856
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.25749194622039795
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "7dDrSE9TKdLQJNfotqJG",
                        "vector_distance": 0.2576126456260681
                      },
                      {
                        "document_id": "cVtHD9YVd694frbPrdcp",
                        "chunk_id": "m2rAOMd65pS8tUowpe9n",
                        "vector_distance": 0.2584376335144043
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "mH9riFl5GckROfXyh4Lj",
                        "vector_distance": 0.2588402032852173
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "FiQL1K7zWl11VG44uhVx",
                        "vector_distance": 0.26145726442337036
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "Does everything look correct?",
                    "rag_latency_secs": 0.16083852800147724
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13927,
                          "price": 0.0013927
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 25,
                          "price": 0.00001
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "Thanks Luke.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 181,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.15969951000079163
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": "Happy I could help with the debrief! Have a great day!",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 184,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.6743206240025756
                      },
                      "convai_llm_tool_request_generation_latency": {
                        "elapsed_time": 0.6750308640002913
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.14459465600157273
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.24168694019317627
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "nf1WkrwikQPgo971ihnM",
                        "vector_distance": 0.24415242671966553
                      },
                      {
                        "document_id": "WTSeALM0hCdp3JOAQkh7",
                        "chunk_id": "VuiGkEcCaprsIkxMbBbD",
                        "vector_distance": 0.24974220991134644
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "yz1D049wfabDnC9FGWuL",
                        "vector_distance": 0.2525610327720642
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "7mnXJa5sr8wyQLwR9aTS",
                        "vector_distance": 0.25262922048568726
                      },
                      {
                        "document_id": "e2duhzBJ1ZnOdumAhBqN",
                        "chunk_id": "gTGLxhfGbgxkJNOj3P7w",
                        "vector_distance": 0.2539622187614441
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "wZd9PqMv3YOZjVaxAKAq",
                        "vector_distance": 0.2557668685913086
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "CHMCWvs4OJCQilpKgx4O",
                        "vector_distance": 0.2580068111419678
                      },
                      {
                        "document_id": "nOJjal7lkUVPed2qWVNY",
                        "chunk_id": "F94zJV0SwsUtG80qsM3j",
                        "vector_distance": 0.2606313228607178
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "B3GxEbPfK0DVi7HRYl6H",
                        "vector_distance": 0.2614179253578186
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "w6628UKu3HvKOR7ArwhI",
                        "vector_distance": 0.26244407892227173
                      },
                      {
                        "document_id": "2iraNikPTduYn5k35cOm",
                        "chunk_id": "7dDrSE9TKdLQJNfotqJG",
                        "vector_distance": 0.2634478807449341
                      },
                      {
                        "document_id": "MTpwK0CrEtUiXwgBm8iR",
                        "chunk_id": "jrTtdRADMqEIavkjcInH",
                        "vector_distance": 0.2652120590209961
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "NQmFopfO9691daiXZkV8",
                        "vector_distance": 0.26584315299987793
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "zitblBlEaRe4hcQbaDPD",
                        "vector_distance": 0.2660137414932251
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.2669214606285095
                      },
                      {
                        "document_id": "cVtHD9YVd694frbPrdcp",
                        "chunk_id": "m2rAOMd65pS8tUowpe9n",
                        "vector_distance": 0.2677721381187439
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "FiQL1K7zWl11VG44uhVx",
                        "vector_distance": 0.26946598291397095
                      },
                      {
                        "document_id": "3mFCiXHku9ztKIF3wEhk",
                        "chunk_id": "mH9riFl5GckROfXyh4Lj",
                        "vector_distance": 0.2695009112358093
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "Does that all look correct?",
                    "rag_latency_secs": 0.19006739399992512
                  },
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": null,
                  "multivoice_message": null,
                  "tool_calls": [
                    {
                      "type": "system",
                      "request_id": "end_call_d9a6ebd962f742618268885011e9b6d4",
                      "tool_name": "end_call",
                      "params_as_json": "{\"system__message_to_speak\": \"Happy I could help with the debrief! Have a great day!\", \"reason\": \"The user has confirmed the summary and expressed gratitude, indicating the end of the debrief.\"}",
                      "tool_has_been_called": true,
                      "tool_details": null
                    }
                  ],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 184,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.6743206240025756
                      },
                      "convai_llm_tool_request_generation_latency": {
                        "elapsed_time": 0.6750308640002913
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.14459465600157273
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                    "workflow_node_id": null
                  },
                  "message": null,
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [
                    {
                      "request_id": "end_call_d9a6ebd962f742618268885011e9b6d4",
                      "tool_name": "end_call",
                      "result_value": "{\"result_type\":\"end_call_success\",\"status\":\"success\",\"reason\":\"The user has confirmed the summary and expressed gratitude, indicating the end of the debrief.\",\"message\":null}",
                      "is_error": false,
                      "tool_has_been_called": true,
                      "tool_latency_secs": 0.502406407998933,
                      "dynamic_variable_updates": [],
                      "type": "system",
                      "result": {
                        "result_type": "end_call_success",
                        "status": "success",
                        "reason": "The user has confirmed the summary and expressed gratitude, indicating the end of the debrief.",
                        "message": null
                      }
                    }
                  ],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 184,
                  "conversation_turn_metrics": null,
                  "rag_retrieval_info": null,
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13955,
                          "price": 0.0013955
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 43,
                          "price": 0.000017199999999999998
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                }
              ],
              "metadata": {
                "start_time_unix_secs": 1758173942,
                "accepted_time_unix_secs": 1758173942,
                "call_duration_secs": 187,
                "cost": 1190,
                "deletion_settings": {
                  "deletion_time_unix_secs": null,
                  "deleted_logs_at_time_unix_secs": null,
                  "deleted_audio_at_time_unix_secs": null,
                  "deleted_transcript_at_time_unix_secs": null,
                  "delete_transcript_and_pii": false,
                  "delete_audio": false
                },
                "feedback": {
                  "overall_score": null,
                  "likes": 0,
                  "dislikes": 0
                },
                "authorization_method": "authorization_header",
                "charging": {
                  "dev_discount": true,
                  "is_burst": false,
                  "tier": "enterprise",
                  "llm_usage": {
                    "irreversible_generation": {
                      "model_usage": {
                        "gemini-2.5-flash-lite": {
                          "input": {
                            "tokens": 81405,
                            "price": 0.0081405
                          },
                          "input_cache_read": {
                            "tokens": 0,
                            "price": 0
                          },
                          "input_cache_write": {
                            "tokens": 0,
                            "price": 0
                          },
                          "output_total": {
                            "tokens": 356,
                            "price": 0.0001424
                          }
                        }
                      }
                    },
                    "initiated_generation": {
                      "model_usage": {
                        "gemini-2.5-flash-lite": {
                          "input": {
                            "tokens": 95493,
                            "price": 0.0095493
                          },
                          "input_cache_read": {
                            "tokens": 0,
                            "price": 0
                          },
                          "input_cache_write": {
                            "tokens": 0,
                            "price": 0
                          },
                          "output_total": {
                            "tokens": 369,
                            "price": 0.0001476
                          }
                        }
                      }
                    }
                  },
                  "llm_price": 0.0096969,
                  "llm_charge": 96,
                  "call_charge": 1094
                },
                "phone_call": null,
                "batch_call": null,
                "termination_reason": "end_call tool was called.",
                "error": null,
                "main_language": "en",
                "rag_usage": {
                  "usage_count": 6,
                  "embedding_model": "e5_mistral_7b_instruct"
                },
                "text_only": false,
                "features_usage": {
                  "language_detection": {
                    "enabled": false,
                    "used": false
                  },
                  "transfer_to_agent": {
                    "enabled": false,
                    "used": false
                  },
                  "transfer_to_number": {
                    "enabled": false,
                    "used": false
                  },
                  "multivoice": {
                    "enabled": false,
                    "used": false
                  },
                  "dtmf_tones": {
                    "enabled": false,
                    "used": false
                  },
                  "external_mcp_servers": {
                    "enabled": false,
                    "used": false
                  },
                  "pii_zrm_workspace": false,
                  "pii_zrm_agent": false,
                  "tool_dynamic_variable_updates": {
                    "enabled": false,
                    "used": false
                  },
                  "is_livekit": false,
                  "voicemail_detection": {
                    "enabled": true,
                    "used": false
                  },
                  "workflow": {
                    "enabled": false,
                    "tool_node": {
                      "enabled": false,
                      "used": false
                    }
                  },
                  "agent_testing": {
                    "enabled": false,
                    "tests_ran_after_last_modification": false,
                    "tests_ran_in_last_7_days": false
                  }
                },
                "eleven_assistant": {
                  "is_eleven_assistant": false
                },
                "initiator_id": "1jocLV1YMhbdrLSRX3Me8aWkbRX2",
                "conversation_initiation_source": "react_sdk",
                "conversation_initiation_source_version": "0.5.0",
                "timezone": null
              },
              "analysis": {
                "evaluation_criteria_results": {},
                "data_collection_results": {},
                "call_successful": "success",
                "transcript_summary": "Andy and Luke debriefed on a meeting with Holly Adams from Taylor Wesson. Holly is interested in Leonard. Next steps include creating a proposal detailing Leonard's integration, capabilities, and costs. Holly will provide contact details for her IT security head to connect with Edu from the legal engine team to discuss security aspects. Holly will be on holiday between Oct 1-15.\n",
                "call_summary_title": "Meeting Debrief: Taylor Wesson"
              },
              "conversation_initiation_client_data": {
                "conversation_config_override": {
                  "tts": {
                    "voice_id": null,
                    "stability": null,
                    "speed": null,
                    "similarity_boost": null
                  },
                  "conversation": {
                    "text_only": null
                  },
                  "agent": {
                    "first_message": null,
                    "language": null,
                    "prompt": null
                  }
                },
                "custom_llm_extra_body": {},
                "user_id": "1jocLV1YMhbdrLSRX3Me8aWkbRX2",
                "source_info": {
                  "source": "react_sdk",
                  "version": "0.5.0"
                },
                "dynamic_variables": {
                  "system__agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                  "system__current_agent_id": "agent_2501k3v11788e6w908yswfp1w66z",
                  "system__conversation_id": "conv_1501k5dnamnqebzaxfm6pfagbx3n",
                  "system__caller_id": null,
                  "system__called_number": null,
                  "system__call_duration_secs": 187,
                  "system__time_utc": "2025-09-18T05:42:09.915695+00:00",
                  "system__time": "Thursday, 05:42 18 September 2025",
                  "system__timezone": null,
                  "system__call_sid": null
                }
              }
            }
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/luke_post_meeting_call",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}