leonard-dev-workflows/HREtnErL8xHrtacX-DEV_Day_0_Experience_History_Update_V0_Andy.json
{
  "name": "DEV - Day 0 - Experience History Update V0 - Andy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "day_0_lookup_relevant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "784aca5d-bb30-4fdd-9979-c3cbf1d6158c",
      "name": "ElevenLabs Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        -80
      ],
      "webhookId": "725eed49-913d-49a0-9b6e-5ec22eac8918"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b023aea-7579-45d0-acdd-e3ac147f550b",
              "leftValue": "={{ $json['Matter name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        16
      ],
      "id": "58a537c6-361a-4872-9b40-6446861be507",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  \"{\\n\" +\n  \"  \\\"conversation_history\\\": \" + JSON.stringify($json[\"Conversation history\"]) + \",\\n\" +\n  \"  \\\"clients\\\": \" + JSON.stringify($items('Search records')[0]?.json?.Clients ?? \"no details found\") + \",\\n\" +\n  \"  \\\"matters\\\": \" + JSON.stringify($items('Search records')[0]?.json?.Matters ?? \"no details found\") + \"\\n\" +\n  \"}\"\n}}\n",
        "options": {}
      },
      "id": "353c7500-21e7-4747-a2b9-ca307317091d",
      "name": "Return 'no details' ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -208,
        112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  \"{\\n\" +\n  \"  \\\"items\\\": \" + JSON.stringify($items() ?? []) + \",\\n\" +\n  \"  \\\"matters\\\": \" + JSON.stringify(\n        ($items() ?? []).map(i => ({\n          matterName: i.json?.[\"Matter name\"] ?? null,\n          leadLawyerName: i.json?.[\"Lead Lawyer Name\"] ?? null,\n          clientType: i.json?.[\"Client type\"] ?? null,\n          sector: i.json?.Sector ?? null,\n          practiceArea: i.json?.[\"Practice area\"] ?? null,\n          status: i.json?.Status ?? null,\n          notableFeatures: i.json?.[\"Notable features\"] ?? null,\n          whyThisMatters: i.json?.[\"Why this matters\"] ?? null\n        }))\n      ) + \"\\n\" +\n  \"}\"\n}}\n",
        "options": {}
      },
      "id": "48531cd9-1e31-484a-8b59-97caf79a0525",
      "name": "Return Conv History to ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -192,
        -80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1424,
        112
      ],
      "id": "406af963-51c6-408f-ba59-82254a6b3091",
      "name": "When chat message received",
      "webhookId": "91cc84b4-3a3d-4d80-baee-73c0e7ac011b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c7ea5a3-9298-4d62-91ac-b22ef3027fb3",
              "name": "Matter name",
              "value": "={{ $json['Matter name'] }}",
              "type": "string"
            },
            {
              "id": "cd4aafea-9826-4f64-be9a-ee3edb7c59a1",
              "name": "Lead Lawyer Name",
              "value": "={{ $json['Lead Lawyer Name'] }}",
              "type": "string"
            },
            {
              "id": "0c7d54f1-7586-4d88-beca-3abd00bdd739",
              "name": "Client type",
              "value": "={{ $json['Client type'] }}",
              "type": "string"
            },
            {
              "id": "d9b720e7-8808-4066-bfbc-8cf296abd61b",
              "name": "Sector",
              "value": "={{ $json.Sector }}",
              "type": "string"
            },
            {
              "id": "e6d3ff50-ba39-4b93-bc69-29d32e208400",
              "name": "Practice area",
              "value": "={{ $json['Practice area'] }}",
              "type": "string"
            },
            {
              "id": "6ca2257a-0fac-4b03-bc5d-a30ecda27b93",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "3076bece-9094-40a8-9468-50acd3d2bfe5",
              "name": "Notable features",
              "value": "={{ $json['Notable features'] }}",
              "type": "string"
            },
            {
              "id": "19e4c92b-2fe9-4d82-9438-d3fff186b602",
              "name": "Why this matters",
              "value": "={{ $json['Why this matters'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        16
      ],
      "id": "b2f694a7-1529-4262-959d-e9a95187dece",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appZrcHtsKa2j9fc8",
          "mode": "list",
          "cachedResultName": "Legal Engine Day 0 Base",
          "cachedResultUrl": "https://airtable.com/appZrcHtsKa2j9fc8"
        },
        "table": {
          "__rl": true,
          "value": "tblesRZ5rVdULpo77",
          "mode": "list",
          "cachedResultName": "Matter Upload Template Dev",
          "cachedResultUrl": "https://airtable.com/appZrcHtsKa2j9fc8/tblesRZ5rVdULpo77"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Matter name": "={{ $json.body.Matter_Name }}",
            "Lead Lawyer Name": "={{ $json.body.Lead_Lawyer }}",
            "Client type": "={{ $json.body.Client_type }}",
            "Sector": "={{ $json.body.Sector }}",
            "Matter ID": "={{ $json.body.Matter_ID }}",
            "Why this matters": "={{ $json.body.Why_this_matters }}",
            "Notable features": "={{ $json.body.Notable_features }}",
            "Status": "={{ $json.body.Status }}",
            "Practice area": "={{ $json.body.Practice_area }}"
          },
          "matchingColumns": [
            "Matter ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Matter ID",
              "displayName": "Matter ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Matter Summary",
              "displayName": "Full Matter Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Short Matter Summary",
              "displayName": "Short Matter Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter name",
              "displayName": "Matter name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Lawyer Name",
              "displayName": "Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client type",
              "displayName": "Client type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sector",
              "displayName": "Sector",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Practice area",
              "displayName": "Practice area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notable features",
              "displayName": "Notable features",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Why this matters",
              "displayName": "Why this matters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last updated",
              "displayName": "Last updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Ext Short Matter Summary",
              "displayName": "Ext Short Matter Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Matter name",
              "displayName": "Ext Matter name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Lead Lawyer Name",
              "displayName": "Ext Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Client type",
              "displayName": "Ext Client type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Sector",
              "displayName": "Ext Sector",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Practice area",
              "displayName": "Ext Practice area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Status",
              "displayName": "Ext Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Notable features",
              "displayName": "Ext Notable features",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ext Why this matters",
              "displayName": "Ext Why this matters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NULL",
              "displayName": "NULL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter Summary",
              "displayName": "Matter Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "How Many Matters?",
              "displayName": "How Many Matters?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Multiple Matters",
              "displayName": "Multiple Matters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Extract 1",
              "displayName": "Extract 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Extract 2",
              "displayName": "Extract 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Extract 3",
              "displayName": "Extract 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Extract 4",
              "displayName": "Extract 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Extracted Data",
              "displayName": "Extracted Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Lawyer",
              "displayName": "Lead Lawyer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created by",
              "displayName": "Created by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Modified by",
              "displayName": "Date Modified by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Last Updated",
              "displayName": "Date Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Webhook Called",
              "displayName": "Webhook Called",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential",
              "displayName": "D0 - Confidential",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential Value",
              "displayName": "D0 - Confidential Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D0 - Confidential Rationale",
              "displayName": "D0 - Confidential Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name",
              "displayName": "D1 - Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name Value",
              "displayName": "D1 - Client Name Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D1 - Client Name Rationale",
              "displayName": "D1 - Client Name Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output",
              "displayName": "D2 - Formatted Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output Value",
              "displayName": "D2 - Formatted Output Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Formatted Output Rationale",
              "displayName": "D2 - Formatted Output Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description",
              "displayName": "D2 - Matter Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description Value",
              "displayName": "D2 - Matter Description Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Matter Description Rationale",
              "displayName": "D2 - Matter Description Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important",
              "displayName": "D2 - Why Important",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important Value",
              "displayName": "D2 - Why Important Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Why Important Rationale",
              "displayName": "D2 - Why Important Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role",
              "displayName": "D2 - Department Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role Value",
              "displayName": "D2 - Department Role Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Department Role Rationale",
              "displayName": "D2 - Department Role Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m",
              "displayName": "D2 - Work Done Last 12m",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m Value",
              "displayName": "D2 - Work Done Last 12m Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D2 - Work Done Last 12m Rationale",
              "displayName": "D2 - Work Done Last 12m Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value",
              "displayName": "D3 - Matter Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Value",
              "displayName": "D3 - Matter Value Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Rationale",
              "displayName": "D3 - Matter Value Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency",
              "displayName": "D3 - Matter Value Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency Value",
              "displayName": "D3 - Matter Value Currency Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D3 - Matter Value Currency Rationale",
              "displayName": "D3 - Matter Value Currency Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border",
              "displayName": "D4 - Cross Border",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border Value",
              "displayName": "D4 - Cross Border Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Cross Border Rationale",
              "displayName": "D4 - Cross Border Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions",
              "displayName": "D4 - Jurisdictions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions Value",
              "displayName": "D4 - Jurisdictions Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D4 - Jurisdictions Rationale",
              "displayName": "D4 - Jurisdictions Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name",
              "displayName": "D5 - Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name Value",
              "displayName": "D5 - Lead Lawyer Name Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Name Rationale",
              "displayName": "D5 - Lead Lawyer Name Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group",
              "displayName": "D5 - Lead Lawyer Practice Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group Value",
              "displayName": "D5 - Lead Lawyer Practice Group Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Practice Group Rationale",
              "displayName": "D5 - Lead Lawyer Practice Group Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office",
              "displayName": "D5 - Lead Lawyer Office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office Value",
              "displayName": "D5 - Lead Lawyer Office Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D5 - Lead Lawyer Office Rationale",
              "displayName": "D5 - Lead Lawyer Office Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members",
              "displayName": "D6 - Other Team Members",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members Value",
              "displayName": "D6 - Other Team Members Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D6 - Other Team Members Rationale",
              "displayName": "D6 - Other Team Members Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms",
              "displayName": "D7 - Other Firms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms Value",
              "displayName": "D7 - Other Firms Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D7 - Other Firms Rationale",
              "displayName": "D7 - Other Firms Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed",
              "displayName": "D8 - Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed Value",
              "displayName": "D8 - Completed Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Completed Rationale",
              "displayName": "D8 - Completed Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date",
              "displayName": "D8 - Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date Value",
              "displayName": "D8 - Start Date Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D8 - Start Date Value Rationale",
              "displayName": "D8 - Start Date Value Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage",
              "displayName": "D9 - Press Coverage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage Value",
              "displayName": "D9 - Press Coverage Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Press Coverage Rationale",
              "displayName": "D9 - Press Coverage Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information",
              "displayName": "D9 - Other Information",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information Value",
              "displayName": "D9 - Other Information Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "D9 - Other Information Rationale",
              "displayName": "D9 - Other Information Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "JSON Validation",
              "displayName": "JSON Validation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Is Confidential",
              "displayName": "MD - Is Confidential",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Client Name",
              "displayName": "MD - Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Client Output",
              "displayName": "MD - Client Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Matter Description",
              "displayName": "MD - Matter Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Department",
              "displayName": "MD - Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Last 12m",
              "displayName": "MD - Last 12m",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Why Important",
              "displayName": "MD - Why Important",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Format Output",
              "displayName": "MD - Format Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Matter Value",
              "displayName": "MD - Matter Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Matter Currency",
              "displayName": "MD - Matter Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Value Output",
              "displayName": "MD - Value Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Cross Border?",
              "displayName": "MD - Cross Border?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdiction 1",
              "displayName": "MD - Jurisdiction 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdiction 2",
              "displayName": "MD - Jurisdiction 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdiction 3",
              "displayName": "MD - Jurisdiction 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdiction 4",
              "displayName": "MD - Jurisdiction 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdiction 5",
              "displayName": "MD - Jurisdiction 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Jurisdictions output",
              "displayName": "MD - Jurisdictions output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Lead Lawyer Name",
              "displayName": "MD - Lead Lawyer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Lead Lawyer Office",
              "displayName": "MD - Lead Lawyer Office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Lead Lawyer Practice Group",
              "displayName": "MD - Lead Lawyer Practice Group",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Lead Lawyer Output",
              "displayName": "MD - Lead Lawyer Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 1",
              "displayName": "MD - Other Team Member 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 1 office",
              "displayName": "MD - Other Team Member 1 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 1 PG",
              "displayName": "MD - Other Team Member 1 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 2",
              "displayName": "MD - Other Team Member 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 2 office",
              "displayName": "MD - Other Team Member 2 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 2 PG",
              "displayName": "MD - Other Team Member 2 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 3",
              "displayName": "MD - Other Team Member 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 3 office",
              "displayName": "MD - Other Team Member 3 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 3 PG",
              "displayName": "MD - Other Team Member 3 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 4",
              "displayName": "MD - Other Team Member 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 4 office",
              "displayName": "MD - Other Team Member 4 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 4 PG",
              "displayName": "MD - Other Team Member 4 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 5",
              "displayName": "MD - Other Team Member 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 5 office",
              "displayName": "MD - Other Team Member 5 office",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Member 5 PG",
              "displayName": "MD - Other Team Member 5 PG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Team Members Output",
              "displayName": "MD - Other Team Members Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Firms - Name",
              "displayName": "MD - Other Firms - Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Firms - Role",
              "displayName": "MD - Other Firms - Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Firms Output",
              "displayName": "MD - Other Firms Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Start Date",
              "displayName": "MD - Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - End Date",
              "displayName": "MD - End Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Completed",
              "displayName": "MD - Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Date Output",
              "displayName": "MD - Date Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 1",
              "displayName": "MD - Press Link 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 2",
              "displayName": "MD - Press Link 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 3",
              "displayName": "MD - Press Link 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Link 4",
              "displayName": "MD - Press Link 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Other Info",
              "displayName": "MD - Other Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Press Output",
              "displayName": "MD - Press Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MD - Submission Suggestions",
              "displayName": "MD - Submission Suggestions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Sent?",
              "displayName": "Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Word",
              "displayName": "Word",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Word Name",
              "displayName": "Word Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Word Sent?",
              "displayName": "Word Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BD 1 Email",
              "displayName": "BD 1 Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BD 2 Email",
              "displayName": "BD 2 Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shared Inbox",
              "displayName": "Shared Inbox",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary (Attachments)",
              "displayName": "Summary (Attachments)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Title (Attachments)",
              "displayName": "Title (Attachments)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1008,
        16
      ],
      "id": "d395d814-f2e5-4aa9-9325-7e33163f066c",
      "name": "Update record",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c7ea5a3-9298-4d62-91ac-b22ef3027fb3",
              "name": "Matter_name",
              "value": "={{ $json.body.Matter_Name }}",
              "type": "string"
            },
            {
              "id": "cd4aafea-9826-4f64-be9a-ee3edb7c59a1",
              "name": "Lead_Lawyer_Name",
              "value": "={{ $json.body.Lead_Lawyer }}",
              "type": "string"
            },
            {
              "id": "0c7d54f1-7586-4d88-beca-3abd00bdd739",
              "name": "Client_type",
              "value": "={{ $json.body.Client_type }}",
              "type": "string"
            },
            {
              "id": "e6d3ff50-ba39-4b93-bc69-29d32e208400",
              "name": "Practice_area",
              "value": "={{ $json.body.Practice_area }}",
              "type": "string"
            },
            {
              "id": "6ca2257a-0fac-4b03-bc5d-a30ecda27b93",
              "name": "Status",
              "value": "={{ $json.body.Status }}",
              "type": "string"
            },
            {
              "id": "3076bece-9094-40a8-9468-50acd3d2bfe5",
              "name": "Notable_features",
              "value": "={{ $json.body.Notable_features }}",
              "type": "string"
            },
            {
              "id": "19e4c92b-2fe9-4d82-9438-d3fff186b602",
              "name": "Why_this_matters",
              "value": "={{ $json.body.Why_this_matters }}",
              "type": "string"
            },
            {
              "id": "50d8bac0-6343-41c7-80ab-4017a438affa",
              "name": "Matter_ID",
              "value": "={{ $json.body.Matter_ID }}",
              "type": "number"
            },
            {
              "id": "93893bd3-5805-46a9-9e2f-3128cd154561",
              "name": "Sector",
              "value": "={{ $json.body.Sector }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -176
      ],
      "id": "e4ebd80d-1ad6-4d90-9f02-4b175b1c8045",
      "name": "Confirm Fields"
    }
  ],
  "connections": {
    "ElevenLabs Webhook1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Return Conv History to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 'no details' ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "ElevenLabs Webhook1": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "6062",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.77.234.246",
            "cf-ew-via": "15",
            "cf-ipcountry": "BE",
            "cf-ray": "9bb09b900775d0a4-CDG",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.77.234.246, 172.71.118.236",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-swjxv",
            "x-is-trusted": "yes",
            "x-real-ip": "34.77.234.246"
          },
          "params": {},
          "query": {},
          "body": {
            "Matter_ID": "21",
            "Matter_Name": "Project Sunder",
            "Lead_Lawyer": "Catherine Shaw",
            "Client_type": "small and medium-sized business",
            "Sector": "Healthcare and diagnostics",
            "Practice_area": "Mergers",
            "Status": "Completed",
            "Notable_features": "- Hybrid deal/dispute: proposed acquisition of Juniper Path Labs collapses after diligence data room anomaly and whistleblower letter; transaction timetable halted and completion docs paused  \n- High Court commercial litigation at core; claims/counterclaims include breach of confidence, unlawful interference, misrepresentation; counterclaims for breach of exclusivity, breach of NDA, loss of opportunity/bad faith walk-away  \n- Confidentiality misuse allegations: buyer alleges seller used negotiations to extract confidential acquisition strategy/model and leaked to/assisted a thirdparty bidder; seller alleges buyer used concerns to re-trade price after gaining platform insight  \n- Whistleblower-driven risk seam: Dr Anya Fleet alleges assay performance claims were massaged (overstated confidence vs raw data), creating board/insurer/bank pressure and settlement friction  \n- IP/ownership edge: core algorithm module has two versions; contractor involvement with incomplete assignment paperwork (chain of title risk)  \n- Privilege/disclosure satellite dispute: whether whistleblower material is privileged, must be disclosed, and can be used as both sword and shield  \n- Procurement challenge dynamics: impending NHS framework decision; each side fears the other is sabotaging tender chances via insinuation/reputational pressure  \n- Reputational/gossip campaign allegations: deniable dissemination to customers/consultants and attempted seeding to trade journalist; court reluctant to police market gossip without clear unlawful act  \n- Interim protective relief obtained: order preserving devices and limiting external communications; court refused broad restraint sought by one side  \n- Regulatory undercurrent: implicit healthcare diagnostics regulatory/compliance exposure and heightened sensitivity because client sells into NHS-adjacent procurement; reputational harm risk disproportionate even without proved allegations  \n- Settlement complexity: directions agreed in principle, subject to costs (8 Jan 2026); matter ongoing because each settlement attempt exposes new risks neither side will commit to in writing",
            "Why_this_matters": "- Importance to Helmshore (the client): The dispute sat at the intersection of valuation, trust, and market access. A credible allegation about assay performance or data integrity could damage a UK listed companys narrative, trigger regulatory and disclosure consequences, and weaken its position in NHS-adjacent procurement where reputation and reliability are decisive. It also threatened strategic growth (a planned acquisition of capability and market share) and risked turning confidential deal intelligence into a competitive weapon.\n\n- Importance to Juniper (the target/founders): The matter went to the survivability of the business and its exit value. If the performance claims or validation documentation were undermined (even by insinuation), Juniper faced loss of buyer confidence, potential devaluation, and reputational harm affecting customers and framework outcomes. The counterclaim framed Helmshore as having tied up the company under exclusivity/NDA and then walked away, so the dispute mattered as a bid to recover lost opportunity value and protect Junipers negotiating position.\n\n- Why it mattered commercially to both sides: The conflict didnt just concern past conduct; it threatened a live NHS framework decision, where perceived credibility can influence procurement dynamics even without proven wrongdoing. Each side believed the other was running (or benefiting from) a deniable reputational campaign, meaning the dispute could directly impact revenue pipeline and market standing, not just legal exposure.\n\n- Why it mattered legally (risk concentration): It combined High Court commercial litigation with IP/ownership uncertainties (contractor assignment gaps), breach of confidence, misrepresentation, exclusivity/NDA issues, shareholder and disclosure pressures, and implied regulatory risk. That combination increases existential risk: a bad finding or adverse disclosure could create follow-on claims, forced disclosures to the market, and longer-term constraints on trading and tendering.\n\n- Why settlement was hard (and therefore why the matter stayed ongoing): Every settlement attempt surfaced a new seam of risk that would need to be owned in writinge.g., who knew what and when, what the validation data truly supported, whether any communications were improper, and who owns key IP. Any admission could be commercially lethal (procurement/reputation) and legally catalytic (regulatory attention, shareholder scrutiny, warranty/indemnity-style liability by another name).\n\n- Why it mattered to the deal team/banks/insurers: The dispute swallowed the timetable because it blocked the conditions needed for completion: banks and insurers could not underwrite risk while allegations and document anomalies remained unresolved. Stopping completion documents reflects that the transaction had shifted from execution to containment of contingent liability.\n\n- Why it mattered to the firm/lead lawyer (Catherine Shaw/Blenheim Carter LLP): The case was a modern hybrid where transaction documents become evidence and litigation strategy must account for market disclosure and procurement consequences. The interim preservation/communications order shows the court recognised real risk, but the refusal to police market gossip without a clear unlawful act meant the clients most sensitive vulnerabilityreputational leakagecould not be fully controlled through injunctions, raising the stakes for disclosure, witness evidence, and narrative discipline."
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/day_0_exp_update",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 2,
  "meta": null
}