leonard-dev-workflows/j2xZQZ7e9QvrTyI3-LAUNCH_Leonard_Testimonial_Breadcumb.json
{
  "name": "LAUNCH - Leonard - Testimonial Breadcumb",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d39260cb-3f88-4f4c-970a-b7ed55b13fac",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1740,
        820
      ],
      "id": "ee9697fa-f622-4fc0-887a-c785ca436fcb",
      "name": "Webhook",
      "webhookId": "d39260cb-3f88-4f4c-970a-b7ed55b13fac"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Webhook').item.json.body.user_email }}",
        "additionalFields": {
          "firstName": "={{ $('Webhook').item.json.body.first_name }}",
          "lastName": "={{ $('Webhook').item.json.body.last_name }}",
          "workEmail": "={{ $('Webhook').item.json.body.user_email }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        -782,
        620
      ],
      "id": "7cbcaad2-0fef-4e3e-839d-7292f62300fc",
      "name": "HubSpot1",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4ZWRbZ2jFaCFRgGS",
          "name": "HubSpot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:643417d7b97a4756a407b0e87e177a9a@thread.v2",
          "mode": "list",
          "cachedResultName": "demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A643417d7b97a4756a407b0e87e177a9a%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=New LIVE demo session completed by {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} - {{ $('Webhook').item.json.body.user_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -782,
        820
      ],
      "id": "532777aa-d76e-4521-a488-f6369ecadd0b",
      "name": "Microsoft Teams",
      "webhookId": "3a871070-907b-4eec-a38d-fd6a79e8ff51",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account - Andy"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1520,
        820
      ],
      "id": "917809f2-2f6d-41ca-934d-708f5d106089",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "475c4179-6210-4f7c-a2b8-d95aa580c933",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1652,
        1800
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "93761c9d-f1d4-47c9-b738-5585ca3eec05",
      "name": "OpenAI Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        264,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee1c8d0b-426e-44f0-9fd8-b85339e8b99f",
      "name": "OpenAI Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        640,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "4f006ea4-ca3e-4e08-9f4b-27a7ecaa32af",
      "name": "AI Agent - Short Pitch",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        176,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji 🚀 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket 🚀  emojis in your post, if there are, delete them before concluding the post.",
        "options": {
          "systemMessage": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji 🚀 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket 🚀  emojis in your post, if there are, delete them before concluding the post."
        }
      },
      "id": "06a4b96e-24ec-4d0f-b57f-d6f23f456a6a",
      "name": "AI Agent - L/E LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        552,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c6ab6e73-2de9-4aae-874f-31e02c5552d8",
      "name": "OpenAI Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -772,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n",
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n"
        }
      },
      "id": "5e7ddd55-55a4-4f5f-8a60-5956b04d0bae",
      "name": "AI Agent - Re-write Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -860,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract structured and reliable data about lawyers and their law firms using only public and reputable sources such as Chambers and Partners, Legal 500, law firm websites, news articles, and professional networks. Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays) for that field. Do not return null, blank values, or empty arrays. Always populate the full structure exactly as provided below.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following individual:\\n\\n- Full Name:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- Email: {{ $json.email }}\\n- Company Domain: {{ $json.domain }}\\n\\nReturn a JSON object with the following structure and fallback values:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n  \\\"relevantExperience\\\": [], // Array of 5 major deals/cases or client work summaries for corporate clients\\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 major deals/cases or client work summaries for individuals\\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 areas of Expertise in terms of Sectors \\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 areas of Expertise in terms of Services \\\"] or [\\\"no info\\\"],\\n  \\\"publicationsAndInsights\\\": [\\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"newsAndClientWork\\\": [\\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"rankings\\\": {\\n    \\\"chambers\\\": {\\n      \\\"ranking\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\",\\n      \\\"area\\\": \\\"string or 'no info'\\\"\\n    },\\n    \\\"legal500\\\": {\\n      \\\"ranking\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\",\\n      \\\"area\\\": \\\"string or 'no info'\\\"\\n    }\\n  },\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\"\\n}\\n\\nReturn only the JSON object as raw output. No extra explanation, no Markdown formatting, and no commentary.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "id": "d7958ba1-9d1d-4592-9393-e1392910784e",
      "name": "Perplexity Firm Research1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1300,
        360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblDHEJ8x23wFU8m4",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblDHEJ8x23wFU8m4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Split Out Email').item.json.fullName }}",
            "Company Name": "={{ $json.actualCompanyName }}",
            "Address": "={{ $json.location }}",
            "Contact Email": "={{ $('Split Out Email').item.json.email }}",
            "Practice Area": "={{ $json.practiceArea }}",
            "LinkedIn Profile": "={{ $json.bio }}",
            "Chambers Ranking": "={{ $json.rankings.chambers.ranking }}",
            "Legal 500 Ranking": "={{ $json.rankings.legal500.ranking }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Full Name (PP Search)": "={{ $json.fullName }}",
            "Date Joined": "={{ $('Date Format').item.json.formattedDate }}",
            "Phone Number": "={{ $json.telephone }}",
            "Relevant Experience Clients 1": "={{ $json.relevantExperience[0] }}",
            "Relevant Experience Indiv 1": "={{ $json.relevantExperienceIndividuals[0] }}",
            "Expertese Sectors 1": "={{ $json.relevantExperienceSectors[0] }}",
            "Expertese Sectors 2": "={{ $json.relevantExperienceSectors[1] }}",
            "Expertese Sectors 3": "={{ $json.relevantExperienceSectors[2] }}",
            "Expertese Sectors 5": "={{ $json.relevantExperienceSectors[4] }}",
            "Expertese Sercices 1": "={{ $json.relevantExperienceServices[0] }}",
            "Expertese Sercices 3": "={{ $json.relevantExperienceServices[2] }}",
            "Expertese Sercices 4": "={{ $json.relevantExperienceServices[3] }}",
            "Relevant Experience Indiv 2": "={{ $json.relevantExperienceIndividuals[1] }}",
            "Relevant Experience Clients 2": "={{ $json.relevantExperience[1] }}",
            "Relevant Experience Clients 3": "={{ $json.relevantExperience[2] }}",
            "Relevant Experience Clients 4": "={{ $json.relevantExperience[3] }}",
            "Relevant Experience Clients 5": "={{ $json.relevantExperience[4] }}",
            "Relevant Experience Indiv 3": "={{ $json.relevantExperienceIndividuals[2] }}",
            "Relevant Experience Indiv 4": "={{ $json.relevantExperienceIndividuals[3] }}",
            "Relevant Experience Indiv 5": "={{ $json.relevantExperienceIndividuals[4] }}",
            "Expertese Sercices 2": "={{ $json.relevantExperienceServices[1] }}",
            "Expertese Sercices 5": "={{ $json.relevantExperienceServices[4] }}",
            "Expertese Sectors 4": "={{ $json.relevantExperienceSectors[3] }}",
            "Publications and Insight 1": "={{ $json.publicationsAndInsights[0] }}",
            "Publications and Insight 2": "={{ $json.publicationsAndInsights[1] }}",
            "News and Client Work 1": "={{ $json.newsAndClientWork[0] }}",
            "News and Client Work 2": "={{ $json.newsAndClientWork[1] }}",
            "Award 1": "={{ $json.awards[0] }}",
            "Award 2": "={{ $json.awards[1] }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Contact Method",
              "displayName": "Preferred Contact Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Phone",
                  "value": "Phone"
                },
                {
                  "name": "Mail",
                  "value": "Mail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Associated Documents",
              "displayName": "Associated Documents",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile Picture",
              "displayName": "Profile Picture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Joined",
              "displayName": "Date Joined",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Inactive",
                  "value": "Inactive"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Matters",
              "displayName": "Matters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Practice Area",
              "displayName": "Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 1",
              "displayName": "Expertese Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 2",
              "displayName": "Expertese Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 3",
              "displayName": "Expertese Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 4",
              "displayName": "Expertese Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 5",
              "displayName": "Expertese Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 1",
              "displayName": "Expertese Sercices 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 2",
              "displayName": "Expertese Sercices 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 3",
              "displayName": "Expertese Sercices 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 4",
              "displayName": "Expertese Sercices 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 5",
              "displayName": "Expertese Sercices 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -860,
        360
      ],
      "id": "d4874705-b386-40d4-ba43-974c873cd114",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inputDate = new Date($input.first().json.currentDate); // replace with actual field name\n\nconst formattedDate = `${inputDate.getMonth() + 1}/${inputDate.getDate()}/${inputDate.getFullYear()}`;\n\nreturn [\n  {\n    json: {\n      formattedDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1740,
        160
      ],
      "id": "72e32a8f-4cc3-470f-a1d2-adb8e797bb9e",
      "name": "Date Format",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const email = $('Webhook').first().json.body.user_email.trim().toLowerCase();\nconst [fullNamePart, domain] = email.split(\"@\");\n\nfunction capitalize(str) {\n  return str.charAt(0).toUpperCase() + str.slice(1);\n}\n\n// Extract names\nlet [firstName, lastName] = fullNamePart.split(/[._]/); // supports \"john.doe\" or \"john_doe\"\nfirstName = capitalize(firstName || \"\");\nlastName = lastName ? capitalize(lastName) : \"\";\nconst fullName = lastName ? `${firstName} ${lastName}` : firstName;\n\n// Extract company from domain\nconst publicSuffixes = ['co.uk', 'org.uk', 'ac.uk', 'gov.uk', 'com.au', 'com.br', 'co.in'];\nlet company = \"\";\n\nconst domainParts = domain.split(\".\");\nconst domainSuffix = domainParts.slice(-2).join(\".\");\nconst isTwoPartSuffix = publicSuffixes.includes(domainSuffix);\n\nif (isTwoPartSuffix && domainParts.length > 2) {\n  company = domainParts[domainParts.length - 3];\n} else if (domainParts.length > 1) {\n  company = domainParts[domainParts.length - 2];\n} else {\n  company = domainParts[0];\n}\n\ncompany = capitalize(company);\n\nreturn [\n  {\n    json: {\n      email,\n      firstName,\n      lastName,\n      fullName,\n      domain,\n      company,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        160
      ],
      "id": "87979347-c286-405d-8a30-878f93342bf0",
      "name": "Split Out Email",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices[0].message.content;\n\n// Clean the Markdown formatting\ncontent = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\n\n// Try parsing the content safely\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { message: \"No info found\" };\n}\n\n// Check if all values in the expected structure are null, empty arrays, or empty strings\nconst hasUsefulData = Object.values(parsed).some(value => {\n  if (value === null || value === \"\" || (Array.isArray(value) && value.length === 0)) return false;\n  if (typeof value === \"object\" && !Array.isArray(value)) {\n    // Check nested objects (like `rankings`)\n    return Object.values(value).some(sub => {\n      if (typeof sub === \"object\") {\n        return Object.values(sub).some(v => v !== null && v !== \"\");\n      }\n      return sub !== null && sub !== \"\";\n    });\n  }\n  return true;\n});\n\nif (!hasUsefulData) {\n  parsed = { message: \"No info found\" };\n}\n\n// Return a single flat object instead of an array\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        360
      ],
      "id": "a1f6f54b-3df6-445b-a3f8-0f9017308a84",
      "name": "PP Flattening",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices[0].message.content;\n\n// Clean the Markdown formatting\ncontent = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\n\n// Try parsing the content safely\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { message: \"No info found\" };\n}\n\n// Check if all values in the expected structure are null, empty arrays, or empty strings\nconst hasUsefulData = Object.values(parsed).some(value => {\n  if (value === null || value === \"\" || (Array.isArray(value) && value.length === 0)) return false;\n  if (typeof value === \"object\" && !Array.isArray(value)) {\n    // Check nested objects (like `rankings`)\n    return Object.values(value).some(sub => {\n      if (typeof sub === \"object\") {\n        return Object.values(sub).some(v => v !== null && v !== \"\");\n      }\n      return sub !== null && sub !== \"\";\n    });\n  }\n  return true;\n});\n\nif (!hasUsefulData) {\n  parsed = { message: \"No info found\" };\n}\n\n// Return a single flat object instead of an array\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        160
      ],
      "id": "3ef05f04-3290-4671-8852-6d90b0b2c44d",
      "name": "PP Flattening1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract structured and reliable data about lawyers and their law firms using only public and reputable sources such as Chambers and Partners (https://chambers.com/lawyer/). Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays). Do not return null, blank values, or empty arrays. Populate the full structure exactly as provided below.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following individual:\\n\\n- Full Name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- Email: {{ $json.email }}\\n- Company Domain: {{ $json.domain }}\\n\\nReturn a JSON object with the following structure:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"email\\\": \\\"string or 'no info'\\\",\\n  \\\"website\\\": \\\"string or 'no info'\\\",\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\",\\n\\n  \\\"practiceAreas\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"quantity of practice areas ranked\\\": \\\"number as string or 'no info'\\\",\\n  \\\"rankingsByPracticeArea\\\": [\\n    {\\n      \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n      \\\"band\\\": \\\"string or 'no info'\\\",\\n      \\\"region\\\": \\\"string or 'no info'\\\",\\n      \\\"country\\\": \\\"string or 'no info'\\\",\\n      \\\"yearsRanked\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"rankedInGuides\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"career\\\": [\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\"\\n  ] or [\\\"no info\\\"],\\n  \\\"expertiseSectors\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"expertiseServices\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"Client Testimonials\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"chambers Review provided by chambers\\\": {\\n    \\\"editorialSummary\\\": \\\"string or 'no info'\\\",\\n    \\\"strengths provided by chambers\\\": [\\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"]\\n  },\\n\\n  \\\"Other lawyers at firm provided by chambers\\\": [\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"\\n  ] or [\\\"no info\\\"]\\n}\\n\\nReturn only the JSON object as raw output. Do not include Markdown formatting, code fences, or any extra explanation.\"\n    }\n  ],\n  \"max_tokens\": 3000,\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "id": "f00ca908-95aa-4b6e-a51e-25a3d607a364",
      "name": "Perplexity Chambers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1300,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:3b774197e8f540238b983f2e1cfa5f0f@thread.v2",
          "mode": "list",
          "cachedResultName": "sandbox-demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A3b774197e8f540238b983f2e1cfa5f0f%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=DEMO - AirTable updated for {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}: <br><br>\n\n- {{ $json.fields['Client Name'] }} <br>\n- {{ $json.fields['Job Title'] }}<br>\n- {{ $('Webhook').item.json.body.user_email }}<br>\n- {{ $json.fields['Company Name'] }}<br>\n- {{ $json.fields['Practice Area'] }}<br>\n- {{ $json.fields['LinkedIn Profile'] }}<br>\n- Relevent Experience: <br>{{ $json.fields['Relevant Experience Clients 1'] }}, <br>{{ $json.fields['Relevant Experience Clients 2'] }},<br> {{ $json.fields['Relevant Experience Clients 4'] }}, <br>{{ $json.fields['Relevant Experience Clients 5'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -640,
        360
      ],
      "id": "df423d0b-6751-40cb-841f-2acb04bed54a",
      "name": "Microsoft Teams1",
      "webhookId": "f10bd68b-060a-4255-bb5b-7603cd51e9ae",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account - Andy"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4\",   // or \"gpt-4-turbo\" or \"claude-3-opus\"\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract detailed and structured data about UK lawyers and their law firms. Focus especially on extracting notable matter descriptions (including high-value or landmark cases) from reputable public sources like Chambers and Partners, Legal 500, Lexology, and Law.com. Prioritise Chambers entries. Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays). Do not return null, blank values, or empty arrays.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Search the following query:{{ $json.searchQueries }}\\n\\n\\n\\nTargeted lawyer:\\n- Full Name:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} \\n- Email: {{ $('Split Out Email').item.json.email }}\\n- Company Domain: {{ $('Split Out Email').item.json.domain }}\\n\\nReturn a JSON object with the following structure:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"email\\\": \\\"string or 'no info'\\\",\\n  \\\"website\\\": \\\"string or 'no info'\\\",\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\",\\n\\n  \\\"practiceAreas\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"quantity of practice areas ranked\\\": \\\"number as string or 'no info'\\\",\\n  \\\"rankingsByPracticeArea\\\": [\\n    {\\n      \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n      \\\"band\\\": \\\"string or 'no info'\\\",\\n      \\\"region\\\": \\\"string or 'no info'\\\",\\n      \\\"country\\\": \\\"string or 'no info'\\\",\\n      \\\"yearsRanked\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"rankedInGuides\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"career\\\": [\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\"\\n  ] or [\\\"no info\\\"],\\n  \\\"expertiseSectors\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"expertiseServices\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"Client Testimonials\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"notableMatters\\\": [\\n    {\\n      \\\"title\\\": \\\"string or 'no info'\\\",\\n      \\\"description\\\": \\\"string or 'no info'\\\",\\n      \\\"value\\\": \\\"string or 'no info'\\\",\\n      \\\"jurisdiction\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"chambers Review provided by chambers\\\": {\\n    \\\"editorialSummary\\\": \\\"string or 'no info'\\\",\\n    \\\"strengths provided by chambers\\\": [\\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"]\\n  },\\n\\n  \\\"Other lawyers at firm provided by chambers\\\": [\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"\\n  ] or [\\\"no info\\\"]\\n}\\n\\nReturn only the JSON object.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "ff9604d2-3cd9-4402-949b-e85ee6d7fd6d",
      "name": "Perplexity Chambers1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1300,
        -40
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n\n  \"prompt\": \"Writing as an expert in business development, sales, and pitching for UK law firms and professional services in a B2B environment, draft a short email to the client from the stated [user name], using the matter summary. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\\n\\n1. Thank them for the opportunity to work on such a great matter.\\n2. Ask for feedback on the service and outcome.\\n3. Ask whether they would be willing to provide a client testimonial on the work performed, explaining that the testimonial may be used on the corporate website and in future marketing materials.\\n4. Provide two different example client testimonials that could be used, based on the matter summary.\\n\\nINPUTS:\\n- Summary of the matter: {{ $('Webhook').item.json.body.summary }}\\n- User's full name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- User's email: {{ $('Webhook').item.json.body.user_email }}\\n- User's company or law firm: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\\n- Date and time: {{ $now }}\\n- Call transcript: {{ $('Webhook').item.json.body.transcript }}\\n\\nOUTPUT:\\nProvide the output as raw HTML that can be directly embedded into an HTML email.\\nDo not include any Markdown formatting, code fences, or triple backticks.\\nReturn only the HTML — no explanations, no notes, and no additional text.\" \n\n}\n\n",
        "options": {
          "systemMessage": "={\n\n  \"prompt\": \"Writing as an expert in business development, sales, and pitching for UK law firms and professional services in a B2B environment, draft a short email to the client from the stated [user name], using the matter summary. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\\n\\n1. Thank them for the opportunity to work on such a great matter.\\n2. Ask for feedback on the service and outcome.\\n3. Ask whether they would be willing to provide a client testimonial on the work performed, explaining that the testimonial may be used on the corporate website and in future marketing materials.\\n4. Provide two different example client testimonials that could be used, based on the matter summary.\\n\\nINPUTS:\\n- Summary of the matter: {{ $('Webhook').item.json.body.summary }}\\n- User's full name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- User's email: {{ $('Webhook').item.json.body.user_email }}\\n- User's company or law firm: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\\n- Date and time: {{ $now }}\\n- Call transcript: {{ $('Webhook').item.json.body.transcript }}\\n\\nOUTPUT:\\nProvide the output as raw HTML that can be directly embedded into an HTML email.\\nDo not include any Markdown formatting, code fences, or triple backticks.\\nReturn only the HTML — no explanations, no notes, and no additional text.\" \n\n}\n\n"
        }
      },
      "id": "8ff00b6c-24d1-4fe3-a02d-07df315e8dc7",
      "name": "AI Agent Testimonial HTML",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1740,
        1580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c5cef533-ac8e-46b4-aa40-627de7f865c4",
      "name": "OpenAI Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1016,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d1af321e-7ba6-4a12-92a6-ff349fd4247e",
      "name": "OpenAI Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1392,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "0f5e1d27-d12f-4c30-84c5-a58e1cf83d0a",
      "name": "AI Agent - Website Profile",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        928,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "fc0c7282-c611-4290-bbe6-11d25fe0605d",
      "name": "AI Agent - Website case study",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1304,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}, lee@legalengine.co.uk",
        "subject": "=Legal Engine assets update for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do?</p>\n      <p>As promised, here’s a summary of our conversation:</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $('AI Agent - Re-write Summary').item.json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I’ve converted our chat into <b>a few additional marketing assets below.</b></p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n\n\n   <!-- WEBSITE BIO -->\n    <div class=\"section\">\n<br><br><h1>Additional marketing assets</h1>\n     <h2>Website Profile</h2>\n    <p>{{ $('AI Agent - Website Profile').item.json.output }}</p>\n    </div>   \n\n<!-- WEBSITE UPDATE -->\n    <div class=\"section\">\n      <h2>Website case study</h2>\n    <p>{{ $('AI Agent - Website case study').item.json.output }}</p>\n    </div>\n\n<!-- SHORT PITCH -->\n    <div class=\"section\">\n      <h2>Short pitch credential</h2>\n    <p>{{ $('AI Agent - Short Pitch').item.json.output }}</p>\n    </div>\n\n    <!-- LINKEDIN POST INTRO -->\n    <div class=\"section\">\n      <p><b>Bonus:</b> if you enjoyed our conversation, I'd really appreciate your help in spreading the word amongst your network and have drafted something below you can post. Tag <b>@LegalEngine</b> when you share and I’ll top up your free Leonard credits.</p>\n    </div>\n\n    <!-- LINKEDIN POST -->\n    <div class=\"section\">\n      <h2>LinkedIn Post&nbsp;&nbsp;•&nbsp;&nbsp;#LeonardAI</h2>\n      <p>{{ $('AI Agent - L/E LinkedIn').item.json.output }}</p>\n    </div>\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.body.user_email }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2340,
        1120
      ],
      "id": "1520a24e-85bb-4a69-b5d0-6b76cccfd670",
      "name": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
      "webhookId": "f17852a4-3251-4275-ab43-319966d91c00",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leonard Demo Stage": "Leonard post call flow email sent",
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "Email Sent": "={{ $json.formattedDate }} {{ $json.formattedTime }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard - Web/Twillio",
              "displayName": "Leonard - Web/Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details Submitted in frontend",
              "displayName": "Details Submitted in frontend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Launch Twillio",
              "displayName": "Launch Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "n8n Webhook initiated",
              "displayName": "n8n Webhook initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Air table write initiated",
              "displayName": "Air table write initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow started",
              "displayName": "Email flow started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow content finished",
              "displayName": "Email flow content finished",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Unsubscribe Web",
              "displayName": "Unsubscribe Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Email",
              "displayName": "Unsubscribe Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3000,
        1120
      ],
      "id": "4e7c54c7-d6a1-43b3-bce5-6c4bab58ea37",
      "name": "Airtable - Leonard Demo Email Sent",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leonard Demo Stage": "Leonard post call flow started",
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "Last Updated": "={{ $json.formattedDate }}",
            "n8n Webhook initiated": "={{ $json.formattedDate }} {{ $json.formattedTime }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard - Web/Twillio",
              "displayName": "Leonard - Web/Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details Submitted in frontend",
              "displayName": "Details Submitted in frontend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Launch Twillio",
              "displayName": "Launch Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "n8n Webhook initiated",
              "displayName": "n8n Webhook initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Air table write initiated",
              "displayName": "Air table write initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow started",
              "displayName": "Email flow started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow content finished",
              "displayName": "Email flow content finished",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Web",
              "displayName": "Unsubscribe Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Email",
              "displayName": "Unsubscribe Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1080,
        820
      ],
      "id": "bdc489b8-b571-4f8c-b4c3-2760a12a4beb",
      "name": "Airtable - Demo post call started",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        820
      ],
      "id": "75b5a128-d5b4-478b-b6aa-742cf05bb480",
      "name": "Date Format2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "Last Updated": "={{ $json.formattedDate }}",
            "Email flow content finished": "={{ $json.formattedDate }} {{ $json.formattedTime }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard - Web/Twillio",
              "displayName": "Leonard - Web/Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details Submitted in frontend",
              "displayName": "Details Submitted in frontend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Launch Twillio",
              "displayName": "Launch Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "n8n Webhook initiated",
              "displayName": "n8n Webhook initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Air table write initiated",
              "displayName": "Air table write initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow started",
              "displayName": "Email flow started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow content finished",
              "displayName": "Email flow content finished",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Web",
              "displayName": "Unsubscribe Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Email",
              "displayName": "Unsubscribe Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2120,
        1120
      ],
      "id": "dec67be6-824d-4b3d-82d2-c15b48c3ce36",
      "name": "Airtable - Demo post call started1",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        1120
      ],
      "id": "51505d10-a778-48e0-af73-3ba557a6824b",
      "name": "Date Format3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "Last Updated": "={{ $json.formattedDate }}",
            "Email flow started": "={{ $json.formattedDate }} {{ $json.formattedTime }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard - Web/Twillio",
              "displayName": "Leonard - Web/Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details Submitted in frontend",
              "displayName": "Details Submitted in frontend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Launch Twillio",
              "displayName": "Launch Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "n8n Webhook initiated",
              "displayName": "n8n Webhook initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Air table write initiated",
              "displayName": "Air table write initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow started",
              "displayName": "Email flow started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email flow content finished",
              "displayName": "Email flow content finished",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Web",
              "displayName": "Unsubscribe Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Email",
              "displayName": "Unsubscribe Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -44,
        1120
      ],
      "id": "5baa7e30-09a1-4fa9-bdb2-75c125ca1550",
      "name": "Airtable - Demo post call started2",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -264,
        1120
      ],
      "id": "9689538c-ca5d-4853-9a36-f0b5fff3ef01",
      "name": "Date Format4",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        1120
      ],
      "id": "7b33be0c-0c08-474c-81a0-b43c0ffd81f9",
      "name": "Date Format5",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -484,
        1120
      ],
      "id": "c8a9d21e-1f61-40ae-b20c-50af74662630",
      "name": "Date & Time1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1680,
        1120
      ],
      "id": "b3598492-87a1-40f9-96b0-41b14d865734",
      "name": "Date & Time2",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2560,
        1120
      ],
      "id": "c6bb7cdb-6799-4498-b35b-6fddd2f74d21",
      "name": "Date & Time3",
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "=lee@legalengine.co.uk, {{ $('Webhook').item.json.body.user_email }}",
        "subject": "={{ $('Webhook').item.json.body.first_name }} - sharing some additional value from Legal Engine!",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out recently. How did you find our conversation? Anything I need to improve?</p>\n      <p>I thought I'd follow up with another asset that I've created based on our conversation...</p>\n    </div>\n\n    <!-- CLIENT TESTIMONIAL -->\n    <div class=\"section\">\n      <h2>Client Testimonial</h2>\n      <p>{{ $json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p><br>This is just the beginning, my capabilities are growing with every interaction. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.<br><br>\nI’d love the opportunity to introduce you to the team and show you some of the other things we’re doing. Let me know if you’re interested and I’ll be in touch to set up a time.</p>\n    </div>\n\n\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.body.user_email }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1280,
        1580
      ],
      "id": "ea77066f-832b-47d1-9575-ff82897a22de",
      "name": "HTML Email from Leonard with MS, WP, WCS, SP & LI1",
      "webhookId": "f17852a4-3251-4275-ab43-319966d91c00",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date Format2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Testimonial HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Re-write Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Short Pitch": {
      "main": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - L/E LinkedIn": {
      "main": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Re-write Summary": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Firm Research1": {
      "main": [
        [
          {
            "node": "PP Flattening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format": {
      "main": [
        [
          {
            "node": "Split Out Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Email": {
      "main": [
        [
          {
            "node": "Perplexity Firm Research1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Chambers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Chambers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PP Flattening": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PP Flattening1": {
      "main": [
        []
      ]
    },
    "Perplexity Chambers": {
      "main": [
        [
          {
            "node": "PP Flattening1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Microsoft Teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Testimonial HTML": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard with MS, WP, WCS, SP & LI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website Profile": {
      "main": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website case study": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Email from Leonard with MS, WP, WCS, SP & LI": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format2": {
      "main": [
        [
          {
            "node": "Airtable - Demo post call started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format3": {
      "main": [
        [
          {
            "node": "Airtable - Demo post call started1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format4": {
      "main": [
        [
          {
            "node": "Airtable - Demo post call started2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format5": {
      "main": [
        [
          {
            "node": "Airtable - Leonard Demo Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Demo post call started": {
      "main": [
        [
          {
            "node": "AI Agent Testimonial HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Date Format4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Date Format3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Date Format5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Demo post call started1": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Demo post call started2": {
      "main": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "3269",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.67.146.145",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "94e7ce624127616f-ORD",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.67.146.145, 172.69.6.80",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-xjzqs",
            "x-is-trusted": "yes",
            "x-real-ip": "34.67.146.145"
          },
          "params": {},
          "query": {},
          "body": {
            "transcript": "Thank you very much. Um, I would like to talk about our customer Nightingale health and the case we conducted with them. Our reference title is perennials it is advising Nightingale health on its transfer to the main market of NASDAQ Helsinki and on having its ADRs and B shares quoted on the OTC UX international market.Why did the client come to you for this matter, and what was the outcome for them?I have a strong relationship with the customer and we have worked with them before. And we are advising Nightingale Health on its list transfer from first north to the main market of Nasdaq Helsinki and on having its ADRs, American Depository Receipts, and B-Shares quoted on the OTCQX international market managed by New York headquartered OTC Markets Group Inc.What was the deal size or transaction value for this matter, and were there any notable cost savings or revenue implications for the client?That is not publishable information, unfortunately.Understood. What role did you play, who were the other key team members, and what were their roles? Also, let me know which jurisdictions it involved.The jurisdictions involved are Finland and United States. And our main team who worked on this is our Capital Markets and Public M&A. And our team consists of Juha Koponen, who is our partner, Kenneth Kraszewski, who is our counsel, Aksu Tuominen, who is our counsel, Jere Onnela, who is an associate, and Vilma Kokko, who is Capital Markets Language Specialist.Was there anything noteworthy about the matter? Perhaps something innovative, precedent-setting, or something that impacted regulations or ESG?Yes, the aim of the transfer to the main market in Helsinki and entry to the OTCQX market in New York is to improve the liquidity of the B shares and to achieve a broader and international shareholder base.What is the current status of this matter? If...It is still ongoing and for context, we advised Nightingale Health also on its first note listing in two thousand and twenty-one, and we are more than happy to see the company taking these next steps to support its international growth story.Was there any press coverage or awards related to this matter?Not at this time, and I do not have any additional information at this time. Can you draft a document for us based on this information you have received?Yes, you have all the information correct. I'm sorry, I have to continue to another meeting, but are you able to send me the form via email based on this information?",
            "user_email": "maiju.rosenlew@borenius.com",
            "summary": "Nightingale Health was advised on its transfer to the main market of NASDAQ Helsinki and on having its ADRs and B shares quoted on the OTC UX international market. The client's motivation was to improve the liquidity of the B shares and to achieve a broader and international shareholder base. The team consisted of Juha Koponen, Partner; Kenneth Kraszewski, Counsel; Aksu Tuominen, Counsel; Jere Onnela, Associate; and Vilma Kokko, Capital Markets Language Specialist. The jurisdictions involved are Finland and United States. The matter is currently ongoing. Nightingale Health was also advised on its first note listing in two thousand and twenty-one.",
            "first_name": "Maiju",
            "last_name": "Rosenlew"
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/testdemo",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}