leonard-dev-workflows/z1ZJa0qNi3y7ESyS-Legal_Engine_Outreach_Email_list_1_1.json
{
  "name": "Legal Engine - Outreach Email list 1.1",
  "nodes": [
    {
      "parameters": {},
      "id": "05ea7249-78c9-4c00-8d9e-8169a752b80b",
      "name": "When clicking Test workflow1",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        -80
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}",
        "unit": "minutes"
      },
      "id": "67714ae5-ea9a-4eed-ab3a-4c7b5cdc8b97",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        60
      ],
      "webhookId": "c57d3939-b2c6-4209-9a5b-c38cee705a3c"
    },
    {
      "parameters": {
        "jsCode": "// Initialiser le message\nmsg = {};\n\n// Ajouter un délai aléatoire entre 0 et 7 minutes\nconst randomDelay = Math.floor(Math.random() * 7) ;\n\n// Calculer le délai total\nconst totalDelay = randomDelay;\n\n// Ajouter le délai au message\nmsg.delay = totalDelay;\n\n// Retourner le message\nreturn msg;"
      },
      "id": "81e4725f-1419-4a30-a95d-783d5d353493",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69676b6c-2bf4-4312-b916-4316c66421a8",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        -60
      ],
      "id": "934f969e-13e9-4fc0-bdb1-1632f4dbbc35",
      "name": "If1"
    },
    {
      "parameters": {
        "sheetId": "1jHbr4pU69R9Dcqc-d62fuNPxhzmWostiTKCXQOQuXfU",
        "range": "L:P",
        "options": {}
      },
      "id": "f2d888d4-50ec-47e6-9df9-6ce7ed7dbcc9",
      "name": "Read List of Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -960,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ideYdPgaT4pRzHvx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6609bda-ba69-4fba-b2e7-98cb627cb30c",
              "leftValue": "={{ $json['LE Test Email'].isEmail() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a1313e2-9508-4795-a72f-b1e415f5eba8",
      "name": "Is it an Email ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a90f0a36-6bc3-4cb8-a8b1-0123df547f9b",
      "name": "Loop Over Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -360,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        640,
        -40
      ],
      "id": "13ff75fe-10fb-4d17-bc85-ade666bf4290",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblEBgz0HnGTbDQNn",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Outreach Emails",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblEBgz0HnGTbDQNn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Read List of Leads').item.json[\"LE Test Email\"] }}",
            "Last Updated": "={{ $json.formattedDate }}",
            "Email 1 Sent At ": "={{ $json.formattedDate }}",
            "Email 1 Subject Line": "A rising star like you [First Name], deserves a better process",
            "Email 1 Wave": "1.1",
            "Email 1 Copy": "Hi [First Name],  You’re clearly on the move. Let’s make it easier to show what you’ve done, with a quick and efficient way to capture your best matters.  We built Leonard to change that. He’s an AI directories assistant who:   🧠 Knows what matters   📞 Asks the right questions in under six minutes   📄 Creates a clean, accurate matter summary delivered straight to your inbox    Try the demo for free: https://demo.legalengine.co.uk/    Kind regards    Lee   Lee Curtis   Co-founder, Legal Engine   M: 07889 758119   E: lee@legalengine.co.uk   W: www.legalengine.co.uk   Making EVERY conversation count.",
            "Email 1 Format": "Plain Text",
            "Client Name - Scrape": "={{ $('Read List of Leads').item.json[\"First Name\"] }} {{ $('Read List of Leads').item.json[\"Last Name\"] }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard - Web/Twillio",
              "displayName": "Leonard - Web/Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details Submitted in frontend",
              "displayName": "Details Submitted in frontend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Launch Twillio",
              "displayName": "Launch Twillio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "n8n Webhook initiated",
              "displayName": "n8n Webhook initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Air table write initiated",
              "displayName": "Air table write initiated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow started",
              "displayName": "Email flow started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email flow content finished",
              "displayName": "Email flow content finished",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Web",
              "displayName": "Unsubscribe Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Unsubscribe Email",
              "displayName": "Unsubscribe Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Length (m)",
              "displayName": "Call Length (m)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "n8n Execution Length s)",
              "displayName": "n8n Execution Length s)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email 1 Wave",
              "displayName": "Email 1 Wave",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email 1 Sent At ",
              "displayName": "Email 1 Sent At ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email 1 Subject Line",
              "displayName": "Email 1 Subject Line",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email 1 Copy",
              "displayName": "Email 1 Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email 1 Format",
              "displayName": "Email 1 Format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email 2 Wave",
              "displayName": "Email 2 Wave",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 2 Sent At",
              "displayName": "Email 2 Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 2 Subject Line",
              "displayName": "Email 2 Subject Line",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 2 Copy",
              "displayName": "Email 2 Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 2 Format",
              "displayName": "Email 2 Format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 3 Sent At",
              "displayName": "Email 3 Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 3 Wave",
              "displayName": "Email 3 Wave",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 3 Subject Line",
              "displayName": "Email 3 Subject Line",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 3 Copy",
              "displayName": "Email 3 Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email 3 Format",
              "displayName": "Email 3 Format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1160,
        -40
      ],
      "id": "37bdb04c-16e7-49b5-a71b-2fd506955837",
      "name": "Airtable - New Demo Details Submitted",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        -40
      ],
      "id": "98655c7c-c398-44ed-974a-8d2a5c3a2d86",
      "name": "Date Format2"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json[\"LE Test Email\"] }}",
        "subject": "=A rising star like you {{ $json[\"First Name\"] }} deserves a better process ",
        "bodyContent": "=Hi {{ $json[\"First Name\"] }},\n\nYou’re clearly on the move. Let’s make it easier to show what you’ve done, with a quick and efficient way to capture your best matters.\n\nWe built Leonard to change that. He’s an AI directories assistant who:  \n🧠 Knows what matters  \n📞 Asks the right questions in under six minutes  \n📄 Creates a clean, accurate matter summary delivered straight to your inbox  \n\nTry the demo for free: https://demo.legalengine.co.uk/  \n\nKind regards  \n\nLee  \nLee Curtis  \nCo-founder, Legal Engine  \nM: 07889 758119  \nE: lee@legalengine.co.uk  \nW: www.legalengine.co.uk  \nMaking EVERY conversation count.\n\n\n\n\n\n\n\nUnsubscribe - https://unsubscribe.legalengine.co.uk/\n",
        "additionalFields": {
          "bodyContentType": "Text"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        300,
        -40
      ],
      "id": "75c78a63-8f04-4137-b94d-13dfe3484eef",
      "name": "Email from Lee Wave 1.1",
      "webhookId": "7ad23756-f9a0-4870-a668-a354e1e460b9",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "6M8EKjo0xkpyROgs",
          "name": "Microsoft Outlook account 4"
        }
      }
    }
  ],
  "connections": {
    "When clicking Test workflow1": {
      "main": [
        [
          {
            "node": "Read List of Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email from Lee Wave 1.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read List of Leads": {
      "main": [
        [
          {
            "node": "Is it an Email ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it an Email ?": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Emails": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Date Format2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format2": {
      "main": [
        [
          {
            "node": "Airtable - New Demo Details Submitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - New Demo Details Submitted": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email from Lee Wave 1.1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}