leonard-dev-workflows/live/LV9TGbztpvkF3Qwx-TEST_P_P_LIVE_Demo_Leonard_Summary_SP_WP_WCS_LinkedIn.json
{
  "name": "TEST P/P - LIVE Demo Leonard - Summary, SP, WP, WCS & LinkedIn",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd10025c-dd5e-4fe8-b0c0-ecf7e1d2fb2c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        920
      ],
      "id": "b4e4b013-ba70-495b-91e4-798c0a8373d6",
      "name": "Webhook",
      "webhookId": "bd10025c-dd5e-4fe8-b0c0-ecf7e1d2fb2c"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Webhook').item.json.body.user_email }}",
        "additionalFields": {
          "firstName": "={{ $('Webhook').item.json.body.first_name }}",
          "lastName": "={{ $('Webhook').item.json.body.last_name }}",
          "workEmail": "={{ $('Webhook').item.json.body.user_email }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        -1122,
        620
      ],
      "id": "1e964fd2-9fbf-4039-b4d5-40bad491d111",
      "name": "HubSpot1",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4ZWRbZ2jFaCFRgGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:643417d7b97a4756a407b0e87e177a9a@thread.v2",
          "mode": "list",
          "cachedResultName": "demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A643417d7b97a4756a407b0e87e177a9a%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=New LIVE demo session completed by {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} - {{ $('Webhook').item.json.body.user_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -1122,
        820
      ],
      "id": "3a9683fe-cea4-4a1b-9b74-9c1d4a443703",
      "name": "Microsoft Teams",
      "webhookId": "1d3b8720-3b44-4287-a6e4-bacdf2db02cd",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1420,
        920
      ],
      "id": "c1c8d3e3-464c-42a5-b928-0453d5be87b0",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ad9bc02-48e2-4c76-81e9-cbbc9d7e6021",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        1920
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "71b2e5d6-8c76-45f7-a917-c68504d4016e",
      "name": "OpenAI Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -736,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "366338c4-02e2-4be5-b856-168fe9973381",
      "name": "OpenAI Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -360,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "6e313ec6-447b-431c-8ce5-0f69a293d526",
      "name": "AI Agent - Short Pitch",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -824,
        1320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji 🚀 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket 🚀  emojis in your post, if there are, delete them before concluding the post.",
        "options": {
          "systemMessage": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji 🚀 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket 🚀  emojis in your post, if there are, delete them before concluding the post."
        }
      },
      "id": "f171e590-cc58-4e13-84d8-95f901bc1feb",
      "name": "AI Agent - L/E LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -448,
        1320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f25a2f34-844a-4689-a4ea-0fc88e0b4c3e",
      "name": "OpenAI Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1112,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n",
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n"
        }
      },
      "id": "225f45af-5638-4478-95de-080b2a4b0a62",
      "name": "AI Agent - Re-write Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1200,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract structured and reliable data about lawyers and their law firms using only public and reputable sources such as Chambers and Partners, Legal 500, law firm websites, news articles, and professional networks. Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays) for that field. Do not return null, blank values, or empty arrays. Always populate the full structure exactly as provided below.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following individual:\\n\\n- Full Name:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- Email: {{ $json.email }}\\n- Company Domain: {{ $json.domain }}\\n\\nReturn a JSON object with the following structure and fallback values:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n  \\\"relevantExperience\\\": [], // Array of 5 major deals/cases or client work summaries for corporate clients\\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 major deals/cases or client work summaries for individuals\\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 areas of Expertise in terms of Sectors \\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 areas of Expertise in terms of Services \\\"] or [\\\"no info\\\"],\\n  \\\"publicationsAndInsights\\\": [\\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"newsAndClientWork\\\": [\\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"rankings\\\": {\\n    \\\"chambers\\\": {\\n      \\\"ranking\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\",\\n      \\\"area\\\": \\\"string or 'no info'\\\"\\n    },\\n    \\\"legal500\\\": {\\n      \\\"ranking\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\",\\n      \\\"area\\\": \\\"string or 'no info'\\\"\\n    }\\n  },\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\"\\n}\\n\\nReturn only the JSON object as raw output. No extra explanation, no Markdown formatting, and no commentary.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "id": "2d79723d-a53f-40b0-98ce-1dd9e083ecd0",
      "name": "Perplexity Firm Research1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1200,
        360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblDHEJ8x23wFU8m4",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblDHEJ8x23wFU8m4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Split Out Email').item.json.fullName }}",
            "Company Name": "={{ $json.actualCompanyName }}",
            "Address": "={{ $json.location }}",
            "Contact Email": "={{ $('Split Out Email').item.json.email }}",
            "Practice Area": "={{ $json.practiceArea }}",
            "LinkedIn Profile": "={{ $json.bio }}",
            "Chambers Ranking": "={{ $json.rankings.chambers.ranking }}",
            "Legal 500 Ranking": "={{ $json.rankings.legal500.ranking }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Full Name (PP Search)": "={{ $json.fullName }}",
            "Date Joined": "={{ $('Date Format').item.json.formattedDate }}",
            "Phone Number": "={{ $json.telephone }}",
            "Relevant Experience Clients 1": "={{ $json.relevantExperience[0] }}",
            "Relevant Experience Indiv 1": "={{ $json.relevantExperienceIndividuals[0] }}",
            "Expertese Sectors 1": "={{ $json.relevantExperienceSectors[0] }}",
            "Expertese Sectors 2": "={{ $json.relevantExperienceSectors[1] }}",
            "Expertese Sectors 3": "={{ $json.relevantExperienceSectors[2] }}",
            "Expertese Sectors 5": "={{ $json.relevantExperienceSectors[4] }}",
            "Expertese Sercices 1": "={{ $json.relevantExperienceServices[0] }}",
            "Expertese Sercices 3": "={{ $json.relevantExperienceServices[2] }}",
            "Expertese Sercices 4": "={{ $json.relevantExperienceServices[3] }}",
            "Relevant Experience Indiv 2": "={{ $json.relevantExperienceIndividuals[1] }}",
            "Relevant Experience Clients 2": "={{ $json.relevantExperience[1] }}",
            "Relevant Experience Clients 3": "={{ $json.relevantExperience[2] }}",
            "Relevant Experience Clients 4": "={{ $json.relevantExperience[3] }}",
            "Relevant Experience Clients 5": "={{ $json.relevantExperience[4] }}",
            "Relevant Experience Indiv 3": "={{ $json.relevantExperienceIndividuals[2] }}",
            "Relevant Experience Indiv 4": "={{ $json.relevantExperienceIndividuals[3] }}",
            "Relevant Experience Indiv 5": "={{ $json.relevantExperienceIndividuals[4] }}",
            "Expertese Sercices 2": "={{ $json.relevantExperienceServices[1] }}",
            "Expertese Sercices 5": "={{ $json.relevantExperienceServices[4] }}",
            "Expertese Sectors 4": "={{ $json.relevantExperienceSectors[3] }}",
            "Publications and Insight 1": "={{ $json.publicationsAndInsights[0] }}",
            "Publications and Insight 2": "={{ $json.publicationsAndInsights[1] }}",
            "News and Client Work 1": "={{ $json.newsAndClientWork[0] }}",
            "News and Client Work 2": "={{ $json.newsAndClientWork[1] }}",
            "Award 1": "={{ $json.awards[0] }}",
            "Award 2": "={{ $json.awards[1] }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Contact Method",
              "displayName": "Preferred Contact Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Phone",
                  "value": "Phone"
                },
                {
                  "name": "Mail",
                  "value": "Mail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Associated Documents",
              "displayName": "Associated Documents",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile Picture",
              "displayName": "Profile Picture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Joined",
              "displayName": "Date Joined",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Inactive",
                  "value": "Inactive"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Matters",
              "displayName": "Matters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Practice Area",
              "displayName": "Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 1",
              "displayName": "Expertese Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 2",
              "displayName": "Expertese Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 3",
              "displayName": "Expertese Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 4",
              "displayName": "Expertese Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 5",
              "displayName": "Expertese Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 1",
              "displayName": "Expertese Sercices 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 2",
              "displayName": "Expertese Sercices 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 3",
              "displayName": "Expertese Sercices 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 4",
              "displayName": "Expertese Sercices 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 5",
              "displayName": "Expertese Sercices 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -760,
        360
      ],
      "id": "b92cc494-3bd1-44e0-a126-b927704b8e06",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inputDate = new Date($input.first().json.currentDate); // replace with actual field name\n\nconst formattedDate = `${inputDate.getMonth() + 1}/${inputDate.getDate()}/${inputDate.getFullYear()}`;\n\nreturn [\n  {\n    json: {\n      formattedDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        160
      ],
      "id": "f06c112c-e3c7-40ef-a24f-d1da5a9fc6c4",
      "name": "Date Format",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const email = $('Webhook').first().json.body.user_email.trim().toLowerCase();\nconst [fullNamePart, domain] = email.split(\"@\");\n\nfunction capitalize(str) {\n  return str.charAt(0).toUpperCase() + str.slice(1);\n}\n\n// Extract names\nlet [firstName, lastName] = fullNamePart.split(/[._]/); // supports \"john.doe\" or \"john_doe\"\nfirstName = capitalize(firstName || \"\");\nlastName = lastName ? capitalize(lastName) : \"\";\nconst fullName = lastName ? `${firstName} ${lastName}` : firstName;\n\n// Extract company from domain\nconst publicSuffixes = ['co.uk', 'org.uk', 'ac.uk', 'gov.uk', 'com.au', 'com.br', 'co.in'];\nlet company = \"\";\n\nconst domainParts = domain.split(\".\");\nconst domainSuffix = domainParts.slice(-2).join(\".\");\nconst isTwoPartSuffix = publicSuffixes.includes(domainSuffix);\n\nif (isTwoPartSuffix && domainParts.length > 2) {\n  company = domainParts[domainParts.length - 3];\n} else if (domainParts.length > 1) {\n  company = domainParts[domainParts.length - 2];\n} else {\n  company = domainParts[0];\n}\n\ncompany = capitalize(company);\n\nreturn [\n  {\n    json: {\n      email,\n      firstName,\n      lastName,\n      fullName,\n      domain,\n      company,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1420,
        160
      ],
      "id": "b603f8bd-6399-4b3a-a8ba-4db29c7cd142",
      "name": "Split Out Email",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices[0].message.content;\n\n// Clean the Markdown formatting\ncontent = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\n\n// Try parsing the content safely\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { message: \"No info found\" };\n}\n\n// Check if all values in the expected structure are null, empty arrays, or empty strings\nconst hasUsefulData = Object.values(parsed).some(value => {\n  if (value === null || value === \"\" || (Array.isArray(value) && value.length === 0)) return false;\n  if (typeof value === \"object\" && !Array.isArray(value)) {\n    // Check nested objects (like `rankings`)\n    return Object.values(value).some(sub => {\n      if (typeof sub === \"object\") {\n        return Object.values(sub).some(v => v !== null && v !== \"\");\n      }\n      return sub !== null && sub !== \"\";\n    });\n  }\n  return true;\n});\n\nif (!hasUsefulData) {\n  parsed = { message: \"No info found\" };\n}\n\n// Return a single flat object instead of an array\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        360
      ],
      "id": "35477526-7ee0-4051-998a-d8365a342e51",
      "name": "PP Flattening",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices[0].message.content;\n\n// Clean the Markdown formatting\ncontent = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\n\n// Try parsing the content safely\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { message: \"No info found\" };\n}\n\n// Check if all values in the expected structure are null, empty arrays, or empty strings\nconst hasUsefulData = Object.values(parsed).some(value => {\n  if (value === null || value === \"\" || (Array.isArray(value) && value.length === 0)) return false;\n  if (typeof value === \"object\" && !Array.isArray(value)) {\n    // Check nested objects (like `rankings`)\n    return Object.values(value).some(sub => {\n      if (typeof sub === \"object\") {\n        return Object.values(sub).some(v => v !== null && v !== \"\");\n      }\n      return sub !== null && sub !== \"\";\n    });\n  }\n  return true;\n});\n\nif (!hasUsefulData) {\n  parsed = { message: \"No info found\" };\n}\n\n// Return a single flat object instead of an array\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        160
      ],
      "id": "33ff734d-e7e8-4bba-8f58-cc56e513d212",
      "name": "PP Flattening1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract structured and reliable data about lawyers and their law firms using only public and reputable sources such as Chambers and Partners (https://chambers.com/lawyer/). Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays). Do not return null, blank values, or empty arrays. Populate the full structure exactly as provided below.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following individual:\\n\\n- Full Name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- Email: {{ $json.email }}\\n- Company Domain: {{ $json.domain }}\\n\\nReturn a JSON object with the following structure:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"email\\\": \\\"string or 'no info'\\\",\\n  \\\"website\\\": \\\"string or 'no info'\\\",\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\",\\n\\n  \\\"practiceAreas\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"quantity of practice areas ranked\\\": \\\"number as string or 'no info'\\\",\\n  \\\"rankingsByPracticeArea\\\": [\\n    {\\n      \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n      \\\"band\\\": \\\"string or 'no info'\\\",\\n      \\\"region\\\": \\\"string or 'no info'\\\",\\n      \\\"country\\\": \\\"string or 'no info'\\\",\\n      \\\"yearsRanked\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"rankedInGuides\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"career\\\": [\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\"\\n  ] or [\\\"no info\\\"],\\n  \\\"expertiseSectors\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"expertiseServices\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"Client Testimonials\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"chambers Review provided by chambers\\\": {\\n    \\\"editorialSummary\\\": \\\"string or 'no info'\\\",\\n    \\\"strengths provided by chambers\\\": [\\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"]\\n  },\\n\\n  \\\"Other lawyers at firm provided by chambers\\\": [\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"\\n  ] or [\\\"no info\\\"]\\n}\\n\\nReturn only the JSON object as raw output. Do not include Markdown formatting, code fences, or any extra explanation.\"\n    }\n  ],\n  \"max_tokens\": 3000,\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "id": "3f561025-69a9-4b39-81de-7e8449b4cc03",
      "name": "Perplexity Chambers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1200,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:3b774197e8f540238b983f2e1cfa5f0f@thread.v2",
          "mode": "list",
          "cachedResultName": "sandbox-demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A3b774197e8f540238b983f2e1cfa5f0f%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=DEMO - AirTable updated for {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}: <br><br>\n\n- {{ $json.fields['Client Name'] }} <br>\n- {{ $json.fields['Job Title'] }}<br>\n- {{ $('Webhook').item.json.body.user_email }}<br>\n- {{ $json.fields['Company Name'] }}<br>\n- {{ $json.fields['Practice Area'] }}<br>\n- {{ $json.fields['LinkedIn Profile'] }}<br>\n- Relevent Experience: <br>{{ $json.fields['Relevant Experience Clients 1'] }}, <br>{{ $json.fields['Relevant Experience Clients 2'] }},<br> {{ $json.fields['Relevant Experience Clients 4'] }}, <br>{{ $json.fields['Relevant Experience Clients 5'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -540,
        360
      ],
      "id": "7134d439-b5e6-4d45-b64e-b7f1303fa872",
      "name": "Microsoft Teams1",
      "webhookId": "fdaef1a1-cc3f-4948-80d9-9ab44dbd89d1",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4\",   // or \"gpt-4-turbo\" or \"claude-3-opus\"\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract detailed and structured data about UK lawyers and their law firms. Focus especially on extracting notable matter descriptions (including high-value or landmark cases) from reputable public sources like Chambers and Partners, Legal 500, Lexology, and Law.com. Prioritise Chambers entries. Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays). Do not return null, blank values, or empty arrays.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Search the following query:{{ $json.searchQueries }}\\n\\n\\n\\nTargeted lawyer:\\n- Full Name:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} \\n- Email: {{ $('Split Out Email').item.json.email }}\\n- Company Domain: {{ $('Split Out Email').item.json.domain }}\\n\\nReturn a JSON object with the following structure:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"email\\\": \\\"string or 'no info'\\\",\\n  \\\"website\\\": \\\"string or 'no info'\\\",\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\",\\n\\n  \\\"practiceAreas\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"quantity of practice areas ranked\\\": \\\"number as string or 'no info'\\\",\\n  \\\"rankingsByPracticeArea\\\": [\\n    {\\n      \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n      \\\"band\\\": \\\"string or 'no info'\\\",\\n      \\\"region\\\": \\\"string or 'no info'\\\",\\n      \\\"country\\\": \\\"string or 'no info'\\\",\\n      \\\"yearsRanked\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"rankedInGuides\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"career\\\": [\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\"\\n  ] or [\\\"no info\\\"],\\n  \\\"expertiseSectors\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"expertiseServices\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"Client Testimonials\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"notableMatters\\\": [\\n    {\\n      \\\"title\\\": \\\"string or 'no info'\\\",\\n      \\\"description\\\": \\\"string or 'no info'\\\",\\n      \\\"value\\\": \\\"string or 'no info'\\\",\\n      \\\"jurisdiction\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"chambers Review provided by chambers\\\": {\\n    \\\"editorialSummary\\\": \\\"string or 'no info'\\\",\\n    \\\"strengths provided by chambers\\\": [\\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"]\\n  },\\n\\n  \\\"Other lawyers at firm provided by chambers\\\": [\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"\\n  ] or [\\\"no info\\\"]\\n}\\n\\nReturn only the JSON object.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "891c3a7b-3457-49bb-803a-bad92f5a4249",
      "name": "Perplexity Chambers1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1200,
        -40
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n\n  \"prompt\": \"Writing as an expert in business development, sales, and pitching for UK law firms and professional services in a B2B environment, draft a short email to the client from the stated [user name], using the matter summary. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\\n\\n1. Thank them for the opportunity to work on such a great matter.\\n2. Ask for feedback on the service and outcome.\\n3. Ask whether they would be willing to provide a client testimonial on the work performed, explaining that the testimonial may be used on the corporate website and in future marketing materials.\\n4. Provide two different example client testimonials that could be used, based on the matter summary.\\n\\nINPUTS:\\n- Summary of the matter: {{ $('Webhook').item.json.body.summary }}\\n- User's full name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- User's email: {{ $('Webhook').item.json.body.user_email }}\\n- User's company or law firm: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\\n- Date and time: {{ $now }}\\n- Call transcript: {{ $('Webhook').item.json.body.transcript }}\\n\\nOUTPUT:\\nProvide the output as raw HTML that can be directly embedded into an HTML email.\\nDo not include any Markdown formatting, code fences, or triple backticks.\\nReturn only the HTML — no explanations, no notes, and no additional text.\" \n\n}\n\n",
        "options": {
          "systemMessage": "={\n\n  \"prompt\": \"Writing as an expert in business development, sales, and pitching for UK law firms and professional services in a B2B environment, draft a short email to the client from the stated [user name], using the matter summary. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\\n\\n1. Thank them for the opportunity to work on such a great matter.\\n2. Ask for feedback on the service and outcome.\\n3. Ask whether they would be willing to provide a client testimonial on the work performed, explaining that the testimonial may be used on the corporate website and in future marketing materials.\\n4. Provide two different example client testimonials that could be used, based on the matter summary.\\n\\nINPUTS:\\n- Summary of the matter: {{ $('Webhook').item.json.body.summary }}\\n- User's full name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- User's email: {{ $('Webhook').item.json.body.user_email }}\\n- User's company or law firm: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\\n- Date and time: {{ $now }}\\n- Call transcript: {{ $('Webhook').item.json.body.transcript }}\\n\\nOUTPUT:\\nProvide the output as raw HTML that can be directly embedded into an HTML email.\\nDo not include any Markdown formatting, code fences, or triple backticks.\\nReturn only the HTML — no explanations, no notes, and no additional text.\" \n\n}\n\n"
        }
      },
      "id": "21396b26-4a79-4a6d-8152-4caf2a4ebb68",
      "name": "AI Agent Testimonial HTML",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        1700
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "74412d1e-dad1-4e3d-bff9-015a824bc986",
      "name": "OpenAI Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6abf2844-3b77-42c3-94cd-6af3543beade",
      "name": "OpenAI Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        392,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "5fbe8a8c-2ac3-4589-a56c-fbab9d9403b6",
      "name": "AI Agent - Website Profile",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -72,
        1320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "3214306e-5004-4df0-9d7e-368e3ab157bf",
      "name": "AI Agent - Website case study",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        304,
        1320
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}, lee@legalengine.co.uk",
        "subject": "=Legal Engine assets update for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do?</p>\n      <p>As promised, here’s a summary of our conversation:</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $('AI Agent - Re-write Summary').item.json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I’ve converted our chat into <b>a few additional marketing assets below.</b></p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n\n\n   <!-- WEBSITE BIO -->\n    <div class=\"section\">\n<br><br><h1>Additional marketing assets</h1>\n     <h2>Website Profile</h2>\n    <p>{{ $('AI Agent - Website Profile').item.json.output }}</p>\n    </div>   \n\n<!-- WEBSITE UPDATE -->\n    <div class=\"section\">\n      <h2>Website case study</h2>\n    <p>{{ $('AI Agent - Website case study').item.json.output }}</p>\n    </div>\n\n<!-- SHORT PITCH -->\n    <div class=\"section\">\n      <h2>Short pitch credential</h2>\n    <p>{{ $('AI Agent - Short Pitch').item.json.output }}</p>\n    </div>\n\n    <!-- LINKEDIN POST INTRO -->\n    <div class=\"section\">\n      <p><b>Bonus:</b> if you enjoyed our conversation, I'd really appreciate your help in spreading the word amongst your network and have drafted something below you can post. Tag <b>@LegalEngine</b> when you share and I’ll top up your free Leonard credits.</p>\n    </div>\n\n    <!-- LINKEDIN POST -->\n    <div class=\"section\">\n      <h2>LinkedIn Post&nbsp;&nbsp;•&nbsp;&nbsp;#LeonardAI</h2>\n      <p>{{ $('AI Agent - L/E LinkedIn').item.json.output }}</p>\n    </div>\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.body.user_email }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        680,
        1320
      ],
      "id": "ae845754-e907-4b97-9d24-c1df89d20b71",
      "name": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
      "webhookId": "782893bc-e7d6-46ab-96bf-77053e191923",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leonard Demo Stage": "Leonard post call flow email sent",
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        900,
        1320
      ],
      "id": "518e9ff9-e5d7-43bc-a100-df417ccf6f69",
      "name": "Airtable - Leonard Demo Email Sent",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leonard Demo Stage": "Leonard post call flow started",
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "Last Updated": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -920,
        1040
      ],
      "id": "d6a25350-bb77-42e1-813b-3ce03d121ba7",
      "name": "Airtable - Demo post call started",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputDate = new Date($input.first().json.currentDate); // replace with actual field name\n\nconst formattedDate = `${inputDate.getMonth() + 1}/${inputDate.getDate()}/${inputDate.getFullYear()}`;\n\nreturn [\n  {\n    json: {\n      formattedDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1040
      ],
      "id": "6eea3914-bc97-48be-8c94-90ca3bead1f8",
      "name": "Date Format2"
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  →  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  →  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        940
      ],
      "id": "fdbb7a8e-da98-4d50-8f6a-71e048b46a73",
      "name": "Date Format3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent - Re-write Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date Format2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date Format3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Testimonial HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Re-write Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Short Pitch": {
      "main": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - L/E LinkedIn": {
      "main": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Re-write Summary": {
      "main": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Firm Research1": {
      "main": [
        [
          {
            "node": "PP Flattening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format": {
      "main": [
        [
          {
            "node": "Split Out Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Email": {
      "main": [
        [
          {
            "node": "Perplexity Firm Research1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Chambers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Chambers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PP Flattening": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PP Flattening1": {
      "main": [
        []
      ]
    },
    "Perplexity Chambers": {
      "main": [
        [
          {
            "node": "PP Flattening1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Microsoft Teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Testimonial HTML": {
      "main": [
        []
      ]
    },
    "OpenAI Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website Profile": {
      "main": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website case study": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Email from Leonard with MS, WP, WCS, SP & LI": {
      "main": [
        [
          {
            "node": "Airtable - Leonard Demo Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format2": {
      "main": [
        [
          {
            "node": "Airtable - Demo post call started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "3967",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.67.146.145",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "943fda9c649ee7f4-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.67.146.145, 108.162.216.80",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-4lbkw",
            "x-is-trusted": "yes",
            "x-real-ip": "34.67.146.145"
          },
          "params": {},
          "query": {},
          "body": {
            "transcript": "Yes, so I was dealing with a client called Twilio who were suing a supplier of theirs called Eleven Labs for poor documentation which led to significant share of users.\nOkay, I've saved the client as Twilio. To continue, why did Twilio come to you for this matter, and what was the outcome for them?\nSo they came to me because I was an expert litigator for technology businesses.\n\nAnd what was the outcome for them?\nThey secured a two hundred and forty six million pound settlement.\nWhat was the deal size or transaction value for this matter, and were there any notable cost savings or revenue implications for the client?\nWell yeah quite simply the money I've just told you and that was a direct transfer of funds from eleven Labs to Twilio.\nWhat role did you play, who were the other key team members, and what were their roles? Also, let me know which jurisdictions it involved.\nYes it was UK, Spain, Belgium and the main yeah that was it really.\nAnd what role did you play and who were the other key team members and what were their roles?\nYeah so we had Boris Johnson he was the big hairy fool, we had Nigel Farage he was the bartender and then my role was as chief tester and caffeine addict\nWas there anything noteworthy about the matter? Perhaps something innovative, precedent-setting, or something that impacted regulations or ESG?\nYeah, there was actually. So we managed to work out that if you used a back to front and left to right configuration of the documentation and looked at it in a mirror through tracing paper, that was how to decode the documentation from Eleven Labs.\nWhat is the current status of this matter? If completed, when did it finish?\n...\nWhat is the current...\nHello are you still there?\nYes, I'm here. Apologies for the delay. What is the current status of this matter? If completed, when did it finish?\nI closed yesterday.\nWas there any press coverage or awards related to this matter?\nYeah lots of press coverage basically it was covered in the technology litigation uncovered magazine\nThank you for sharing those details. Here's a summary of the matter as I understand it:\n\nTwilio secured a two hundred and forty six million pound settlement from Eleven Labs due to poor documentation. Twilio sought your expertise as a technology litigation expert, and the matter involved jurisdictions in the UK, Spain, and Belgium. Key team members included Boris Johnson, who played an unknown role, Nigel Farage, who was the bartender, and yourself as chief tester and caffeine addict. A noteworthy aspect was decoding Eleven Labs' documentation using a back-to-front, left-to-right mirror configuration with tracing paper. The matter concluded yesterday and received press coverage in Technology Litigation Uncovered magazine.\n\nDoes that summary sound accurate, or would you like to correct anything?\nYeah so just to confirm that yesterday was the twenty first of May two thousand and twenty five.\nOkay, I've updated the summary to reflect that the matter concluded on twenty first of May two thousand and twenty five. Here's the revised summary:  Twili o...\nNo it's okay just send me the summary.",
            "user_email": "andy@legalengine.co.uk",
            "summary": "Twilio secured a two hundred and forty six million pound settlement from Eleven Labs due to poor documentation. Twilio sought your expertise as a technology litigation expert, and the matter involved jurisdictions in the UK, Spain, and Belgium. Key team members included Boris Johnson, who played an unknown role, Nigel Farage, who was the bartender, and yourself as chief tester and caffeine addict. A noteworthy aspect was decoding Eleven Labs' documentation using a back-to-front, left-to-right mirror configuration with tracing paper. The matter concluded on twenty first of May two thousand and twenty five and received press coverage in Technology Litigation Uncovered magazine.",
            "first_name": "Andy",
            "last_name": "Batty"
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/testdemo",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}