leonard-dev-workflows/live/LV9TGbztpvkF3Qwx-TEST_P_P_LIVE_Demo_Leonard_Summary_SP_WP_WCS_LinkedIn.json
{
  "name": "TEST P/P - LIVE Demo Leonard - Summary, SP, WP, WCS & LinkedIn",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd10025c-dd5e-4fe8-b0c0-ecf7e1d2fb2c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        920
      ],
      "id": "b4e4b013-ba70-495b-91e4-798c0a8373d6",
      "name": "Webhook",
      "webhookId": "bd10025c-dd5e-4fe8-b0c0-ecf7e1d2fb2c"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Webhook').item.json.body.user_email }}",
        "additionalFields": {
          "firstName": "={{ $('Webhook').item.json.body.first_name }}",
          "lastName": "={{ $('Webhook').item.json.body.last_name }}",
          "workEmail": "={{ $('Webhook').item.json.body.user_email }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        -1122,
        620
      ],
      "id": "1e964fd2-9fbf-4039-b4d5-40bad491d111",
      "name": "HubSpot1",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4ZWRbZ2jFaCFRgGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:643417d7b97a4756a407b0e87e177a9a@thread.v2",
          "mode": "list",
          "cachedResultName": "demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A643417d7b97a4756a407b0e87e177a9a%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=New LIVE demo session completed by {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} - {{ $('Webhook').item.json.body.user_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -1122,
        820
      ],
      "id": "3a9683fe-cea4-4a1b-9b74-9c1d4a443703",
      "name": "Microsoft Teams",
      "webhookId": "1d3b8720-3b44-4287-a6e4-bacdf2db02cd",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1420,
        920
      ],
      "id": "c1c8d3e3-464c-42a5-b928-0453d5be87b0",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ad9bc02-48e2-4c76-81e9-cbbc9d7e6021",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        1920
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "71b2e5d6-8c76-45f7-a917-c68504d4016e",
      "name": "OpenAI Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -736,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "366338c4-02e2-4be5-b856-168fe9973381",
      "name": "OpenAI Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -360,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "6e313ec6-447b-431c-8ce5-0f69a293d526",
      "name": "AI Agent - Short Pitch",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -824,
        1320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji \ud83d\ude80 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket \ud83d\ude80  emojis in your post, if there are, delete them before concluding the post.",
        "options": {
          "systemMessage": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji \ud83d\ude80 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket \ud83d\ude80  emojis in your post, if there are, delete them before concluding the post."
        }
      },
      "id": "f171e590-cc58-4e13-84d8-95f901bc1feb",
      "name": "AI Agent - L/E LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -448,
        1320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f25a2f34-844a-4689-a4ea-0fc88e0b4c3e",
      "name": "OpenAI Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1112,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n",
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n"
        }
      },
      "id": "225f45af-5638-4478-95de-080b2a4b0a62",
      "name": "AI Agent - Re-write Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1200,
        1320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "74412d1e-dad1-4e3d-bff9-015a824bc986",
      "name": "OpenAI Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6abf2844-3b77-42c3-94cd-6af3543beade",
      "name": "OpenAI Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        392,
        1540
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "5fbe8a8c-2ac3-4589-a56c-fbab9d9403b6",
      "name": "AI Agent - Website Profile",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -72,
        1320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "3214306e-5004-4df0-9d7e-368e3ab157bf",
      "name": "AI Agent - Website case study",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        304,
        1320
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}, lee@legalengine.co.uk",
        "subject": "=Legal Engine assets update for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine \u2022 Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do?</p>\n      <p>As promised, here\u2019s a summary of our conversation:</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $('AI Agent - Re-write Summary').item.json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I\u2019ve converted our chat into <b>a few additional marketing assets below.</b></p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we\u2019re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n\n\n   <!-- WEBSITE BIO -->\n    <div class=\"section\">\n<br><br><h1>Additional marketing assets</h1>\n     <h2>Website Profile</h2>\n    <p>{{ $('AI Agent - Website Profile').item.json.output }}</p>\n    </div>   \n\n<!-- WEBSITE UPDATE -->\n    <div class=\"section\">\n      <h2>Website case study</h2>\n    <p>{{ $('AI Agent - Website case study').item.json.output }}</p>\n    </div>\n\n<!-- SHORT PITCH -->\n    <div class=\"section\">\n      <h2>Short pitch credential</h2>\n    <p>{{ $('AI Agent - Short Pitch').item.json.output }}</p>\n    </div>\n\n    <!-- LINKEDIN POST INTRO -->\n    <div class=\"section\">\n      <p><b>Bonus:</b> if you enjoyed our conversation, I'd really appreciate your help in spreading the word amongst your network and have drafted something below you can post. Tag <b>@LegalEngine</b> when you share and I\u2019ll top up your free Leonard credits.</p>\n    </div>\n\n    <!-- LINKEDIN POST -->\n    <div class=\"section\">\n      <h2>LinkedIn Post&nbsp;&nbsp;\u2022&nbsp;&nbsp;#LeonardAI</h2>\n      <p>{{ $('AI Agent - L/E LinkedIn').item.json.output }}</p>\n    </div>\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.body.user_email }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        680,
        1320
      ],
      "id": "ae845754-e907-4b97-9d24-c1df89d20b71",
      "name": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
      "webhookId": "782893bc-e7d6-46ab-96bf-77053e191923",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leonard Demo Stage": "Leonard post call flow email sent",
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        900,
        1320
      ],
      "id": "518e9ff9-e5d7-43bc-a100-df417ccf6f69",
      "name": "Airtable - Leonard Demo Email Sent",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblZIdzXKLvCOJuGb",
          "mode": "list",
          "cachedResultName": "LIVE - Leonard Demo Users",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblZIdzXKLvCOJuGb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leonard Demo Stage": "Leonard post call flow started",
            "Contact Email": "={{ $('Webhook').item.json.body.user_email }}",
            "Client Name - Scrape": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "Last Updated": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name - Scrape",
              "displayName": "Client Name - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPT IN/OUT",
              "displayName": "OPT IN/OUT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leonard Demo Stage",
              "displayName": "Leonard Demo Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company Name",
              "displayName": "Scrape Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Practice Area",
              "displayName": "Scrape Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band - Scrape",
              "displayName": "Chambers Band - Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Link",
              "displayName": "Chambers Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lawyer Bio",
              "displayName": "Lawyer Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 1",
              "displayName": "Matter 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 2",
              "displayName": "Matter 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 3",
              "displayName": "Matter 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 4",
              "displayName": "Matter 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 5",
              "displayName": "Matter 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Matter 6",
              "displayName": "Matter 6",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 1",
              "displayName": "Practice Area 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 2",
              "displayName": "Practice Area 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 3",
              "displayName": "Practice Area 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Practice Area 4",
              "displayName": "Practice Area 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Ranking UR",
              "displayName": "Chambers Ranking UR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Legal 500 Ranking URL",
              "displayName": "Legal 500 Ranking URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chambers Band",
              "displayName": "Chambers Band",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 1",
              "displayName": "Expertise Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 2",
              "displayName": "Expertise Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 3",
              "displayName": "Expertise Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 4",
              "displayName": "Expertise Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Sectors 5",
              "displayName": "Expertise Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 1",
              "displayName": "Expertise Services 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 2",
              "displayName": "Expertise Services 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 3",
              "displayName": "Expertise Services 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 4",
              "displayName": "Expertise Services 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Services 5",
              "displayName": "Expertise Services 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -920,
        1040
      ],
      "id": "d6a25350-bb77-42e1-813b-3ce03d121ba7",
      "name": "Airtable - Demo post call started",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputDate = new Date($input.first().json.currentDate); // replace with actual field name\n\nconst formattedDate = `${inputDate.getMonth() + 1}/${inputDate.getDate()}/${inputDate.getFullYear()}`;\n\nreturn [\n  {\n    json: {\n      formattedDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1040
      ],
      "id": "6eea3914-bc97-48be-8c94-90ca3bead1f8",
      "name": "Date Format2"
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  \u2192  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  \u2192  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        940
      ],
      "id": "fdbb7a8e-da98-4d50-8f6a-71e048b46a73",
      "name": "Date Format3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent - Re-write Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date Format2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date Format3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Re-write Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Short Pitch": {
      "main": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - L/E LinkedIn": {
      "main": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Re-write Summary": {
      "main": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website Profile": {
      "main": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website case study": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Email from Leonard with MS, WP, WCS, SP & LI": {
      "main": [
        [
          {
            "node": "Airtable - Leonard Demo Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format2": {
      "main": [
        [
          {
            "node": "Airtable - Demo post call started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "3967",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.67.146.145",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "943fda9c649ee7f4-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.67.146.145, 108.162.216.80",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-4lbkw",
            "x-is-trusted": "yes",
            "x-real-ip": "34.67.146.145"
          },
          "params": {},
          "query": {},
          "body": {
            "transcript": "Yes, so I was dealing with a client called Twilio who were suing a supplier of theirs called Eleven Labs for poor documentation which led to significant share of users.\nOkay, I've saved the client as Twilio. To continue, why did Twilio come to you for this matter, and what was the outcome for them?\nSo they came to me because I was an expert litigator for technology businesses.\n\nAnd what was the outcome for them?\nThey secured a two hundred and forty six million pound settlement.\nWhat was the deal size or transaction value for this matter, and were there any notable cost savings or revenue implications for the client?\nWell yeah quite simply the money I've just told you and that was a direct transfer of funds from eleven Labs to Twilio.\nWhat role did you play, who were the other key team members, and what were their roles? Also, let me know which jurisdictions it involved.\nYes it was UK, Spain, Belgium and the main yeah that was it really.\nAnd what role did you play and who were the other key team members and what were their roles?\nYeah so we had Boris Johnson he was the big hairy fool, we had Nigel Farage he was the bartender and then my role was as chief tester and caffeine addict\nWas there anything noteworthy about the matter? Perhaps something innovative, precedent-setting, or something that impacted regulations or ESG?\nYeah, there was actually. So we managed to work out that if you used a back to front and left to right configuration of the documentation and looked at it in a mirror through tracing paper, that was how to decode the documentation from Eleven Labs.\nWhat is the current status of this matter? If completed, when did it finish?\n...\nWhat is the current...\nHello are you still there?\nYes, I'm here. Apologies for the delay. What is the current status of this matter? If completed, when did it finish?\nI closed yesterday.\nWas there any press coverage or awards related to this matter?\nYeah lots of press coverage basically it was covered in the technology litigation uncovered magazine\nThank you for sharing those details. Here's a summary of the matter as I understand it:\n\nTwilio secured a two hundred and forty six million pound settlement from Eleven Labs due to poor documentation. Twilio sought your expertise as a technology litigation expert, and the matter involved jurisdictions in the UK, Spain, and Belgium. Key team members included Boris Johnson, who played an unknown role, Nigel Farage, who was the bartender, and yourself as chief tester and caffeine addict. A noteworthy aspect was decoding Eleven Labs' documentation using a back-to-front, left-to-right mirror configuration with tracing paper. The matter concluded yesterday and received press coverage in Technology Litigation Uncovered magazine.\n\nDoes that summary sound accurate, or would you like to correct anything?\nYeah so just to confirm that yesterday was the twenty first of May two thousand and twenty five.\nOkay, I've updated the summary to reflect that the matter concluded on twenty first of May two thousand and twenty five. Here's the revised summary:  Twili o...\nNo it's okay just send me the summary.",
            "user_email": "andy@legalengine.co.uk",
            "summary": "Twilio secured a two hundred and forty six million pound settlement from Eleven Labs due to poor documentation. Twilio sought your expertise as a technology litigation expert, and the matter involved jurisdictions in the UK, Spain, and Belgium. Key team members included Boris Johnson, who played an unknown role, Nigel Farage, who was the bartender, and yourself as chief tester and caffeine addict. A noteworthy aspect was decoding Eleven Labs' documentation using a back-to-front, left-to-right mirror configuration with tracing paper. The matter concluded on twenty first of May two thousand and twenty five and received press coverage in Technology Litigation Uncovered magazine.",
            "first_name": "Andy",
            "last_name": "Batty"
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/testdemo",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}