leonard-dev-workflows/live/PbMiYYx4sQiTTW09-LIVE_PSMG_Post_Event_Agent_Lottie_Owner_Andy.json
{
  "name": "LIVE - PSMG Post Event Agent (Lottie) - Owner Andy",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        448
      ],
      "id": "48507ca1-8791-4f9d-a35e-904f426d99a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        896,
        448
      ],
      "id": "2c495096-07ba-474f-9673-c695f5d6dae3",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        448
      ],
      "id": "161e8e5e-8cd0-49c5-b019-b5d57e26c983",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -368,
        480
      ],
      "id": "beddfda3-a35b-4ec9-9a17-50a032b5d643",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psmg_lottie_postevent_live",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -592,
        480
      ],
      "id": "fe44ad78-5632-40db-88cb-e1f251b97ebc",
      "name": "PSMG Event Webhook",
      "webhookId": "e3657fc6-b611-45ee-9a74-6f1409ddaf76"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -144,
        480
      ],
      "id": "d1ef72b0-6b7c-4bfd-88a2-ebe9106f70fa",
      "name": "Date & Time21"
    },
    {
      "parameters": {
        "jsCode": "// --- Function node code ---\n// Get the first item (same pattern you used)\nconst inputDate = new Date($input.first().json.currentDate);   // \"2025-05-26T10:22:34.868+01:00\"\n\n// Helper to zero-pad to two digits\nconst pad = n => n.toString().padStart(2, '0');\n\n// Date  \u2192  MM/DD/YYYY\nconst formattedDate = `${pad(inputDate.getMonth() + 1)}/${pad(inputDate.getDate())}/${inputDate.getFullYear()}`;\n\n// Time  \u2192  HH:mm:ss   (24-hour clock)\nconst formattedTime = `${pad(inputDate.getHours())}:${pad(inputDate.getMinutes())}:${pad(inputDate.getSeconds())}`;\n\nreturn [\n  {\n    json: {\n      formattedDate,   // e.g. \"05/26/2025\"\n      formattedTime    // e.g. \"09:22:34\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        480
      ],
      "id": "3182d308-7df5-44db-8622-962a1adaf5e4",
      "name": "Date Format21"
    },
    {
      "parameters": {
        "toRecipients": "=sam@legalengine.co.uk, lee@legalengine.co.uk, andy@legalengine.co.uk",
        "subject": "=Hi {{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.first_name }}, our call regarding the PSMG summit was too short",
        "bodyContent": "=Hi {{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.first_name }}, unfortunately our call regarding the PSMG Summit was too short to produce a meaningful output, please try again. \n\nThanks \n\nLottie",
        "additionalFields": {
          "bodyContentType": "Text"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        816,
        624
      ],
      "id": "4dfa3d49-80b0-4ab8-b59e-5016ca64998b",
      "name": "Call too short",
      "webhookId": "7d07aab8-ccc1-41dc-8dc6-b6c4e6abfa40",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OAftwNOqCIYj8Src",
          "name": "Microsoft Outlook - New Dec 2025 Leonard account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ddda4b2-54c4-4caf-b73b-4ca3505d11eb",
              "leftValue": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.system__call_duration_secs }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        480
      ],
      "id": "992b23b2-b803-425a-b570-9ef95665f8be",
      "name": "If less than 10s do nothing"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqXY4NTowyUys7a",
          "mode": "list",
          "cachedResultName": "Lottie Live Data",
          "cachedResultUrl": "https://airtable.com/appqXY4NTowyUys7a"
        },
        "table": {
          "__rl": true,
          "value": "tblCBGNtJURsFPEVF",
          "mode": "list",
          "cachedResultName": "Lottie Post Event Conversation Log",
          "cachedResultUrl": "https://airtable.com/appqXY4NTowyUys7a/tblCBGNtJURsFPEVF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Call Length (s)": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.system__call_duration_secs }}",
            "Call Cost": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.charging.llm_price }}",
            "LLM Charge": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.charging.llm_charge }}",
            "Call Charge": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.charging.call_charge }}",
            "Agent ID": "={{ $('PSMG Event Webhook').item.json.body.data.transcript[6].agent_metadata.agent_id }}",
            "Transcript ID": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.system__conversation_id }}",
            "Email": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.email }}",
            "Full Name": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.full_name }}",
            "First Name": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.first_name }}",
            "Call Summary": "={{ $('PSMG Event Webhook').item.json.body.data.analysis.transcript_summary }}",
            "Termination Reason": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.termination_reason }}",
            "Last Name": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.last_name }}",
            "Call Statsu 11L": "={{ $('PSMG Event Webhook').item.json.body.data.analysis.call_successful }}",
            "Email recipient": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.email }}",
            "Date Last Updated": "={{ $('Date & Time21').item.json.currentDate }}",
            "Call Successful 11L?": "={{ $('PSMG Event Webhook').item.json.body.data.analysis.call_successful }}",
            "Summit Rating": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Too Short?",
              "displayName": "Too Short?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Call Length (s)",
              "displayName": "Call Length (s)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Last Updated",
              "displayName": "Date Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Cost",
              "displayName": "Call Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LLM Charge",
              "displayName": "LLM Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Charge",
              "displayName": "Call Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent ID",
              "displayName": "Agent ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transcript ID",
              "displayName": "Transcript ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Statsu 11L",
              "displayName": "Call Statsu 11L",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Termination Reason",
              "displayName": "Termination Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Reason",
              "displayName": "Error Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Successful 11L?",
              "displayName": "Call Successful 11L?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email recipient",
              "displayName": "Email recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Copy",
              "displayName": "Email Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Conversation Date",
              "displayName": "Conversation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Transcript",
              "displayName": "Call Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summit Rating",
              "displayName": "Summit Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fave Session",
              "displayName": "Fave Session",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1168,
        624
      ],
      "id": "729d5d5b-5185-47a5-be3a-379b100c15c3",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqXY4NTowyUys7a",
          "mode": "list",
          "cachedResultName": "Lottie Live Data",
          "cachedResultUrl": "https://airtable.com/appqXY4NTowyUys7a"
        },
        "table": {
          "__rl": true,
          "value": "tblCBGNtJURsFPEVF",
          "mode": "list",
          "cachedResultName": "Lottie Post Event Conversation Log",
          "cachedResultUrl": "https://airtable.com/appqXY4NTowyUys7a/tblCBGNtJURsFPEVF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Call Length (s)": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.system__call_duration_secs }}",
            "Call Cost": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.charging.llm_price }}",
            "LLM Charge": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.charging.llm_charge }}",
            "Call Charge": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.charging.call_charge }}",
            "Agent ID": "={{ $('PSMG Event Webhook').item.json.body.data.transcript[6].agent_metadata.agent_id }}",
            "Transcript ID": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.system__conversation_id }}",
            "Email": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.email }}",
            "Full Name": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.full_name }}",
            "First Name": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.first_name }}",
            "Call Summary": "={{ $('PSMG Event Webhook').item.json.body.data.analysis.transcript_summary }}",
            "Termination Reason": "={{ $('PSMG Event Webhook').item.json.body.data.metadata.termination_reason }}",
            "Last Name": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.last_name }}",
            "Call Statsu 11L": "={{ $('PSMG Event Webhook').item.json.body.data.analysis.call_successful }}",
            "Email recipient": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.email }}",
            "Date Last Updated": "={{ $('Date & Time21').item.json.currentDate }}",
            "Call Successful 11L?": "={{ $('PSMG Event Webhook').item.json.body.data.analysis.call_successful }}",
            "Email Copy": "={{ $('Create HTML content').item.json.output }}",
            "Summit Rating": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Too Short?",
              "displayName": "Too Short?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Call Length (s)",
              "displayName": "Call Length (s)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Last Updated",
              "displayName": "Date Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Cost",
              "displayName": "Call Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LLM Charge",
              "displayName": "LLM Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Charge",
              "displayName": "Call Charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent ID",
              "displayName": "Agent ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transcript ID",
              "displayName": "Transcript ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Statsu 11L",
              "displayName": "Call Statsu 11L",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Termination Reason",
              "displayName": "Termination Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Reason",
              "displayName": "Error Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Successful 11L?",
              "displayName": "Call Successful 11L?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email recipient",
              "displayName": "Email recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Copy",
              "displayName": "Email Copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation Date",
              "displayName": "Conversation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Transcript",
              "displayName": "Call Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summit Rating",
              "displayName": "Summit Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fave Session",
              "displayName": "Fave Session",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1680,
        336
      ],
      "id": "f1e03b15-70cd-4b77-92de-80456c390fdb",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ddda4b2-54c4-4caf-b73b-4ca3505d11eb",
              "leftValue": "={{ $('PSMG Event Webhook').item.json.body.data.conversation_initiation_client_data.dynamic_variables.system__call_duration_secs }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        480
      ],
      "id": "07f35f13-6553-44b6-ae99-b404ef56b161",
      "name": "If call is over 75s"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Date & Time21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PSMG Event Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time21": {
      "main": [
        [
          {
            "node": "Date Format21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format21": {
      "main": [
        [
          {
            "node": "If less than 10s do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If less than 10s do nothing": {
      "main": [
        [
          {
            "node": "If call is over 75s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call too short": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If call is over 75s": {
      "main": [
        [],
        [
          {
            "node": "Call too short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "PSMG Event Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "17075",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9832308b8241eaca-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "elevenlabs-signature": "t=1758548169,v0=fb91ea86bec771d7970f81d51cbda7090fc7ff03e0e84e997e913794720f30c3",
            "x-forwarded-for": "34.59.11.47, 172.70.126.78",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-sbjk8",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "post_call_transcription",
            "event_timestamp": 1758548169,
            "data": {
              "agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
              "conversation_id": "conv_8701k5rt26fvfh1sw5sdq87yd14t",
              "status": "done",
              "user_id": null,
              "transcript": [
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
                    "workflow_node_id": null
                  },
                  "message": "Hi Jen Shipley from Irwin Mitchell. I'm Lottie, one of the conference organisers here at PSMG. We're super excited to have you on board this year. True to the theme of this year's conference, we're continually finding ways to re-invent ourselves and have teamed up with Legal Engine to develop an agent (that's me by the way) to get your thoughts and interests ahead of the conference and help with any travel arrangements. Shall we get started?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 0,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.16551485499985574
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "Yes.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 23,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.09982416800085048
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
                    "workflow_node_id": null
                  },
                  "message": "Great. How has your week been so far?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 25,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6206013619994337
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.4333182020000095
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.6205726730004244
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.15910491599970555
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.13455545902252197
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "FiQL1K7zWl11VG44uhVx",
                        "vector_distance": 0.15138626098632812
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.1518540382385254
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.15561121702194214
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.15594422817230225
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.1644350290298462
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.17014384269714355
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "culxgK0AZdsdAi8cQPfq",
                        "vector_distance": 0.1723882555961609
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.1799219846725464
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "uGIAvIBWPkJ9hZ1AMWcP",
                        "vector_distance": 0.1803184151649475
                      },
                      {
                        "document_id": "Fru5p9WFGswTvfiuEE4f",
                        "chunk_id": "gdqo08v7mDkIIHea9G1F",
                        "vector_distance": 0.1840287446975708
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.18726050853729248
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.18754345178604126
                      },
                      {
                        "document_id": "ZR6h48oh7Wa5Sqp6OqAO",
                        "chunk_id": "hFkIUsa0SrNcnAymUdH5",
                        "vector_distance": 0.18966734409332275
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.1934109926223755
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What is the purpose of the agent developed by Legal Engine?",
                    "rag_latency_secs": 0.26735262399961357
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13537,
                          "price": 0.0013537
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 10,
                          "price": 4e-06
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "Not too bad, just on the flat. He's doing well.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 29,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.11440070900061983
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
                    "workflow_node_id": null
                  },
                  "message": "That's good to hear. So, to start, what are you hoping to get out of the PSMG Annual London Summit this year? Are you looking for specific AI use cases, business development impact, global insights, or perhaps leadership playbooks and team upskilling?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 43,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6968361670005834
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.6292993590013793
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.0248789390007005
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.1175104129997635
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "9rapAH246yqnXGM3NYqK",
                        "vector_distance": 0.1903960108757019
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "0fGJOLjN85a5Or2QPkyJ",
                        "vector_distance": 0.19244539737701416
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "W3O7PNRfzWDYH2fIGBjd",
                        "vector_distance": 0.1959247589111328
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "lE2dNYi5sibl4qhnFGfn",
                        "vector_distance": 0.1983380913734436
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "6I6pfqExyelBsHrCOeMD",
                        "vector_distance": 0.2063077688217163
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "B6xmi4U59hRhMJEVzmB1",
                        "vector_distance": 0.20649147033691406
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "Qwq7NumyRyWQ0K6sZDCw",
                        "vector_distance": 0.21077334880828857
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "z2vp3yYIwttICQdlKBfQ",
                        "vector_distance": 0.21605074405670166
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "mZxQtcWO0uLx61MKYI9Q",
                        "vector_distance": 0.22215408086776733
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "hSci4dCoRW2sTQoqxJW8",
                        "vector_distance": 0.22461897134780884
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "sah3snOU34da9pKBv5BL",
                        "vector_distance": 0.22921466827392578
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "1kCPel409CVLPAkD2wYY",
                        "vector_distance": 0.23026186227798462
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "3YhzkYF5TtxnP0ePYdeO",
                        "vector_distance": 0.2315199375152588
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "eciFxmfUYA9RczHXkAIR",
                        "vector_distance": 0.232047438621521
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "ACCNv3botf2irahOz4qe",
                        "vector_distance": 0.23295676708221436
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "VFjtQIdEXzBOfs0kNCKg",
                        "vector_distance": 0.23426520824432373
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "ppNZpqLny0QND8XyAiCi",
                        "vector_distance": 0.23481595516204834
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "hZCpaSJod7aExuymXlck",
                        "vector_distance": 0.2349334955215454
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "0XbdaP22m6A8gArTa8wx",
                        "vector_distance": 0.23639744520187378
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.2369900941848755
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "How can I help with your travel arrangements?",
                    "rag_latency_secs": 0.23043105999931868
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 16120,
                          "price": 0.001612
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 55,
                          "price": 2.2e-05
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "agent_metadata": null,
                  "message": "More thinking about that.",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 58,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.19103037700006098
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "agent_metadata": {
                    "agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
                    "workflow_node_id": null
                  },
                  "message": "No problem at all. We've got some really interesting sessions lined up.\n\nGiven your role at Irwin Mitchell, I was thinking the workshop on 'Agentic AI in Marketing and BD' with Lee Curtis and Sam Stamp from LINAR Consulting might be particularly relevant. It's on from eleven AM to half past twelve. They'll be discussing practical AI integration for marketing and BD, which could offer some great insights for your firm.\n\nDoes that sound like something you'd be interested in?",
                  "multivoice_message": null,
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 60,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.5034020570001303
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.5009381909985677
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.1356577349997679
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.18980834600006347
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "9zByZ7JWGxBPcPYN8bGh",
                        "vector_distance": 0.12556308507919312
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "1kCPel409CVLPAkD2wYY",
                        "vector_distance": 0.12680375576019287
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "L5pcaNJcL0JXPVSMVd0r",
                        "vector_distance": 0.1306999921798706
                      },
                      {
                        "document_id": "Fru5p9WFGswTvfiuEE4f",
                        "chunk_id": "WtZlc3zRFnqbldOXxKN0",
                        "vector_distance": 0.136044442653656
                      },
                      {
                        "document_id": "Fru5p9WFGswTvfiuEE4f",
                        "chunk_id": "NtYxolrRgLeky90ANOux",
                        "vector_distance": 0.13757669925689697
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "W7zrhfyizt18KtRMkFtV",
                        "vector_distance": 0.13903844356536865
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "ACCNv3botf2irahOz4qe",
                        "vector_distance": 0.14027142524719238
                      },
                      {
                        "document_id": "Fru5p9WFGswTvfiuEE4f",
                        "chunk_id": "gdqo08v7mDkIIHea9G1F",
                        "vector_distance": 0.14208251237869263
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "lE2dNYi5sibl4qhnFGfn",
                        "vector_distance": 0.1432679295539856
                      },
                      {
                        "document_id": "Fru5p9WFGswTvfiuEE4f",
                        "chunk_id": "8LmOs2fLZKJevDff8xhG",
                        "vector_distance": 0.1443071961402893
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "hSci4dCoRW2sTQoqxJW8",
                        "vector_distance": 0.1454465389251709
                      },
                      {
                        "document_id": "7ll7HQUt4kXFi198kICq",
                        "chunk_id": "8ICfg09zlMAefVDbZA2N",
                        "vector_distance": 0.15048789978027344
                      },
                      {
                        "document_id": "ZR6h48oh7Wa5Sqp6OqAO",
                        "chunk_id": "zcDemFAuJ9MtO5J5I5rd",
                        "vector_distance": 0.1512114405632019
                      },
                      {
                        "document_id": "Fru5p9WFGswTvfiuEE4f",
                        "chunk_id": "FNaAQWXcsHNsZCPwdZxA",
                        "vector_distance": 0.15570420026779175
                      },
                      {
                        "document_id": "AoGIFvDgGWHQcpT4kd1z",
                        "chunk_id": "B6xmi4U59hRhMJEVzmB1",
                        "vector_distance": 0.15707039833068848
                      },
                      {
                        "document_id": "MIQMpbAx0dR3whAh81sB",
                        "chunk_id": "3YhzkYF5TtxnP0ePYdeO",
                        "vector_distance": 0.1582432985305786
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What are you hoping to get out of the PSMG Annual London Summit this year?",
                    "rag_latency_secs": 0.22281023799951072
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 14807,
                          "price": 0.0014807
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 102,
                          "price": 4.08e-05
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                }
              ],
              "metadata": {
                "start_time_unix_secs": 1758548007,
                "accepted_time_unix_secs": 1758548007,
                "call_duration_secs": 155,
                "cost": 1097,
                "deletion_settings": {
                  "deletion_time_unix_secs": null,
                  "deleted_logs_at_time_unix_secs": null,
                  "deleted_audio_at_time_unix_secs": null,
                  "deleted_transcript_at_time_unix_secs": null,
                  "delete_transcript_and_pii": false,
                  "delete_audio": false
                },
                "feedback": {
                  "overall_score": null,
                  "likes": 0,
                  "dislikes": 0
                },
                "authorization_method": "public",
                "charging": {
                  "dev_discount": false,
                  "is_burst": false,
                  "tier": "enterprise",
                  "llm_usage": {
                    "irreversible_generation": {
                      "model_usage": {
                        "gemini-2.5-flash-lite": {
                          "input": {
                            "tokens": 44464,
                            "price": 0.0044464
                          },
                          "input_cache_read": {
                            "tokens": 0,
                            "price": 0
                          },
                          "input_cache_write": {
                            "tokens": 0,
                            "price": 0
                          },
                          "output_total": {
                            "tokens": 167,
                            "price": 6.68e-05
                          }
                        }
                      }
                    },
                    "initiated_generation": {
                      "model_usage": {
                        "gemini-2.5-flash-lite": {
                          "input": {
                            "tokens": 89173,
                            "price": 0.0089173
                          },
                          "input_cache_read": {
                            "tokens": 0,
                            "price": 0
                          },
                          "input_cache_write": {
                            "tokens": 0,
                            "price": 0
                          },
                          "output_total": {
                            "tokens": 186,
                            "price": 7.44e-05
                          }
                        }
                      }
                    }
                  },
                  "llm_price": 0.0089917,
                  "llm_charge": 90,
                  "call_charge": 1007,
                  "free_minutes_consumed": 0,
                  "free_llm_dollars_consumed": 0
                },
                "phone_call": null,
                "batch_call": null,
                "termination_reason": "Client disconnected: 1005",
                "error": null,
                "main_language": "en",
                "rag_usage": {
                  "usage_count": 3,
                  "embedding_model": "e5_mistral_7b_instruct"
                },
                "text_only": false,
                "features_usage": {
                  "language_detection": {
                    "enabled": false,
                    "used": false
                  },
                  "transfer_to_agent": {
                    "enabled": false,
                    "used": false
                  },
                  "transfer_to_number": {
                    "enabled": false,
                    "used": false
                  },
                  "multivoice": {
                    "enabled": false,
                    "used": false
                  },
                  "dtmf_tones": {
                    "enabled": false,
                    "used": false
                  },
                  "external_mcp_servers": {
                    "enabled": false,
                    "used": false
                  },
                  "pii_zrm_workspace": false,
                  "pii_zrm_agent": false,
                  "tool_dynamic_variable_updates": {
                    "enabled": false,
                    "used": false
                  },
                  "is_livekit": false,
                  "voicemail_detection": {
                    "enabled": false,
                    "used": false
                  },
                  "workflow": {
                    "enabled": false,
                    "tool_node": {
                      "enabled": false,
                      "used": false
                    }
                  },
                  "agent_testing": {
                    "enabled": true,
                    "tests_ran_after_last_modification": false,
                    "tests_ran_in_last_7_days": true
                  }
                },
                "eleven_assistant": {
                  "is_eleven_assistant": false
                },
                "initiator_id": null,
                "conversation_initiation_source": "widget",
                "conversation_initiation_source_version": "0.2.0",
                "timezone": null
              },
              "analysis": {
                "evaluation_criteria_results": {},
                "data_collection_results": {},
                "call_successful": "success",
                "transcript_summary": "Lottie, an AI agent, is assisting Jen Shipley from Irwin Mitchell with the PSMG Annual London Summit. Lottie inquires about Jen's goals for the summit, suggesting the 'Agentic AI in Marketing and BD' workshop. Jen is still considering her objectives.\n",
                "call_summary_title": "PSMG Summit Introduction"
              },
              "conversation_initiation_client_data": {
                "conversation_config_override": {
                  "tts": {
                    "voice_id": null,
                    "stability": null,
                    "speed": null,
                    "similarity_boost": null
                  },
                  "conversation": {
                    "text_only": null
                  },
                  "agent": {
                    "first_message": "Hi Jen Shipley from Irwin Mitchell. I'm Lottie, one of the conference organisers here at PSMG. We're super excited to have you on board this year. True to the theme of this year's conference, we're continually finding ways to re-invent ourselves and have teamed up with Legal Engine to develop an agent (that's me by the way) to get your thoughts and interests ahead of the conference and help with any travel arrangements. Shall we get started?",
                    "language": "en",
                    "prompt": {
                      "prompt": null,
                      "native_mcp_server_ids": null
                    }
                  }
                },
                "custom_llm_extra_body": {},
                "user_id": null,
                "source_info": {
                  "source": "widget",
                  "version": "0.2.0"
                },
                "dynamic_variables": {
                  "first_name": "Jen",
                  "last_name": "Shipley",
                  "full_name": "Jen Shipley",
                  "role": "Senior Associate Solicitor",
                  "company": "Irwin Mitchell",
                  "email": "andy@legalengine.co.uk",
                  "client_id": "cid_cljh70tgmfv62jeg",
                  "utm_source": "psmg",
                  "utm_medium": "email",
                  "utm_campaign": "pre-screening",
                  "utm_term": "",
                  "utm_content": "Jen Shipley",
                  "system__agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
                  "system__current_agent_id": "agent_6901k5h1cvv7fbvtex52v0a60fn4",
                  "system__conversation_id": "conv_8701k5rt26fvfh1sw5sdq87yd14t",
                  "system__caller_id": null,
                  "system__called_number": null,
                  "system__call_duration_secs": 315,
                  "system__time_utc": "2025-09-22T13:36:02.163628+00:00",
                  "system__time": "Monday, 13:36 22 September 2025",
                  "system__timezone": null,
                  "system__call_sid": null
                }
              }
            }
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/psmg_lottie_live",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}