leonard-dev-workflows/live/uIfnb6lzqUm9qNgz-LIVE_Alternative_Legal_Management_Summit_agent_Amy_Owner_Andy.json
{
  "name": "LIVE - Alternative Legal Management Summit agent (Amy) - Owner Andy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please compose a short email summary of the conversation which took place. Thank the user for their time. Summarise the conversation as follows:\nMax 75 words on the key things they are looking to get from the summit.\na recommendation, based on the topics discussed, of the sessions the user should attend. Maximum three recommendations. Each session should be a separate bullet point and should include day of session, title of session and time of session.\nA recommendation of which speakers the user should engage with based on their topic preferences. Max three individual recommendations.\n\nInputs: \nMeeting Transcript: {{ JSON.stringify($json.body.data.transcript) }} \nMeeting Summary from the call:{{ $json.body.data.analysis.transcript_summary }}\nSummit Summary: Now in year nine, join us at the UK’s LARGEST legal management event for mid-market law firms. This is the ONLY event that brings together the key decision-makers from mid-tier law firms – managing partners, chief executive officers (CEOs), chief financial officers (CFOs) and chief operating officers (COOs).\nThe Summit will give you a curated, content-driven programme combined with plenty of chances to network and socialise. You’ll meet your peers in legal management, spend quality time engaging with them and leave having learnt new things and built meaningful relationships.\nOur agenda is researched and designed for and by firm leaders – with a focus on helping to provide a strategic roadmap for your firm’s future sustainability and profitability.\nThe invitation-only hand-picked audience is exclusively C-suite. Only those who influence strategic growth and make investment decisions may attend.\nQualified delegates attend for free which includes dinner and overnight accommodation.\nAgenda: 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nDay 1 - 15 Sep 2025\n09:00 Registration, coffee & networking\n09:50 Welcome from Alternative Events\nSpeakers:\nJennifer Thomas\nEvent Director - Legal, Alternative Events\n\n09:55 Chair’s opening remarks\nSpeakers:\nJoanna Kingston-Davies\nCo-Founder, The MAPD Group\n\nChair\n\n10:00 Rethinking growth in the mid-market firm: who’s funding the future?\nIn this opening session, three law firm leaders will compare models for funding growth in mid-market firms: traditional partner-funded, employee ownership, and private equity. They will examine who the stakeholders are in each model and where the funding comes from, highlighting the differences between partners, employees, and external investors. The\n\ndiscussion will explore how these approaches shape culture, succession, and incentivisation, raise questions of long-term sustainability, particularly for traditional partnerships, and provide insight into the realities of private equity investment and its impact on the future of the mid-market firm.\n\nSpeakers:\nSimon Ross\nManaging Partner, Seddons GSC\n\nKeynote\n\nJonathan Wearing\nManaging Director, Ison Harrison Solicitors\n\nKeynote\n\nPeter Haden\nCEO, Fletchers\n\nKeynote\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 1/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n10:30 In conversation\nFollowing their presentations, the panellists will join the chair to discuss what’s really driving law firm growth today, from private equity and consolidation to investor demands\n\nand the cultural shifts that come with scale, all while asking: how do you grow without losing identity - or giving up equity?\n\nSpeakers:\nJoanna Kingston-Davies\nCo-Founder, The MAPD Group\n\nFacilitator\n\nPeter Haden\nCEO, Fletchers\n\nSimon Ross\nManaging Partner, Seddons GSC\n\nJonathan Wearing\nManaging Director, Ison Harrison Solicitors\n\n10:45 Panel discussion Efficiency gains vs. profit: Rethinking AI, pricing & the future legal model\nAI isn’t just changing how work gets done - it’s reshaping the economics of legal services. As AI accelerates efficiency, the traditional billable hour model is coming under more pressure.\n\nFirms are facing tough questions about value, pricing, and profitability. This panel explores what happens when technology speeds up delivery – but clients expect it to cost less. How should AI-enhanced work be priced? Are current models sustainable? And how can firms protect margins while adapting to a faster, leaner future?\n\nSpeakers:\nJoanna Kingston-Davies\nCo-Founder, The MAPD Group\n\nFacilitator\n\nClare Murray\nManaging Partner, CM Murray\n\nEd Turner\nFormer Managing Partner, Taylor Vinters & Board Member, Mishcon de\n\nReya\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 2/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nPhilip Young\nCo-founder & CEO, Garfield AI\n\n11:15 Networking & coffee break\n11:50 Keynote presentation The future of law firm leadership\nLeadership is always being scrutinised and debated, but leading a law firm calls for a rare combination of subtle skills.\n\nAs law firms adapt to a world of increased complexity and commercial pressure, the future of leadership in this context is also up for debate. This keynote will explore how firms are rethinking who leads, and how, and what will shape the next generation of managing partners.\n\nSpeakers:\nStefan Stern\nJournalist and Author, Visiting Professor, Bayes Business School, City\n\nKeynote\n\nSt.George's, University of London\n\n12:20 Who leads next?\nFollowing the keynote on the evolving demands of law firm leadership, this session continues the conversation with a deeper dive into what the next generation of leaders are thinking and saying. Joined by the keynote speaker, a leading legal recruitment expert, and a specialist in data- driven insights, this panel will unpack what today’s most sought-after lawyers really want\n\nfrom their firms and why so many choose to walk away. We’ll hear what headhunters are being told behind closed doors – the frustrations, ambitions, and aspirations driving top talent to move – and explore how those views intersect with shifting expectations around leadership, ownership, culture, and career progression.\n\nThis forward-looking discussion will reveal what the next generation of partners and leaders\n\nexpect from their firms, and how their vision of success is set to reshape the future of the mid-market.\n\nThis is not just about who makes partner but what kind of leadership tomorrow’s partners want to become.\n\nSpeakers:\nJoanna Kingston-Davies\nCo-Founder, The MAPD Group\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 3/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nFacilitator\n\nDeborah Gray\nCo-founder and Director, Totum Partners\n\nDavid Johnson\nDirector of Client Services, Lamp House Strategy\n\nStefan Stern\nJournalist and Author, Visiting Professor, Bayes Business School, City\n\nSt.George's, University of London\n\n12:50 Keynote presentation\nSpeakers:\nMatt Crocker\nChief Strategy Officer, Morae\n\nKeynote\n\n13:05 Lunch & networking\n13:35 Vendor Demos\nDuring the networking lunch, a select group of exhibitors will each provide a 15-minute fast- paced short demonstration of their products and services.\n\nUse event app Whova to book your seat in the Learning Lounge.\n\n13:35-13:50 – Thomson Reuters Presented by: Ben Firth, Director of Sales & Customer Success, Thomson Reuters\n\n13:55-14:10 – Clio How mid-sized law firms use Clio\n\nUnlock greater efficiency, teamwork, and revenue with Clio – trusted cloud software for mid-sized law firms.\n\nIf you’re wondering how law firms of your size use Clio to simplify processes for their staff and improve productivity, this is your chance. Learn how to Streamline operations with centralised information and integrated communications\n\nLeverage responsible AI to draft client responses, review documents, capture unlogged time and more Work collaboratively with associates, paralegals, and administrators on matters via tasks Plus, learn about Clio’s differentiators: 24/5 award-winning support, industry leading\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 4/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nsecurity protocols, custom data migration and onboarding, and extensive software integration opportunities.\n\nPresented by: Karl Kohlmann, Account Executive, Clio\n\nSpeakers:\nBen Firth\nDirector of Sales & Customer Success, Thomson Reuters\n\nKarl Kohlmann\nAccount Executive, Clio\n\n14:30\nAfter lunch, the Alternative Legal Management Summit will break out into two workshops\n\nand the Alternative Legal Finance Summit.\n\nStage 1\nAlternative Legal Finance Summit\nStage 1 will start at 14:15.\n\nFD's and CFO's will now break away for the Alternative Legal Finance Summit. 14:15 Chair’s opening remarks Blake Gaffney, Chief Financial Officer, PAYNE HICKS BEACH\n\n14:20 Keynote presentation – Let’s stop the showbiz\n\nFinance professionals look at law firms’ year-end and management accounts and cannot understand why gross margins are so thin, and when they delve into why that is, they see flawed productivity and revenue generation at team and at lawyer (including partner) level. And cash is another level of despair altogether. Why are margins so thin at team, partner, and lawyer level? Unlocking gross margin (and\n\nensuring the profit is cash) is the key to everything. And all the while law firms focus on so much else – blogs, boasts, PR, awards, turnover, hires, new offices etc etc. That’s all showbiz. It’s not enough.\n\nWe need to focus on what’s going on behind the curtain. And that often entails digging deeper and looking at what’s going on under the stage. In this session we’ll\n\nget down to the real nuts and bolts, the obstacles to better business performance, and the role that finance professionals can play in bring about lasting change.\n\nSimon McCrum, Director, McCRUM LEGAL\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 5/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n14:45 Panel discussion – Putting strategic finance leadership into practice – real stories, practical moves You’ve heard why finance leaders must now act as strategic partners, growth\n\nenablers, and change agents. But how do you make that shift stick inside the firm? How do you turn strategic intent into action when you’re navigating legacy systems, sceptical partners, and growing expectations?\n\nAfter hearing the case for finance leadership as a strategic force, what does it actually look like in the day-to-day running of a law firm? This panel brings together\n\nsenior finance leaders who are already making the shift – from reactive reporting to proactive influence.\n\nDiscussion themes include: • Collaborating with partners to shape – not just interpret – financial strategy • Building influence in firms that may still see finance as “back office”\n\n• Balancing short-term financial control with long-term investment thinking • Communicating finance in ways that drive clarity, accountability, and action • What they wish they’d known – and what they’d never do again\n\nTim Burrows, Chief Financial Officer (Partner), Ashtons Legal Colin Hunter, Partner, Coodes\n\nSeema Jones, Chief Financial Officer & Chief Operating Officer, Town Legal Simon McCrum, Director, McCRUM LEGAL\n\n15:10 Find your roundtable\n\n15:15 Roundtables Part One\n\nPeer-to-peer Roundtables are 30-minute discussion groups, each led by a finance\n\nleader from a legal firm.\n\nThe hallmark of an Alternative Event, the peer-to-peer roundtable discussions are like group therapy for firm leaders. These small groups, following the Chatham House rule, allow everyone to share problems and solutions. Each discussion runs twice, allowing you to choose two separate topics to attend in this session. These\n\nfacilitated discussions will deliver insights and takeaways from peers that are simply not otherwise available.\n\n1. Scaling the firm or scaling the risk? How legal leaders are rethinking operational growth\n\nFor many law firms, growth has meant hiring more people to handle more payments,\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 6/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nand taking on the extra risk that comes with it. With margins under pressure, payment volumes rising, and regulators scrutinising client-money processes more closely, that model is becoming harder to sustain.\n\nThis interactive roundtable lets you benchmark your payment and approval processes against peers and uncover hidden costs and risks. Stephen Faulkner, Managing Director at Napthens, will share how his firm removed bottlenecks, cut costs, and reduced risk points without adding headcount. We’ll explore how other firms are scaling profitably – without scaling exposure.\n\nStephen Faulkner, Managing Director, Napthens\n\n2. Work-to-Cash, Reimagined: Data strategies that drive results Understanding and applying actionable data to improve law firms operations; speeding up the work-to-cash cycle and enabling better decision through enhanced\n\ndata and reporting capabilities. Partner remuneration remains one of the most sensitive and politically charged areas of law firm finance. Should we be aiming for transparency? Is lockstep dead? How do you measure contribution beyond billables, and how do you win support for change? Let’s explore what’s working, what’s not, and where the future is heading.\n\n3. Partner pay: Transparency, politics, and getting the model right Partner remuneration remains one of the most sensitive and politically charged areas of law firm finance. Should we be aiming for transparency? Is lockstep dead? How do you measure contribution beyond billables, and how do you win support for change? Let’s explore what’s working, what’s not, and where the future is heading.\n\nJason Bigg, Finance Director, Girlings\n\n4. From bottlenecks to better reporting: Capacity, KPIs & making finance work smarter Finance teams are juggling it all – reporting cycles, tech rollouts, compliance deadlines, and lawyer support – often with limited bandwidth. But are the KPIs we’re\n\ntracking helping to ease the pressure or just adding to it? This roundtable dives into how we surface capacity, manage expectations, and ensure our reporting actually drives the right behaviours. What are the tools, tactics, and time-saving strategies your firm is using to keep finance running smoothly?\n\nAlison Powell, Finance Director, Bates Wells\n\n5. Buying, Selling & MBOs: Lessons from the front line of law firm ownership Having led two MBOs – one private equity funded, one bank backed- sold a law firm, and acquired three others, Alexander has been at the sharp end of what it really\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 7/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\ntakes to change ownership in professional services. In this candid roundtable, he’ll share what he’s learned from every deal that went through (many more didn’t), including how to navigate funding conversations, partner politics, cultural clashes,\n\nand post-deal integration. Whether you’re planning an exit, eyeing an acquisition, or simply curious about how these deals really work, join Alexander and fellow delegates for a behind-the-scenes discussion. Alexander Mansfield, Finance Director, Harrison Drury\n\nThe Legal Finance Summit will break at 15:45.\n\nSpeakers:\nBlake Gaffney\nChief Financial Officer, Payne Hicks Beach\n\nChair\n\nJason Bigg\nFinance Director, Girlings\n\nTim Burrows\nChief Financial Officer (Partner), Ashtons Legal\n\nStephen Faulkner\nManaging Director, Napthens\n\nColin Hunter\nHead of Finance, Coodes\n\nSeema Jones\nChief Financial Officer & Chief Operating Officer, Town Legal\n\nAlexander Mansfield\nFinance Director, Harrison Drury\n\nSimon McCrum\nDirector, MCCRUM CONSULTING\n\nAlison Powell\nFinance Director, Bates Wells\n\nStage 2\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 8/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nWorkshop 1 Charting a new course: Embracing Collective Leadership\nIn a world where no single leader has all the answers, law firms must transition from a command-and-control approach to a shared leadership model. This practical one-hour workshop is designed specifically for Managing Partners who want to explore how to unlock the full leadership potential of their senior leadership teams.\n\nUsing a sailing metaphor – from the captain steering alone to a crew navigating together – we’ll chart the course for collective leadership. Through a series of practical, interactive discussions, you’ll explore the culture, structures, and behaviours needed to distribute leadership effectively across your firm.\n\nYou’ll leave with a clearer sense of where your firm sits on the leadership spectrum,\n\nwhat shifts are needed, and how even small changes can generate lasting impact.\n\nSpeakers:\nHelen Tuddenham\nFounder, Helen Tuddenham Consulting\n\nStage 3\nWorkshop 2 Firm value & funding unpacked: A workshop on PE, capital & the numbers that matter\nValuation is about more than just numbers - it's about demonstrating potential, scalability, and strategic fit. This hands-on workshop explores what private equity investors are really looking for in a law firm, and how to prepare your business for that level of scrutiny. Through a real-world case study, we’ll unpack the key drivers of valuation, investor\n\nexpectations, and the practical steps firms need to take to become investment- ready. Whether you’re succession planning or exploring growth through external funding, this session will help you understand the metrics that matter – and how to position your firm for future success.\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 9/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n15:35 Networking break\n16:15\nThe Alternative Legal Management Summit and Legal Finance Summit will continue with\n\ntheir respective programmes.\n\nStage 1\nAlternative Legal Finance Summit continues\nContinuation of the Alternative Legal Finance Summit programme.\n\n16:15 Roundtables Part Two\n\n1. Scaling the firm or scaling the risk? How legal leaders are rethinking operational growth For many law firms, growth has meant hiring more people to handle more payments,\n\nand taking on the extra risk that comes with it. With margins under pressure, payment volumes rising, and regulators scrutinising client-money processes more closely, that model is becoming harder to sustain. This interactive roundtable lets you benchmark your payment and approval processes against peers and uncover hidden costs and risks. Stephen Faulkner,\n\nManaging Director at Napthens, will share how his firm removed bottlenecks, cut costs, and reduced risk points without adding headcount. We’ll explore how other firms are scaling profitably – without scaling exposure. Stephen Faulkner, Managing Director, Napthens 2. Work-to-Cash, Reimagined: Data strategies that drive results\n\nUnderstanding and applying actionable data to improve law firms operations; speeding up the work-to-cash cycle and enabling better decision through enhanced data and reporting capabilities. 3. Partner pay: Transparency, politics, and getting the model right Partner remuneration remains one of the most sensitive and politically charged areas\n\nof law firm finance. Should we be aiming for transparency? Is lockstep dead? How do you measure contribution beyond billables, and how do you win support for change? Let’s explore what’s working, what’s not, and where the future is heading. Jason Bigg, Finance Director, Girlings 4. From bottlenecks to better reporting: Capacity, KPIs & making finance work\n\nsmarter Finance teams are juggling it all – reporting cycles, tech rollouts, compliance deadlines, and lawyer support – often with limited bandwidth. But are the KPIs we’re\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 10/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\ntracking helping to ease the pressure or just adding to it? This roundtable dives into how we surface capacity, manage expectations, and ensure our reporting actually drives the right behaviours. What are the tools, tactics, and time-saving strategies\n\nyour firm is using to keep finance running smoothly? Alison Powell, Finance Director, Bates Wells 5. Buying, Selling & MBOs: Lessons from the front line of law firm ownership Having led two MBOs – one private equity funded, one bank backed- sold a law firm, and acquired three others, Alexander has been at the sharp end of what it really\n\ntakes to change ownership in professional services. In this candid roundtable, he’ll share what he’s learned from every deal that went through (many more didn’t), including how to navigate funding conversations, partner politics, cultural clashes, and post-deal integration. Whether you’re planning an exit, eyeing an acquisition, or simply curious about how these deals really work, join Alexander and fellow\n\ndelegates for a behind-the-scenes discussion. Alexander Mansfield, Finance Director, Harrison Drury\n\n16:45 Panel discussion Staying ahead of the curve: Inflation, interest rates and the economic reality for mid-market law firms Law firm growth doesn’t stop just because the economy gets tough – it just\n\ndemands smarter, more resilient finance leadership.\n\nRising costs, interest rate shifts, and payment delays are testing the resilience of even the best-run law firms. For finance leaders, it’s no longer just about managing the budget – it’s about anticipating what’s coming next.\n\nIn this session, we’ll explore how proactive finance teams are building resilience into\n\ntheir models and adapting strategies for a new era of economic uncertainty. From lock-up to leverage, pricing pressure to pay rises – nothing is off the table. We’ll ask: • Are our forecasts flexible enough to respond in real time? • What warning signs should finance leaders be watching for?\n\n• How can we protect profitability while keeping the firm agile?\n\nNeil Aitken, Finance Director, Woodfines Tom Blandford, CFO, Roche Legal\n\n17:15 Chair’s closing remarks\n\nBlake Gaffney, Chief Financial Officer, PAYNE HICKS BEACH\n\nSpeakers:\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 11/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nBlake Gaffney\nChief Financial Officer, Payne Hicks Beach\n\nChair\n\nNeil Aitken\nFinance Director, Woodfines LLP\n\nJason Bigg\nFinance Director, Girlings\n\nTom Blandford\nCFO, Roche Legal\n\nStephen Faulkner\nManaging Director, Napthens\n\nAlexander Mansfield\nFinance Director, Harrison Drury\n\nAlison Powell\nFinance Director, Bates Wells\n\nRoundtables\nPeer-to-peer roundtable discussions are 30-minutes, each led by a leader from a law firm.\n\nThe hallmark of an Alternative Event, the peer-to-peer roundtable discussions are like group therapy for firm leaders. These small groups, following the Chatham House rule, allow everyone to share problems and solutions. Each discussion runs twice, allowing you to choose two separate topics to attend in this session.\n\nThese facilitated discussions will deliver insights and takeaways from peers that are\n\nsimply not otherwise available.\n\n1. Client experience: is everyone really on board – or just saying so? How to align the whole firm around a consistent client experience – without relying\n\non lip service or top-down memos. James Tarling, CEO, Ashtons Legal\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 12/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n2. The new partner problem: how do you make them stick? Why partner integration and remuneration are make-or-break – and how to build loyalty beyond remuneration.\n\nAlex McPherson, Founder & Partner, Ignition Law\n\n3. Governance gaps: who’s really running the firm? As firms evolve, do your leaders, boards, and non-lawyer execs know their roles – or are lines still dangerously blurred? Is it time to separate leadership from legal practice entirely?\n\nShould firms bring in experienced business leaders from outside the profession – like tech or finance – to run their operations and drive strategy? Abby Winkworth, Corporate Strategy and Innovation Lead, Taylor Rose MW\n\n4. Ask the Expert – Is your business performing significantly better than it was this time last year?\n\nWhy and how? How can we be sat here in 12 months with a great story to tell? Simon McCrum, Director, McCRUM LEGAL\n\n5. How to turn compliance into a strategic advantage for you law firm In many law firms, compliance is still treated as a necessary expense lagging behind revenue-generating teams when it comes to investment in technology. But the world\n\nhas changed, and that thinking no longer holds up. Over the past two decades, regulatory demands have intensified, the risk environment has become more complex, and the administrative burden on staff at all levels has only grown. Yet, client and matter risk assessments in most firms remain manual, fragmented, and inefficient.\n\nThis roundtable will explore why “we’ve always done it this way” is no longer a safe strategy. We’ll discuss how digitising and streamlining compliance workflows can reduce inefficiency, mitigate real risks, and turn compliance into a driver of value for your firm. Drawing on years of client feedback and experience, our discussion will introduce a\n\nsmarter, technology-enabled approach to risk assessment – one designed for today’s realities, not yesterday’s habits.\n\n6. What about the clients? Purpose, positioning and staying truly client-led As mid-tier firms, it’s easy to get caught up in internal targets, service lines, and\n\noperational goals – but how often do we pause to ask: What do our clients really want? In this roundtable, we’ll challenge ourselves to think beyond the service list\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 13/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nand consider our true purpose: who we’re here to serve, why they choose us, and how we make sure we’re still delivering value in a shifting legal market. Are we clear on our ideal client base? Do we understand their pressures, their language, their\n\nbusiness reality? And how do we balance client expectations with commercial sustainability? Join fellow leaders for a candid discussion on reconnecting with clients, realigning your firm’s purpose, and staying relevant in an increasingly competitive space. Vijay Parikh, Managing Partner, Harold Benjamin\n\n7. Mergers, culture & making it work: Lessons from the inside A candid conversation on what it really takes to get mergers right – from cultural alignment to strategic execution, and everything in between. Simon Ross, Managing Partner, Seddons\n\nSpeakers:\nSimon McCrum\nDirector, MCCRUM CONSULTING\n\nAlex McPherson\nFounder & Partner, ignition law\n\nVijay Parikh\nManaging Partner, Harold Benjamin\n\nSimon Ross\nManaging Partner, Seddons GSC\n\nJames Tarling\nCEO, Ashtons Legal\n\nAbby Winkworth\nCorporate Strategy and Innovation Lead, Taylor Rose MW\n\nFor vendors only\nWhile our delegates join the sessions in the conference room, we have created something special for our vendor community. 16:15-17:00\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 14/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n“Know your audience” – presentation of delegate data from today’s event Steve Parrott, Co-Founder, Alternative Events\n\nWhat Colour Is Your Prospect (and Why AI Already Knows)\n\nPaul Richmond, Director, theGrogroup\n\nWhen it comes to developing relationships with prospects, Steve Parrott alongside Paul Richmond from theGrogroup will weave in some of the best tricks that AI can offer a sales team that will change your approach to your next meeting.\n\nTheir powerful double act will deliver the most valuable content you will hear at the event\n\nand will help you gain clarity about why it’s tough to get on the right wavelength with some prospects and why you immediately see eye to eye with others.\n\nSpeakers:\nSteve Parrott\nCo-Founder, Alternative Events\n\nPaul Richmond\nManaging Director, theGrogroup\n\n17:20 Networking break\nTake a quick breather and grab a drink before joining us for the final engaging session of the day.\n\n17:30 The Alternative Samoan Circle 5 Years On – What have we really changed? Have we truly moved forward – or just moved on?\nIt’s been half a decade since the pandemic reshaped how we work, lead, and deliver legal services. But how much of that change has been intentional—and how much is inertia? Have we handed too much control to employees without asking the harder, strategic\n\nquestions? Has flexibility become untouchable, even when it no longer serves the business?\n\nThis open, peer-led Samoan Circle invites a candid look at what we’ve kept, the practices we’ve ditched, and whether any of it is still working.\n\n• Have we reflected deeply enough on what really worked—and what didn’t? • What habits have we clung to, and which ones have we left behind?\n\n• Are hybrid models, well-being initiatives, and flexibility still delivering value? • Have we reframed the right things—or simply avoided the uncomfortable questions?\n\nFocusing on three key areas – workplace strategy, client relationships, and talent development – this explores whether firms have evolved in meaningful, strategic, and\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 15/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nsustainable ways… or just settled into a new status quo.\n\nSpeakers:\nGreg Jackson\nFounder & CEO, Oakwood Strategy\n\nFacilitator\n\nJames Chadburn\nManaging Partner, Dean Wilson\n\nSimon Deans\nSenior Partner, BP Collins\n\nAlison Lee\nManaging Director, Biscoes Solicitors\n\nNicky Lloyd\nCOO, Streather Solicitors\n\n18:05 Chair’s closing remarks\nSpeakers:\nJoanna Kingston-Davies\nCo-Founder, The MAPD Group\n\nChair\n\n18:10 Drinks reception\nTime to regroup for drinks and additional networking opportunities.\n\n18:45 Check-in & refresh or continue networking at the bar\n19:30 Dinner\nJoin us for a casual dinner. Relax, socialise and continue to foster meaningful connections as the evening continues.\n\n21:00 Until late Networking and prize-giving in the Bar\nAfter dinner, we’ll continue in the bar and courtyard for socialising and networking and announce the winners from the many prize draws and competitions run throughout the day.\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 16/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nDay 2 - 16 Sep 2025\nThis morning the Alternative Legal Management Summit and the Alternative Legal IT Conference merge for a plenary programme designed for both Managing Partners/CEOs and heads of IT. The Alternative Legal Management Summit will conclude at 13:00 today, while the Alternative Legal IT Conference will carry on until lunchtime tomorrow, Wednesday 17 September. Alternative Legal Management Summit delegates are very welcome to join us.\n\n07:00 Breakfast is served\n08:00 Coffee & networking\nWalk and Talk – Optional Activity\n08:00\nMeeting Point – Reception. Start your day the right way with an energising gentle early\n\nto\n\nmorning walk and talk around the stunning Wyboston Lakes Resort.\n\n09:00\nSet within 380 acres of beautiful countryside, Wyboston Lakes offers peaceful lakeside views, scenic walking trails, and an abundance of local wildlife – making it the perfect backdrop for relaxed conversation and informal networking.\n\nMartin Walker will be our guide, sharing fascinating insights into the resort’s history and natural surroundings. While Martin is from inland Hemel Hempstead, he has a passion for coastal walking and cycling and has experienced ventures across Europe, the USA, Mexico and southern New Zealand. His lifetime ambition is to complete the ‘South West Coast Path’ (630 miles) and he’s covered approximately 75% of that route to date.\n\nThe walk will be at a gentle pace along flat paths, giving you plenty of time to connect with fellow delegates and enjoy some informal networking. Please wear appropriate footwear as it can get muddy, and bring a waterproof- after all, a little rain won’t slow us down!\n\nUse event app Whova to sign up.\n\n09:00\nStart the day the relaxed way - with one informal roundtable discussion. It’s a chance to\n\nto\n\nease into the morning, pick up conversations from the night before, swap ideas with peers,\n\n09:30\nand kick things off with some fresh perspective before the main programme begins. 1. THE GREAT LEGAL RESET: Leading the value-based pricing revolution Introduction to the 8 P Point Plan Framework for those ready to transform their firm.\n\nKey content:\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 17/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n1. Strategic Leadership Framework – P#1 PARADIGM: Breaking free from the billable hour mindset – P#2 PIONEER: Building your transformation team\n\n– P#3 PLAN: Setting the foundation for change – P#4 PROMOTE: Creating unstoppable momentum\n\n2. Implementation Excellence – P#5 PERMIT: Empowering your people. – P#6 PRIZES: Celebrating success and quick wins\n\n– P#7 PERSEVERE: Keeping going – P#8 PASSION : Cultural change\n\n3. Critical Success Factors – Leadership imperatives – Change management essentials\n\n– Common pitfalls to avoid\n\n4. Q&A\n\nExclusive Bonus – Copy of RACI Implementation Planning Template\n\nWhy attend?\n\n– Future-proof your firm – Improve profitability – Enhance client relationships – Boost lawyer satisfaction Shaun Jardine, Managing Director, Big Yellow Penguin\n\n2. When it happens to you: surviving a cyber-attack as a law firm leader When your firm becomes the victim of a cyber-attack, the reality hits hard – and fast. In this roundtable, Emma Pearmaine, Managing Director of a £5.25m turnover, 125-person law firm, shares first-hand what it’s like to lead through the chaos. With limited in-house IT and heavy reliance on external support, the experience was a steep and unexpected learning\n\ncurve. This session is for Managing Partners looking to prepare for the worst (and hope for the best), covering the top 10 lessons learned – from business continuity and communication, to trust, tech, and team resilience. No scare tactics- just real talk about what to expect, what to ask, and what to fix before it happens to you.\n\nEmma Pearmaine, Managing Director, Ridley and Hall Legal Limited\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 18/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n3. Drowning in compliance: when will it stop? With regulation and risk growing daily, how do firms stay ahead without turning into mini- regulators themselves?\n\nKaren Eckstein, Solicitor and Risk Management Expert, Karen Eckstein Limited\n\nSpeakers:\nKaren Eckstein\nSolicitor and Risk Management Expert, Karen Eckstein Limited\n\nShaun Jardine\nManaging Director, Big Yellow Penguin\n\nEmma Pearmaine\nManaging Director, Ridley and Hall Legal Limited\n\n09:50 Welcome from Alternative Events, Headline Sponsor, Quiss Technology\nSpeakers:\nJennifer Thomas\nEvent Director - Legal, Alternative Events\n\n09:55 Chair’s opening remarks\nSpeakers:\nEmma Jackson\nHead of Legal Technology & Data, Mills & Reeve\n\n10:05 Keynote presentation The Rise of the Humans: Reimagining the legal firm for the age of AI\nAs generative AI moves from buzzword to boardroom priority, the legal profession stands on the brink of profound transformation. Mid-size firms in particular face a dual challenge – to rethink how value is delivered and how technology is positioned not just as operational support, but as a strategic growth engine. At the heart of both is a deeper shift: understanding how to empower people – not\n\nreplace them – in a world where machines can increasingly do the work we once thought was exclusively human.\n\nIn this provocative and optimistic keynote, futurist and technologist Dave Coplin explores the real implications of AI for professional services – focusing on reimagining what people are uniquely capable of when supported by the right tools. Drawing on decades of\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 19/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nexperience advising clients around the world, Dave will unpack what The Rise of the Humans really means for legal leaders navigating fast-evolving client expectations, shifting workforce dynamics, and a digital future that’s already arrived.\n\nThis session offers both inspiration and grounded insight to help legal leaders confidently step into a world where technology doesn’t erase the role of humans – it amplifies it.\n\nSpeakers:\nDave Coplin\nFounder & CEO, The Envisioners\n\nKeynote\n\n10:35 In conversation\nThe session will conclude with a live audience Q&A, as Dave joins our chair on stage for an open discussion.\n\nSpeakers:\nEmma Jackson\nHead of Legal Technology & Data, Mills & Reeve\n\nFacilitator\n\nDave Coplin\nFounder & CEO, The Envisioners\n\nKeynote\n\n10:50 TED-style Lightning Talks + Practical Panel Discussion\nAI in Action: Killer use cases that actually work AI is everywhere – but what’s actually working in law firms? In this fast-paced, high-impact session, legal project leads and innovation heads will share the AI use cases that go beyond the buzzwords – with real-world results to back them up. These are the practical stories of what’s been tried, what delivered value, and what didn’t.\n\nWe’ll cover: • “Killer” use cases: where AI is delivering measurable impact and efficiency gains • Lessons learned: what smaller firms need to know before jumping in • Quick wins vs. strategic bets: how to think about ROI • What’s still hype – and what’s worth your time\n\nThe session wraps with a short panel Q&A, where the speakers are joined in conversation by the chair and the keynote speaker. Together, they’ll take questions on implementation challenges and share insights on how to avoid common traps.\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 20/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nIf you’ve been waiting to see how AI actually works in practice – this is the session.\n\nSpeakers:\nEmma Jackson\nHead of Legal Technology & Data, Mills & Reeve\n\nFacilitator\n\nDave Coplin\nFounder & CEO, The Envisioners\n\nJames Grice\nHead of Innovation and AI, Lawfront\n\nMichelle Taylor\nHead of Product Portfolio, Lewis Silkin LLP\n\n11:15 Vendor Spotlights\nOur sponsors’ lightning-fast sessions will give attendees a snapshot of the latest legal tech tools designed specifically to support law firms in driving efficiency, innovation and client value.\n\nThomson Reuters Harvey Forsyte The Access Group\n\n11:30 Coffee & networking break\n12:10\nAfter the coffee break, we'll continue with two more stages of content where industry\n\nexperts will guide a discussion on the roadmap for key technologies in the legal tech space. These sessions are not vendor sales pitches. Instead, product development experts will provide a comprehensive overview of the trajectory and evolution of each technology. Our\n\npanel of experts will explore the latest advancements, emerging trends, and potential challenges shaping the future of legal technology.\n\nStage 1\nTechnology Focus Moving to the cloud – the roadmap to success\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 21/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nThe sessions will feature three 15-minute presentations from subject matter experts followed by a joint Q&A session. Quiss – Beyond the Cloud: From digital transformation to intelligent legal workflows\n\nThe cloud’s role in digitising legal processes is just the beginning. This presentation looks to the horizon where data, AI, and cloud technology converge to create a new paradigm for legal work. We’ll explore how firms are moving beyond simple cloud deployments to a state of true intelligence.\n\nOur discussion will cover:\n\nThe Cloud as a foundation: Acknowledging the cloud’s vital role as the essential infrastructure for future innovation. The next wave of digital transformation: Moving beyond basic digitisation to unlock new opportunities for efficiency. The rise of AI and Data: Focusing on how AI and data analytics are transforming legal workflows. Example: Laurel.ai: Using a real-world example to demonstrate how AI is evolving from automating tasks to anticipating needs.\n\nJoin us for a glimpse into the future of the legal profession, where powerful, data- driven insights are a cornerstone of everyday work. Presented by: Andy Hawley, Senior Business Development Manager, Quiss Technology\n\nMorae\n\nPresented by: David Malkinson, Senior Managing Director, Morae\n\nPhilips Dictation – Migrating to the Cloud, adoption of technology and change and vendor collaboration Our presentation will focus on: • Cost Efficiency: How cloud migration reduces infrastructure and IT overhead\n\n• Workforce Flexibility: Enabling secure access for remote and hybrid teams • Process Automation: AI and speech tools streamlining documentation tasks • System Compatibility: Ensuring solutions integrate with existing tools and team workflows • Future-Readiness: Strategic tech partnerships to ensure scalable, best-in-class\n\nsolutions Presented by : Ben Capstick, UK Sales Manager, Philips Dictation\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 22/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nSpeakers:\nDeirdre Moynihan\nPartner, Kemp IT Law\n\nFacilitator\n\nAndy Hawley\nSenior Business Development Manager, Quiss Technology\n\nDavid Malkinson\nSenior Managing Director, Morae\n\nBen Capstick\nUK Sales Manager, Philips Dictation\n\nStage 2\nTechnology Focus Digital Foundations: Unifying law firm data for competitive advantage\nThe sessions will feature three 15-minute presentations from subject matter experts followed by a joint Q&A session.\n\nKatchr – The connected firm: Turning disjointed data into decisions Law firms are awash with data, but much of it lives in disconnected systems, buried in spreadsheets, or arrives too late to be useful. In this session, we’ll explore how firms can move beyond patchy reporting to build a solid, unified data foundation that\n\nhelps everyone—from owners to fee earners—make better, faster decisions. We’ll take a look at what’s changing in the legal tech landscape, how smart firms are getting ahead with joined-up data strategies, and what IT leaders can do to prepare for the next wave of innovation—from predictive analytics to natural language insights. No sales pitch, just practical ideas and big-picture thinking to help you plan\n\nwhat’s next. Presented by: Graham Moore, CEO, Katchr\n\nActionstep Presented by: Oliver Tromp, Regional VP, UK Actionstep\n\nElite – Unlocking game-changing insights with cloud-native data and Microsoft\n\nFabric\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 23/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nBuilding out a foundational data strategy; utilising cloud native technologies and integration with the Microsoft ecosystem to deliver truly game-changing insights for your firm\n\nPresented by: Phil Nixon, Sales Director, UK & EMEA, Elite\n\nSpeakers:\nDuncan Eadie\nHead of IT Strategy, Thomson Snell & Passmore LLP\n\nFacilitator\n\nGraham Moore\nManaging Director, Katchr\n\nOliver Tromp\nRegional Vice President, UK, Actionstep\n\nPhil Nixon\nSales Director, UK & EMEA, Elite\n\n13:10 A word from our lunch sponsor, Laurel\n13:15 Lunch & networking – sponsored by Laurel\nThis session marks the end of the Alternative Legal Management Summit. The Alternative Legal IT Conference continues after lunch.\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 24/27 02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\n2025 Partner Sponsors\n2025 Sponsors\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 25/27\n\n02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 26/27\n\n02/09/2025, 10:57 Agenda Print - The Alternative Legal Management Summit\n\nhttps://www.alternativeevents.co.uk/legal-management/agenda-print/ 27/27\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        0
      ],
      "id": "5c65dade-973d-4c00-ab6a-5b1cf16bf26f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        224
      ],
      "id": "afe7cb4a-c865-41f4-a937-2a01ff8b7bfa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        -48,
        224
      ],
      "id": "b80deeca-d7b3-42d2-aa43-516f82e03a7c",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        224
      ],
      "id": "e43f0174-9268-4b75-bae3-f9dda4db1de9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        0
      ],
      "id": "4ce151a3-dcbb-4805-8d3b-59c2b3fdfbfc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ALM-summit-Abbey",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ],
      "id": "0bc4d378-1d45-40c3-93ae-b29aa183ff81",
      "name": "ALM Webhook",
      "webhookId": "ab3decff-9b32-49e9-b4ea-b7dc7046b86c"
    },
    {
      "parameters": {
        "toRecipients": "=andy@legalengine.co.uk, lee@legalengine.co.uk",
        "subject": "=Follow up from your call with Amy ahead of the Alternative Legal Management Summit",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Alternative Legal Management Conference</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n  <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi there,</p>\n      <p>Thanks for taking the time to speak with me ahead of the Alternative Legal Management Summit. Based on our conversation, I have provided below recommended sessions to attend and people to speak to. For further information, please visit https://www.alternativeevents.co.uk/legal-management/.<br><br>Enjoy the summit!</p>\n\n<!-- SIGN-OFF -->\n<div class=\"section\">\n\n  <p><b>Amy</b></p>\n\n  <p>Events AI Assistant<br>Alternative Legal Management Summit<br>Powered by Legal Engine</p><br>\n    \n    </div>\n\n    <!-- SUMMARY OF CALL -->\n    <div class=\"section\">\n  {{ $json.output }}\n    </div>\n\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "095e4f3a-2949-47f1-b1b5-c3fd106801ef",
      "name": "HTML Email to attendee",
      "webhookId": "6e136508-dddf-451c-aaa9-1915784ff487",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OAftwNOqCIYj8Src",
          "name": "Microsoft Outlook - New Dec 2025 Leonard account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to produce a html formatted version of this text that will be embedded into an html email. I just need the output to be sections of formatted text covering the topics covered in the conversation (\"Summary\", \"Recommended sessions\", \"Speakers to engage with\").\n\nIn the \"Speakers to engage with\", list the name of the speaker and the session name. For example: 'Clare Murray — panelist on AI, pricing and operational change'\n\nIn the \"Recommended sessions\", list the day, the time and the session name. For example:'Day 1, 11:50 - Key Note Presentation - The Future of Law Firm Leadership'\n\nI only need the body of the email, no opening and no sign off, just the main body formatted correctly with even  spaces between the sections.\n\nText here: {{ $json['0'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        0
      ],
      "id": "2faf2efc-f855-4426-a2a5-25d02c760537",
      "name": "Create HTML content"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create HTML content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Create HTML content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALM Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML content": {
      "main": [
        [
          {
            "node": "HTML Email to attendee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "ALM Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "41352",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "978fd82e22ab02a7-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "elevenlabs-signature": "t=1756845856,v0=30c9a0cc1491de09cc1ae87712b817ef4cd8ad97f4fc1543103cb38e34f783e5",
            "x-forwarded-for": "34.59.11.47, 172.70.179.141",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-sdmff",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "post_call_transcription",
            "event_timestamp": 1756845856,
            "data": {
              "agent_id": "agent_6201k453mryzer2sk2t184gyhk4g",
              "conversation_id": "conv_8701k462g09ce40shz3z1k8pampq",
              "status": "done",
              "user_id": "1jocLV1YMhbdrLSRX3Me8aWkbRX2",
              "transcript": [
                {
                  "role": "agent",
                  "message": "Hi there. I'm Amy, one of the conference organisers here at the Alternative Legal Management Summit. We're super excited to have you on board this year. True to the theme of this year's conference, we're pushing the boundaries and have teamed up with Legal Engine to develop an agent (that's me by the way) to get your thoughts and interests ahead of the conference.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 0,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.15586543607059866
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Hey, nice to meet you.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 20,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.10631372092757374
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "It's lovely to meet you too! How has your week been so far?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 23,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.8348216150188819
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.6459250460611656
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.834799851058051
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.14143226097803563
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.13455545902252197
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "FiQL1K7zWl11VG44uhVx",
                        "vector_distance": 0.15138626098632812
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.1518540382385254
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.15561121702194214
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.15594422817230225
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.1644350290298462
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.17014384269714355
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "culxgK0AZdsdAi8cQPfq",
                        "vector_distance": 0.1723882555961609
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.1799219846725464
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "uGIAvIBWPkJ9hZ1AMWcP",
                        "vector_distance": 0.1803184151649475
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.18726050853729248
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.18754345178604126
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.1934109926223755
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "VxkAq5j0KcPaqvQovIhg",
                        "vector_distance": 0.1992434859275818
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What is the purpose of the agent developed by Legal Engine?",
                    "rag_latency_secs": 0.2088528199819848
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 24607,
                          "price": 0.0024607
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 17,
                          "price": 0.000006800000000000001
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Yeah, really good, thanks.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 27,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.17171869101002812
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "That's great to hear! I'm really looking forward to the summit. To make sure we tailor the event to you, I'd love to get a better understanding of what you're hoping to get out of it. What are your main goals for attending the Alternative Legal Management Summit?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 29,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6915448700310662
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.5104928530054167
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.9721941610332578
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.16341699997428805
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.2648056745529175
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.27138209342956543
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.2751617431640625
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.27835094928741455
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.28006142377853394
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.28175199031829834
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.2849550247192383
                      },
                      {
                        "document_id": "ppbrfEfQtSZAeubOmOd0",
                        "chunk_id": "S0lF31pfdtGSLgcdisG3",
                        "vector_distance": 0.28550636768341064
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "culxgK0AZdsdAi8cQPfq",
                        "vector_distance": 0.28632378578186035
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.2872503995895386
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "qzFPPqCmnHCRzLUuOCYz",
                        "vector_distance": 0.2873048186302185
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "L7kd4HdZ2vFdAsSA37z5",
                        "vector_distance": 0.28815126419067383
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.28897327184677124
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.2894405722618103
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "How has your week been?",
                    "rag_latency_secs": 0.19055782002396882
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 25016,
                          "price": 0.0025016000000000005
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 61,
                          "price": 0.000024400000000000004
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Mainly it's in relation to networking with peers across the industry. I've been for the past two years and that's far and away the best thing about the conference. Yeah, so that's",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 43,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.1743573040002957
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "It's great that you've found the networking so valuable in previous years. It really is a fantastic opportunity to connect with peers.\n\nAre there any particular topics or sessions you're interested in exploring this year? We've got a really packed agenda covering everything from AI and technology to firm growth and leadership.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 61,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.8731513710226864
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.6244909720262513
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.1696933950297534
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.17684399196878076
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.20575296878814697
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.2117900848388672
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "xwrbQ3rB2JSjJvdUYQrp",
                        "vector_distance": 0.21292781829833984
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jwWKp8n2Ubn8TEIvWxvI",
                        "vector_distance": 0.21313965320587158
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.21426308155059814
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.21432530879974365
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "L7kd4HdZ2vFdAsSA37z5",
                        "vector_distance": 0.21474015712738037
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.21505677700042725
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.21541643142700195
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.21767985820770264
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.2176862359046936
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "GT5Hqt1vBT0Ln4hj3QRp",
                        "vector_distance": 0.21776968240737915
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.21786022186279297
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.22006458044052124
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What are my main goals for attending the conference?",
                    "rag_latency_secs": 0.17574081395287067
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 25058,
                          "price": 0.0025058000000000003
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 65,
                          "price": 0.000026
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Yeah, there's two things that jumped out at me. One's around developments in relation to pricing and the other one's, I know you've got a couple of sessions on the interest that private equity has now in the mid-market law firms.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 79,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.13382204598747194
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "That's fantastic. We have a great session on day one called \"Efficiency gains vs. profit: Rethinking AI, pricing & the future legal model\" which I think will be perfect for you. It's a panel discussion that delves into how AI is impacting efficiency and the pressure this puts on traditional billing models. They'll be discussing how to price AI-enhanced work and whether current models are sustainable.\n\nWe also have a session on day one, \"Rethinking growth in the mid-market firm: who’s funding the future?\" which features a panel discussing different funding models, including private equity. They'll be comparing traditional partner funding, employee ownership, and private equity, and exploring the impact on firm culture and long-term sustainability. Does that sound like it covers your interests?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 100,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.9963601970812306
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.57340810704045
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.4258581540780142
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.18040237098466605
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.1413511037826538
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.14214015007019043
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jKisZQVD6hmEMCluoRWs",
                        "vector_distance": 0.14386475086212158
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jwWKp8n2Ubn8TEIvWxvI",
                        "vector_distance": 0.14422500133514404
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "qbpxv7ihBNjcrzMGQ8uk",
                        "vector_distance": 0.14541202783584595
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "xwrbQ3rB2JSjJvdUYQrp",
                        "vector_distance": 0.14618003368377686
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "naUCIRTI3ElsegRdRuiS",
                        "vector_distance": 0.14879226684570312
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "GT5Hqt1vBT0Ln4hj3QRp",
                        "vector_distance": 0.15059185028076172
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "Z0SVz3hpO2ak5gaOUaiq",
                        "vector_distance": 0.15209442377090454
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.15237033367156982
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "VxkAq5j0KcPaqvQovIhg",
                        "vector_distance": 0.1527160406112671
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "E0FBKSfWxCL1nlBF10Sq",
                        "vector_distance": 0.15369325876235962
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.1538773775100708
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "Are there sessions this year about pricing developments and private equity interest in mid-market law firms?",
                    "rag_latency_secs": 0.21941950998734683
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 24316,
                          "price": 0.0024316
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 164,
                          "price": 0.00006560000000000001
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Yeah, very much so. What time are those sessions, please?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 143,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.12404269399121404
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "Let me just pull up the timings for you.\n\nThe session on \"Efficiency gains vs. profit: Rethinking AI, pricing & the future legal model\" is at ten forty-five on day one.\n\nAnd the \"Rethinking growth in the mid-market firm: who’s funding the future?\" session is at ten o'clock on day one, followed by an \"In conversation\" session with the speakers at ten thirty.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 149,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6127603460336104
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.44411091203801334
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.0495222470490262
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.2511023449478671
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.14916229248046875
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.15234756469726562
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.15668106079101562
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.15750151872634888
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.1575726866722107
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.16735601425170898
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "xwrbQ3rB2JSjJvdUYQrp",
                        "vector_distance": 0.16756856441497803
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.16770142316818237
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.1686369776725769
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.16965019702911377
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.1696845293045044
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "Z0SVz3hpO2ak5gaOUaiq",
                        "vector_distance": 0.17040514945983887
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jKisZQVD6hmEMCluoRWs",
                        "vector_distance": 0.1708817481994629
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What time are the sessions on day one about AI, pricing, and private equity in mid-market law firms?",
                    "rag_latency_secs": 0.5079743179958314
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 25081,
                          "price": 0.0025081000000000005
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 89,
                          "price": 0.000035600000000000005
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "That's great. Yeah, yeah, I'm definitely going to attend those.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 171,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.13334623002447188
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "Wonderful! I'm so glad to hear that.\n\nBeyond the specific sessions, you also mentioned networking as a key goal. Are there any particular individuals or types of specialists you're hoping to connect with at the conference?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 176,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.8693247060291469
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.6373650060268119
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.1506982190767303
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.14080037805251777
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.14525234699249268
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.15004706382751465
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.15415799617767334
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "xwrbQ3rB2JSjJvdUYQrp",
                        "vector_distance": 0.15562224388122559
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.15803498029708862
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.16070914268493652
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.16137856245040894
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.16151577234268188
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jwWKp8n2Ubn8TEIvWxvI",
                        "vector_distance": 0.1632610559463501
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jKisZQVD6hmEMCluoRWs",
                        "vector_distance": 0.16362738609313965
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "qzFPPqCmnHCRzLUuOCYz",
                        "vector_distance": 0.16409629583358765
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "qbpxv7ihBNjcrzMGQ8uk",
                        "vector_distance": 0.1644313931465149
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "Z0SVz3hpO2ak5gaOUaiq",
                        "vector_distance": 0.16448521614074707
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What are the times of the sessions on efficiency gains, AI, pricing, and mid-market firm growth?",
                    "rag_latency_secs": 0.24991941393818706
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 12947,
                          "price": 0.0012947
                        },
                        "input_cache_read": {
                          "tokens": 12143,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 46,
                          "price": 0.000018400000000000003
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Is there anyone that's looking at partner, kind of lateral partner hires, partner integration, etc.?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 188,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.1929663890041411
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "That's a very relevant question for many firms right now. We have a session on day two called \"The new partner problem: how do you make them stick?\" which delves into partner integration and remuneration. It's a roundtable discussion, so it should offer some great insights and opportunities to connect with others facing similar challenges.\n\nWe also have a session on day one, \"Who leads next?\", which discusses what the next generation of leaders are thinking and why lawyers choose to move firms. This might also be of interest to you.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 200,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.5545611230190843
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.3853691479889676
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 1.1238114630104974
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.14648815104737878
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.1989043951034546
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.20736736059188843
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.20978868007659912
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.20979619026184082
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.21224671602249146
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.21336424350738525
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.2149115800857544
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "culxgK0AZdsdAi8cQPfq",
                        "vector_distance": 0.21701562404632568
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.21707963943481445
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jwWKp8n2Ubn8TEIvWxvI",
                        "vector_distance": 0.2171236276626587
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.21947604417800903
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "L7kd4HdZ2vFdAsSA37z5",
                        "vector_distance": 0.22060656547546387
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.2254408597946167
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "naUCIRTI3ElsegRdRuiS",
                        "vector_distance": 0.22594714164733887
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "Are there any specific people or specialists I should aim to connect with at the conference?",
                    "rag_latency_secs": 0.23382166598457843
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 25603,
                          "price": 0.0025603
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 110,
                          "price": 0.000044
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Yeah. Can you give me the timings on both of those as well, please?",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 228,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.1415097350254655
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "Certainly!\n\nThe \"The new partner problem: how do you make them stick?\" roundtable is scheduled for four fifteen on day one.\n\nAnd the \"Who leads next?\" session is at twelve twenty on day one.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 233,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6562219690531492
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.4848651670617983
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.944105513044633
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.09917079808656126
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.1825113296508789
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.18472391366958618
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.18694347143173218
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.1873091459274292
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.18739545345306396
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.18761706352233887
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.1886730194091797
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.18879878520965576
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.19478344917297363
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "L7kd4HdZ2vFdAsSA37z5",
                        "vector_distance": 0.19509005546569824
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.19603478908538818
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.19636666774749756
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "naUCIRTI3ElsegRdRuiS",
                        "vector_distance": 0.1999748945236206
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "GT5Hqt1vBT0Ln4hj3QRp",
                        "vector_distance": 0.20006239414215088
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What are the timings for the \"The new partner problem: how do you make them stick?\" session on day two and the \"Who leads next?\" session on day one?",
                    "rag_latency_secs": 0.3982595809502527
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 25570,
                          "price": 0.002557
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 45,
                          "price": 0.000018
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "Okay. That's great. Thanks a lot.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 244,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.22245004097931087
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "You're most welcome! I'm really glad I could help you identify some sessions that align with your interests.\n\nBefore we wrap up, is there anything else I can help you with regarding the conference? I'll be sending a summary of our conversation over to your email shortly, which will include the session details we discussed.\n",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 247,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6699136740062386
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.5358201869530603
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.9563161500263959
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.20722694508731365
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "L7kd4HdZ2vFdAsSA37z5",
                        "vector_distance": 0.14489245414733887
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.15021002292633057
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.15192735195159912
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.15282988548278809
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "naUCIRTI3ElsegRdRuiS",
                        "vector_distance": 0.15325677394866943
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.1538405418395996
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jwWKp8n2Ubn8TEIvWxvI",
                        "vector_distance": 0.15398967266082764
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "GT5Hqt1vBT0Ln4hj3QRp",
                        "vector_distance": 0.157257080078125
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "xwrbQ3rB2JSjJvdUYQrp",
                        "vector_distance": 0.15766239166259766
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.15853923559188843
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "Z0SVz3hpO2ak5gaOUaiq",
                        "vector_distance": 0.1589508056640625
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.15982353687286377
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "E0FBKSfWxCL1nlBF10Sq",
                        "vector_distance": 0.16031813621520996
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "jKisZQVD6hmEMCluoRWs",
                        "vector_distance": 0.16205936670303345
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What time are the sessions on lateral partner hires, partner integration, and partner remuneration, and the session on what the next generation of leaders are thinking and why lawyers choose to move firms?",
                    "rag_latency_secs": 0.3753309459425509
                  },
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 25506,
                          "price": 0.0025506000000000005
                        },
                        "input_cache_read": {
                          "tokens": 0,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 69,
                          "price": 0.0000276
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "user",
                  "message": "No, that's great. Thanks a lot, Amy.",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 263,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_asr_trailing_service_latency": {
                        "elapsed_time": 0.1348666180856526
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": "audio"
                },
                {
                  "role": "agent",
                  "message": "It was a pleasure chatting with you! I hope you have a fantastic time at the Alternative Legal Management Summit.\n",
                  "tool_calls": [],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 267,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6291012200526893
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.4345354159595445
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.7666055780136958
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.125448007020168
                      }
                    }
                  },
                  "rag_retrieval_info": {
                    "chunks": [
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "XRb5cljQPZ9q20PYIh5a",
                        "vector_distance": 0.17224687337875366
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "VvmnvKfubUM24PJeI7s8",
                        "vector_distance": 0.17316287755966187
                      },
                      {
                        "document_id": "asdugn4RGhF5gvo638Mz",
                        "chunk_id": "HKnroSF0VeEpMbPw82w6",
                        "vector_distance": 0.17438960075378418
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "LX9yXesUzq1k5jq0UNvK",
                        "vector_distance": 0.17483699321746826
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "b6SBMnpFJKypj6ABVbA1",
                        "vector_distance": 0.17522525787353516
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "zlbdntqlNwzzR92jY6IY",
                        "vector_distance": 0.1754162311553955
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "5kHvAnlo8szVHnibLZIH",
                        "vector_distance": 0.17602109909057617
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "nxgaT0Kr0eJn6Q8HBqOQ",
                        "vector_distance": 0.1768244504928589
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "L7kd4HdZ2vFdAsSA37z5",
                        "vector_distance": 0.18021738529205322
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "dU9sVCgs2yJhSZFBvBBk",
                        "vector_distance": 0.18370842933654785
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "RdygYpt56sS5gD5K0Khz",
                        "vector_distance": 0.18441414833068848
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "tMZYQaQGdjxvvaXyOZwY",
                        "vector_distance": 0.18525958061218262
                      },
                      {
                        "document_id": "RQkrpN05llxbgrARE9x3",
                        "chunk_id": "naUCIRTI3ElsegRdRuiS",
                        "vector_distance": 0.18675494194030762
                      },
                      {
                        "document_id": "KdEQ2F8W4qjzgYIpYR7L",
                        "chunk_id": "culxgK0AZdsdAi8cQPfq",
                        "vector_distance": 0.18852806091308594
                      }
                    ],
                    "embedding_model": "e5_mistral_7b_instruct",
                    "retrieval_query": "What are the times for the \"The new partner problem: how do you make them stick?\" and \"Who leads next?\" sessions on day one?",
                    "rag_latency_secs": 0.3796882290625945
                  },
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "agent",
                  "message": null,
                  "tool_calls": [
                    {
                      "type": "system",
                      "request_id": "end_call_3648a859422746d88ae0f38e424e06e3",
                      "tool_name": "end_call",
                      "params_as_json": "{\"system__message_to_speak\": \"It was a pleasure chatting with you! I hope you have a fantastic time at the Alternative Legal Management Summit.\", \"reason\": \"User has indicated they have no further questions and expressed satisfaction with the information provided. The call is complete.\"}",
                      "tool_has_been_called": true,
                      "tool_details": null
                    }
                  ],
                  "tool_results": [],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 267,
                  "conversation_turn_metrics": {
                    "metrics": {
                      "convai_llm_service_ttf_sentence": {
                        "elapsed_time": 0.6291012200526893
                      },
                      "convai_llm_service_ttfb": {
                        "elapsed_time": 0.4345354159595445
                      },
                      "convai_llm_tool_request_generation_latency": {
                        "elapsed_time": 0.336846994003281
                      },
                      "convai_llm_service_tt_last_sentence": {
                        "elapsed_time": 0.7666055780136958
                      },
                      "convai_tts_service_ttfb": {
                        "elapsed_time": 0.125448007020168
                      }
                    }
                  },
                  "rag_retrieval_info": null,
                  "llm_usage": null,
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                },
                {
                  "role": "agent",
                  "message": null,
                  "tool_calls": [],
                  "tool_results": [
                    {
                      "request_id": "end_call_3648a859422746d88ae0f38e424e06e3",
                      "tool_name": "end_call",
                      "result_value": "{\"result_type\":\"end_call_success\",\"status\":\"success\",\"reason\":\"User has indicated they have no further questions and expressed satisfaction with the information provided. The call is complete.\",\"message\":null}",
                      "is_error": false,
                      "tool_has_been_called": true,
                      "tool_latency_secs": 0.5013742630835623,
                      "dynamic_variable_updates": [],
                      "type": "system",
                      "result": {
                        "result_type": "end_call_success",
                        "status": "success",
                        "reason": "User has indicated they have no further questions and expressed satisfaction with the information provided. The call is complete.",
                        "message": null
                      }
                    }
                  ],
                  "feedback": null,
                  "llm_override": null,
                  "time_in_call_secs": 267,
                  "conversation_turn_metrics": null,
                  "rag_retrieval_info": null,
                  "llm_usage": {
                    "model_usage": {
                      "gemini-2.5-flash-lite": {
                        "input": {
                          "tokens": 13705,
                          "price": 0.0013705
                        },
                        "input_cache_read": {
                          "tokens": 12132,
                          "price": 0
                        },
                        "input_cache_write": {
                          "tokens": 0,
                          "price": 0
                        },
                        "output_total": {
                          "tokens": 77,
                          "price": 0.0000308
                        }
                      }
                    }
                  },
                  "interrupted": false,
                  "original_message": null,
                  "source_medium": null
                }
              ],
              "metadata": {
                "start_time_unix_secs": 1756845572,
                "accepted_time_unix_secs": 1756845572,
                "call_duration_secs": 273,
                "cost": 1170,
                "deletion_settings": {
                  "deletion_time_unix_secs": null,
                  "deleted_logs_at_time_unix_secs": null,
                  "deleted_audio_at_time_unix_secs": null,
                  "deleted_transcript_at_time_unix_secs": null,
                  "delete_transcript_and_pii": false,
                  "delete_audio": false
                },
                "feedback": {
                  "overall_score": null,
                  "likes": 0,
                  "dislikes": 0
                },
                "authorization_method": "authorization_header",
                "charging": {
                  "dev_discount": true,
                  "is_burst": false,
                  "tier": "pro",
                  "llm_usage": {
                    "irreversible_generation": {
                      "model_usage": {
                        "gemini-2.5-flash-lite": {
                          "input": {
                            "tokens": 227409,
                            "price": 0.0227409
                          },
                          "input_cache_read": {
                            "tokens": 24275,
                            "price": 0
                          },
                          "input_cache_write": {
                            "tokens": 0,
                            "price": 0
                          },
                          "output_total": {
                            "tokens": 743,
                            "price": 0.0002972
                          }
                        }
                      }
                    },
                    "initiated_generation": {
                      "model_usage": {
                        "gemini-2.5-flash-lite": {
                          "input": {
                            "tokens": 263273,
                            "price": 0.026327300000000005
                          },
                          "input_cache_read": {
                            "tokens": 24275,
                            "price": 0
                          },
                          "input_cache_write": {
                            "tokens": 0,
                            "price": 0
                          },
                          "output_total": {
                            "tokens": 751,
                            "price": 0.00030040000000000004
                          }
                        }
                      }
                    }
                  },
                  "llm_price": 0.026627700000000004,
                  "llm_charge": 135,
                  "call_charge": 1035
                },
                "phone_call": null,
                "batch_call": null,
                "termination_reason": "end_call tool was called.",
                "error": null,
                "main_language": "en",
                "rag_usage": {
                  "usage_count": 10,
                  "embedding_model": "e5_mistral_7b_instruct"
                },
                "text_only": false,
                "features_usage": {
                  "language_detection": {
                    "enabled": false,
                    "used": false
                  },
                  "transfer_to_agent": {
                    "enabled": false,
                    "used": false
                  },
                  "transfer_to_number": {
                    "enabled": false,
                    "used": false
                  },
                  "multivoice": {
                    "enabled": false,
                    "used": false
                  },
                  "dtmf_tones": {
                    "enabled": false,
                    "used": false
                  },
                  "external_mcp_servers": {
                    "enabled": false,
                    "used": false
                  },
                  "pii_zrm_workspace": false,
                  "pii_zrm_agent": false,
                  "tool_dynamic_variable_updates": {
                    "enabled": false,
                    "used": false
                  },
                  "is_livekit": false,
                  "voicemail_detection": {
                    "enabled": false,
                    "used": false
                  },
                  "workflow": {
                    "enabled": false,
                    "tool_node": {
                      "enabled": false,
                      "used": false
                    }
                  },
                  "agent_testing": {
                    "enabled": false,
                    "tests_ran_after_last_modification": false,
                    "tests_ran_in_last_7_days": false
                  }
                },
                "eleven_assistant": {
                  "is_eleven_assistant": false
                },
                "initiator_id": "1jocLV1YMhbdrLSRX3Me8aWkbRX2",
                "conversation_initiation_source": "react_sdk",
                "conversation_initiation_source_version": "0.5.0",
                "timezone": null
              },
              "analysis": {
                "evaluation_criteria_results": {},
                "data_collection_results": {},
                "call_successful": "success",
                "transcript_summary": "Amy, a conference organiser agent, spoke with a user to understand their interests for the Alternative Legal Management Summit. The user is interested in networking and specific sessions on pricing, private equity interest in mid-market law firms, partner integration, and lateral partner hires. Amy provided details on relevant sessions and their timings. The user confirmed their intent to attend the suggested sessions. Amy will send a summary email.\n",
                "call_summary_title": "Legal Summit Session Info"
              },
              "conversation_initiation_client_data": {
                "conversation_config_override": {
                  "tts": {
                    "voice_id": null,
                    "stability": null,
                    "speed": null,
                    "similarity_boost": null
                  },
                  "conversation": {
                    "text_only": null
                  },
                  "agent": {
                    "first_message": null,
                    "language": null,
                    "prompt": null
                  }
                },
                "custom_llm_extra_body": {},
                "user_id": "1jocLV1YMhbdrLSRX3Me8aWkbRX2",
                "source_info": {
                  "source": "react_sdk",
                  "version": "0.5.0"
                },
                "dynamic_variables": {
                  "system__agent_id": "agent_6201k453mryzer2sk2t184gyhk4g",
                  "system__current_agent_id": "agent_6201k453mryzer2sk2t184gyhk4g",
                  "system__conversation_id": "conv_8701k462g09ce40shz3z1k8pampq",
                  "system__caller_id": null,
                  "system__called_number": null,
                  "system__call_duration_secs": 273,
                  "system__time_utc": "2025-09-02T20:44:05.978243+00:00",
                  "system__time": "Tuesday, 20:44 02 September 2025",
                  "system__timezone": null,
                  "system__call_sid": null
                }
              }
            }
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/ALM-summit-Abbey",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}