leonard-dev-workflows/sandbox-test/qE5EuTjkGawf0bLe-SANDBOX_Test_Leonard_Summary_Testimonial_Short_Pitch_LE_LinkedIn.json
{
  "name": "SANDBOX Test Leonard - Summary, Testimonial, Short Pitch & LE LinkedIn",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "72859313-a9ea-470e-94d2-4ebe872a0f19",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        460
      ],
      "id": "5f767972-e7f1-440e-b824-bbf3f3f67f5d",
      "name": "Webhook",
      "webhookId": "72859313-a9ea-470e-94d2-4ebe872a0f19"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Webhook').item.json.body.user_email }}",
        "additionalFields": {
          "firstName": "={{ $('Webhook').item.json.body.user_name }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        -1122,
        360
      ],
      "id": "c4e68246-4fc3-4816-88bf-55b722ae7fee",
      "name": "HubSpot1",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4ZWRbZ2jFaCFRgGS",
          "name": "HubSpot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:3b774197e8f540238b983f2e1cfa5f0f@thread.v2",
          "mode": "list",
          "cachedResultName": "sandbox-demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A3b774197e8f540238b983f2e1cfa5f0f%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=New demo session completed by {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} - {{ $('Webhook').item.json.body.user_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -1122,
        560
      ],
      "id": "27a7fd3f-6864-4bf7-afb0-6fe458a5ffe3",
      "name": "Microsoft Teams",
      "webhookId": "5e3faf5f-06aa-4940-9faa-f9e7eacdceef",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account - Andy"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1420,
        460
      ],
      "id": "6b5b6c9c-0ca1-4777-9158-a432c469b952",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f722f206-a5d8-479d-b4cd-30d0fced2c0f",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        768,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0eb12f89-7f48-420b-816c-164ed6570474",
      "name": "OpenAI Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -736,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "61967154-a40f-457b-a8d0-3fe53999881e",
      "name": "OpenAI Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -360,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Short form pitch credential\nPrompt: Using the same details, and writing as an expert in business development, sales and pitching for UK law firms and professional services in a B2B environment, please write me a version of a credential that can be used in future pitches. This needs to be a two sentence (max 50 words) description of the matter in the form \"[user name] advised client name on [matter summary]\". Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "6f43bd2a-0396-4745-ab08-07e66dc48425",
      "name": "AI Agent - Short Pitch",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -840,
        1420
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji 🚀 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket 🚀  emojis in your post, if there are, delete them before concluding the post.",
        "options": {
          "systemMessage": "=LinkedIn Post\nPrompt: Writing as an expert in UK viral marketing and the latest social media trends within professional services, draft a viral LinkedIn Post of no more than 100 words, to be shared by [user name] with the world on their personal LinkedIn account to say that they have tested this revolutionary new AI Agent called \"Leonard\" from \"Legal Engine\", who can help to take the pain out of creating matter descriptions for pitches and directory submissions, by harnessing the power of voice and AI. The aim is to highlight to fellow lawyers that this legal marketing tech saves massive amounts of time and hassle and that they should try it asap. People should visit https://demo.legalengine.co.uk to try it out. Feel free to be creative as this is all about making Leonard viral however limit to a maximum of 2 emojis per post. DO NOT use the Rocket emoji 🚀 . Hashtags welcome, expecially #LegalEngine. On completion, check your post to make sure there are NO Rocket 🚀  emojis in your post, if there are, delete them before concluding the post."
        }
      },
      "id": "ad9fd653-4acc-4a83-8231-bdddf144f5ce",
      "name": "AI Agent - L/E LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        1420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "480243e5-e33e-452b-9e3d-8ec172aae5c0",
      "name": "OpenAI Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1112,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n",
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n"
        }
      },
      "id": "33e5c72e-5a06-4ba7-8d13-24205bca6f6a",
      "name": "AI Agent - Re-write Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1200,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract structured and reliable data about lawyers and their law firms using only public and reputable sources such as Chambers and Partners, Legal 500, law firm websites, news articles, and professional networks. Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays) for that field. Do not return null, blank values, or empty arrays. Always populate the full structure exactly as provided below.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following individual:\\n\\n- Full Name:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- Email: {{ $json.email }}\\n- Company Domain: {{ $json.domain }}\\n\\nReturn a JSON object with the following structure and fallback values:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n  \\\"relevantExperience\\\": [], // Array of 5 major deals/cases or client work summaries for corporate clients\\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 major deals/cases or client work summaries for individuals\\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 areas of Expertise in terms of Sectors \\\"] or [\\\"no info\\\"],\\n  \\\"relevantExperience\\\": [], // Array of 5 areas of Expertise in terms of Services \\\"] or [\\\"no info\\\"],\\n  \\\"publicationsAndInsights\\\": [\\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"newsAndClientWork\\\": [\\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"rankings\\\": {\\n    \\\"chambers\\\": {\\n      \\\"ranking\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\",\\n      \\\"area\\\": \\\"string or 'no info'\\\"\\n    },\\n    \\\"legal500\\\": {\\n      \\\"ranking\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\",\\n      \\\"area\\\": \\\"string or 'no info'\\\"\\n    }\\n  },\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\"\\n}\\n\\nReturn only the JSON object as raw output. No extra explanation, no Markdown formatting, and no commentary.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "id": "9c612d0b-9056-4205-ac5d-4a914e338aec",
      "name": "Perplexity Firm Research1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -370,
        360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appnbpO20uWlcjTf5",
          "mode": "list",
          "cachedResultName": "Legal Document Automation",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5"
        },
        "table": {
          "__rl": true,
          "value": "tblDHEJ8x23wFU8m4",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appnbpO20uWlcjTf5/tblDHEJ8x23wFU8m4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Split Out Email').item.json.fullName }}",
            "Company Name": "={{ $json.actualCompanyName }}",
            "Address": "={{ $json.location }}",
            "Contact Email": "={{ $('Split Out Email').item.json.email }}",
            "Practice Area": "={{ $json.practiceArea }}",
            "LinkedIn Profile": "={{ $json.bio }}",
            "Chambers Ranking": "={{ $json.rankings.chambers.ranking }}",
            "Legal 500 Ranking": "={{ $json.rankings.legal500.ranking }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Full Name (PP Search)": "={{ $json.fullName }}",
            "Date Joined": "={{ $('Date Format').item.json.formattedDate }}",
            "Phone Number": "={{ $json.telephone }}",
            "Relevant Experience Clients 1": "={{ $json.relevantExperience[0] }}",
            "Relevant Experience Indiv 1": "={{ $json.relevantExperienceIndividuals[0] }}",
            "Expertese Sectors 1": "={{ $json.relevantExperienceSectors[0] }}",
            "Expertese Sectors 2": "={{ $json.relevantExperienceSectors[1] }}",
            "Expertese Sectors 3": "={{ $json.relevantExperienceSectors[2] }}",
            "Expertese Sectors 5": "={{ $json.relevantExperienceSectors[4] }}",
            "Expertese Sercices 1": "={{ $json.relevantExperienceServices[0] }}",
            "Expertese Sercices 3": "={{ $json.relevantExperienceServices[2] }}",
            "Expertese Sercices 4": "={{ $json.relevantExperienceServices[3] }}",
            "Relevant Experience Indiv 2": "={{ $json.relevantExperienceIndividuals[1] }}",
            "Relevant Experience Clients 2": "={{ $json.relevantExperience[1] }}",
            "Relevant Experience Clients 3": "={{ $json.relevantExperience[2] }}",
            "Relevant Experience Clients 4": "={{ $json.relevantExperience[3] }}",
            "Relevant Experience Clients 5": "={{ $json.relevantExperience[4] }}",
            "Relevant Experience Indiv 3": "={{ $json.relevantExperienceIndividuals[2] }}",
            "Relevant Experience Indiv 4": "={{ $json.relevantExperienceIndividuals[3] }}",
            "Relevant Experience Indiv 5": "={{ $json.relevantExperienceIndividuals[4] }}",
            "Expertese Sercices 2": "={{ $json.relevantExperienceServices[1] }}",
            "Expertese Sercices 5": "={{ $json.relevantExperienceServices[4] }}",
            "Expertese Sectors 4": "={{ $json.relevantExperienceSectors[3] }}",
            "Publications and Insight 1": "={{ $json.publicationsAndInsights[0] }}",
            "Publications and Insight 2": "={{ $json.publicationsAndInsights[1] }}",
            "News and Client Work 1": "={{ $json.newsAndClientWork[0] }}",
            "News and Client Work 2": "={{ $json.newsAndClientWork[1] }}",
            "Award 1": "={{ $json.awards[0] }}",
            "Award 2": "={{ $json.awards[1] }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Contact Method",
              "displayName": "Preferred Contact Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Phone",
                  "value": "Phone"
                },
                {
                  "name": "Mail",
                  "value": "Mail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Associated Documents",
              "displayName": "Associated Documents",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile Picture",
              "displayName": "Profile Picture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Joined",
              "displayName": "Date Joined",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account Status",
              "displayName": "Account Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Inactive",
                  "value": "Inactive"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Matters",
              "displayName": "Matters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Practice Area",
              "displayName": "Practice Area",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile",
              "displayName": "LinkedIn Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 1",
              "displayName": "Relevant Experience Clients 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 2",
              "displayName": "Relevant Experience Clients 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 3",
              "displayName": "Relevant Experience Clients 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 4",
              "displayName": "Relevant Experience Clients 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Clients 5",
              "displayName": "Relevant Experience Clients 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 1",
              "displayName": "Relevant Experience Indiv 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 2",
              "displayName": "Relevant Experience Indiv 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 3",
              "displayName": "Relevant Experience Indiv 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 4",
              "displayName": "Relevant Experience Indiv 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relevant Experience Indiv 5",
              "displayName": "Relevant Experience Indiv 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publications and Insight 1",
              "displayName": "Publications and Insight 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publications and Insight 2",
              "displayName": "Publications and Insight 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News and Client Work 1",
              "displayName": "News and Client Work 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News and Client Work 2",
              "displayName": "News and Client Work 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Legal 500 Ranking",
              "displayName": "Legal 500 Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chambers Ranking",
              "displayName": "Chambers Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name (PP Search)",
              "displayName": "Full Name (PP Search)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 1",
              "displayName": "Expertese Sectors 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 2",
              "displayName": "Expertese Sectors 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 3",
              "displayName": "Expertese Sectors 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 4",
              "displayName": "Expertese Sectors 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sectors 5",
              "displayName": "Expertese Sectors 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 1",
              "displayName": "Expertese Sercices 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 2",
              "displayName": "Expertese Sercices 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 3",
              "displayName": "Expertese Sercices 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 4",
              "displayName": "Expertese Sercices 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expertese Sercices 5",
              "displayName": "Expertese Sercices 5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Award 1",
              "displayName": "Award 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Award 2",
              "displayName": "Award 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        382,
        360
      ],
      "id": "8514f74b-38b4-45b4-bb94-ae62443cfb86",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "LVF892xkQD72QD7v",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inputDate = new Date($input.first().json.currentDate); // replace with actual field name\n\nconst formattedDate = `${inputDate.getMonth() + 1}/${inputDate.getDate()}/${inputDate.getFullYear()}`;\n\nreturn [\n  {\n    json: {\n      formattedDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1122,
        160
      ],
      "id": "f38f8279-c71e-4adf-9527-8e8ca7e26d8a",
      "name": "Date Format",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const email = $('Webhook').first().json.body.user_email.trim().toLowerCase();\nconst [fullNamePart, domain] = email.split(\"@\");\n\nfunction capitalize(str) {\n  return str.charAt(0).toUpperCase() + str.slice(1);\n}\n\n// Extract names\nlet [firstName, lastName] = fullNamePart.split(/[._]/); // supports \"john.doe\" or \"john_doe\"\nfirstName = capitalize(firstName || \"\");\nlastName = lastName ? capitalize(lastName) : \"\";\nconst fullName = lastName ? `${firstName} ${lastName}` : firstName;\n\n// Extract company from domain\nconst publicSuffixes = ['co.uk', 'org.uk', 'ac.uk', 'gov.uk', 'com.au', 'com.br', 'co.in'];\nlet company = \"\";\n\nconst domainParts = domain.split(\".\");\nconst domainSuffix = domainParts.slice(-2).join(\".\");\nconst isTwoPartSuffix = publicSuffixes.includes(domainSuffix);\n\nif (isTwoPartSuffix && domainParts.length > 2) {\n  company = domainParts[domainParts.length - 3];\n} else if (domainParts.length > 1) {\n  company = domainParts[domainParts.length - 2];\n} else {\n  company = domainParts[0];\n}\n\ncompany = capitalize(company);\n\nreturn [\n  {\n    json: {\n      email,\n      firstName,\n      lastName,\n      fullName,\n      domain,\n      company,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -746,
        160
      ],
      "id": "41e16864-0a6d-4aa2-8aec-b7e4e3363e0a",
      "name": "Split Out Email",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices[0].message.content;\n\n// Clean the Markdown formatting\ncontent = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\n\n// Try parsing the content safely\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { message: \"No info found\" };\n}\n\n// Check if all values in the expected structure are null, empty arrays, or empty strings\nconst hasUsefulData = Object.values(parsed).some(value => {\n  if (value === null || value === \"\" || (Array.isArray(value) && value.length === 0)) return false;\n  if (typeof value === \"object\" && !Array.isArray(value)) {\n    // Check nested objects (like `rankings`)\n    return Object.values(value).some(sub => {\n      if (typeof sub === \"object\") {\n        return Object.values(sub).some(v => v !== null && v !== \"\");\n      }\n      return sub !== null && sub !== \"\";\n    });\n  }\n  return true;\n});\n\nif (!hasUsefulData) {\n  parsed = { message: \"No info found\" };\n}\n\n// Return a single flat object instead of an array\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6,
        360
      ],
      "id": "74749255-78f8-4b67-8af5-86aa1414ae5a",
      "name": "PP Flattening",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let content = $json.choices[0].message.content;\n\n// Clean the Markdown formatting\ncontent = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\n\n// Try parsing the content safely\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { message: \"No info found\" };\n}\n\n// Check if all values in the expected structure are null, empty arrays, or empty strings\nconst hasUsefulData = Object.values(parsed).some(value => {\n  if (value === null || value === \"\" || (Array.isArray(value) && value.length === 0)) return false;\n  if (typeof value === \"object\" && !Array.isArray(value)) {\n    // Check nested objects (like `rankings`)\n    return Object.values(value).some(sub => {\n      if (typeof sub === \"object\") {\n        return Object.values(sub).some(v => v !== null && v !== \"\");\n      }\n      return sub !== null && sub !== \"\";\n    });\n  }\n  return true;\n});\n\nif (!hasUsefulData) {\n  parsed = { message: \"No info found\" };\n}\n\n// Return a single flat object instead of an array\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6,
        160
      ],
      "id": "fe48f7f6-7249-41c3-b1b4-9da9f2ab4c85",
      "name": "PP Flattening1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract structured and reliable data about lawyers and their law firms using only public and reputable sources such as Chambers and Partners (https://chambers.com/lawyer/). Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays). Do not return null, blank values, or empty arrays. Populate the full structure exactly as provided below.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research the following individual:\\n\\n- Full Name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- Email: {{ $json.email }}\\n- Company Domain: {{ $json.domain }}\\n\\nReturn a JSON object with the following structure:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"email\\\": \\\"string or 'no info'\\\",\\n  \\\"website\\\": \\\"string or 'no info'\\\",\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\",\\n\\n  \\\"practiceAreas\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"quantity of practice areas ranked\\\": \\\"number as string or 'no info'\\\",\\n  \\\"rankingsByPracticeArea\\\": [\\n    {\\n      \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n      \\\"band\\\": \\\"string or 'no info'\\\",\\n      \\\"region\\\": \\\"string or 'no info'\\\",\\n      \\\"country\\\": \\\"string or 'no info'\\\",\\n      \\\"yearsRanked\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"rankedInGuides\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"career\\\": [\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\"\\n  ] or [\\\"no info\\\"],\\n  \\\"expertiseSectors\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"expertiseServices\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"Client Testimonials\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"chambers Review provided by chambers\\\": {\\n    \\\"editorialSummary\\\": \\\"string or 'no info'\\\",\\n    \\\"strengths provided by chambers\\\": [\\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"]\\n  },\\n\\n  \\\"Other lawyers at firm provided by chambers\\\": [\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"\\n  ] or [\\\"no info\\\"]\\n}\\n\\nReturn only the JSON object as raw output. Do not include Markdown formatting, code fences, or any extra explanation.\"\n    }\n  ],\n  \"max_tokens\": 3000,\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "id": "769d7dbc-c893-4dad-988a-bdc5305c188a",
      "name": "Perplexity Chambers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -370,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:3b774197e8f540238b983f2e1cfa5f0f@thread.v2",
          "mode": "list",
          "cachedResultName": "sandbox-demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A3b774197e8f540238b983f2e1cfa5f0f%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=DEMO - AirTable updated for {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}: <br><br>\n\n- {{ $json.fields['Client Name'] }} <br>\n- {{ $json.fields['Job Title'] }}<br>\n- {{ $('Webhook').item.json.body.user_email }}<br>\n- {{ $json.fields['Company Name'] }}<br>\n- {{ $json.fields['Practice Area'] }}<br>\n- {{ $json.fields['LinkedIn Profile'] }}<br>\n- Relevent Experience: <br>{{ $json.fields['Relevant Experience Clients 1'] }}, <br>{{ $json.fields['Relevant Experience Clients 2'] }},<br> {{ $json.fields['Relevant Experience Clients 4'] }}, <br>{{ $json.fields['Relevant Experience Clients 5'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        758,
        360
      ],
      "id": "14c356cc-c25c-4a8d-b9f8-f14ba484b551",
      "name": "Microsoft Teams1",
      "webhookId": "271428c3-402d-4054-b1ee-95547dd5eeb0",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account - Andy"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4\",   // or \"gpt-4-turbo\" or \"claude-3-opus\"\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert legal researcher. Your task is to extract detailed and structured data about UK lawyers and their law firms. Focus especially on extracting notable matter descriptions (including high-value or landmark cases) from reputable public sources like Chambers and Partners, Legal 500, Lexology, and Law.com. Prioritise Chambers entries. Always return raw JSON (no Markdown, no backticks), with every field filled out. If a value is not publicly available or cannot be found, return the string 'no info' (or ['no info'] for arrays). Do not return null, blank values, or empty arrays.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Search the following query:{{ $json.searchQueries }}\\n\\n\\n\\nTargeted lawyer:\\n- Full Name:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} \\n- Email: {{ $('Split Out Email').item.json.email }}\\n- Company Domain: {{ $('Split Out Email').item.json.domain }}\\n\\nReturn a JSON object with the following structure:\\n\\n{\\n  \\\"fullName\\\": \\\"string or 'no info'\\\",\\n  \\\"actualCompanyName\\\": \\\"string or 'no info'\\\",\\n  \\\"contactphonenumber\\\": \\\"string or 'no info'\\\",\\n  \\\"jobTitle\\\": \\\"string or 'no info'\\\",\\n  \\\"telephone\\\": \\\"string or 'no info'\\\",\\n  \\\"location\\\": \\\"string or 'no info'\\\",\\n  \\\"email\\\": \\\"string or 'no info'\\\",\\n  \\\"website\\\": \\\"string or 'no info'\\\",\\n  \\\"linkedinProfile\\\": \\\"string or 'no info'\\\",\\n  \\\"bio\\\": \\\"string or 'no info'\\\",\\n\\n  \\\"practiceAreas\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"quantity of practice areas ranked\\\": \\\"number as string or 'no info'\\\",\\n  \\\"rankingsByPracticeArea\\\": [\\n    {\\n      \\\"practiceArea\\\": \\\"string or 'no info'\\\",\\n      \\\"band\\\": \\\"string or 'no info'\\\",\\n      \\\"region\\\": \\\"string or 'no info'\\\",\\n      \\\"country\\\": \\\"string or 'no info'\\\",\\n      \\\"yearsRanked\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"rankedInGuides\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"career\\\": [\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\",\\n    \\\"string\\\"\\n  ] or [\\\"no info\\\"],\\n  \\\"expertiseSectors\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"expertiseServices\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"professionalBodies\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"Client Testimonials\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"awards\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n  \\\"qualifications\\\": [\\\"string\\\"] or [\\\"no info\\\"],\\n\\n  \\\"notableMatters\\\": [\\n    {\\n      \\\"title\\\": \\\"string or 'no info'\\\",\\n      \\\"description\\\": \\\"string or 'no info'\\\",\\n      \\\"value\\\": \\\"string or 'no info'\\\",\\n      \\\"jurisdiction\\\": \\\"string or 'no info'\\\",\\n      \\\"year\\\": \\\"string or 'no info'\\\"\\n    }\\n  ] or [\\\"no info\\\"],\\n\\n  \\\"chambers Review provided by chambers\\\": {\\n    \\\"editorialSummary\\\": \\\"string or 'no info'\\\",\\n    \\\"strengths provided by chambers\\\": [\\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"] or [\\\"no info\\\"]\\n  },\\n\\n  \\\"Other lawyers at firm provided by chambers\\\": [\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\",\\n    \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\", \\\"string\\\"\\n  ] or [\\\"no info\\\"]\\n}\\n\\nReturn only the JSON object.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "8e8d3bae-b013-417c-9eb7-ea4ec63c841d",
      "name": "Perplexity Chambers1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -370,
        -40
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n\n  \"prompt\": \"Writing as an expert in business development, sales, and pitching for UK law firms and professional services in a B2B environment, draft a short email to the client from the stated [user name], using the matter summary. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\\n\\n1. Thank them for the opportunity to work on such a great matter.\\n2. Ask for feedback on the service and outcome.\\n3. Ask whether they would be willing to provide a client testimonial on the work performed, explaining that the testimonial may be used on the corporate website and in future marketing materials.\\n4. Provide two different example client testimonials that could be used, based on the matter summary.\\n\\nINPUTS:\\n- Summary of the matter: {{ $('Webhook').item.json.body.summary }}\\n- User's full name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- User's email: {{ $('Webhook').item.json.body.user_email }}\\n- User's company or law firm: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\\n- Date and time: {{ $now }}\\n- Call transcript: {{ $('Webhook').item.json.body.transcript }}\\n\\nOUTPUT:\\nProvide the output as raw HTML that can be directly embedded into an HTML email.\\nDo not include any Markdown formatting, code fences, or triple backticks.\\nReturn only the HTML — no explanations, no notes, and no additional text.\" \n\n}\n\n",
        "options": {
          "systemMessage": "={\n\n  \"prompt\": \"Writing as an expert in business development, sales, and pitching for UK law firms and professional services in a B2B environment, draft a short email to the client from the stated [user name], using the matter summary. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\\n\\n1. Thank them for the opportunity to work on such a great matter.\\n2. Ask for feedback on the service and outcome.\\n3. Ask whether they would be willing to provide a client testimonial on the work performed, explaining that the testimonial may be used on the corporate website and in future marketing materials.\\n4. Provide two different example client testimonials that could be used, based on the matter summary.\\n\\nINPUTS:\\n- Summary of the matter: {{ $('Webhook').item.json.body.summary }}\\n- User's full name: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\\n- User's email: {{ $('Webhook').item.json.body.user_email }}\\n- User's company or law firm: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\\n- Date and time: {{ $now }}\\n- Call transcript: {{ $('Webhook').item.json.body.transcript }}\\n\\nOUTPUT:\\nProvide the output as raw HTML that can be directly embedded into an HTML email.\\nDo not include any Markdown formatting, code fences, or triple backticks.\\nReturn only the HTML — no explanations, no notes, and no additional text.\" \n\n}\n\n"
        }
      },
      "id": "397a8f50-87a6-4375-bada-da008390ae05",
      "name": "AI Agent Testimonial HTML",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        1420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "282e9c41-ebde-4417-b1be-0361d2ee8e56",
      "name": "OpenAI Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ced8a5eb-c3a5-4ab9-a64a-98410250cda2",
      "name": "OpenAI Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        392,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website profile: \nPrompt: Using the same details, writing as a expert copywriter, and using best practice for UK legal websites, please write me a two sentence summary of the matter for my corporate profile. The format of the entry should read [individual / firm name] advised [client name] on [matter summary]. Highlight in particular the role that the individual played. Make sure it acts as a great business development tool to win future work. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. \n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "2c0656f4-3a51-41a8-940b-3819e031fab2",
      "name": "AI Agent - Website Profile",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -180,
        1420
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}",
        "options": {
          "systemMessage": "=Website case study\nPrompt: Writing as a expert copywriter, and using best practice for UK legal websites, please write me a 150 word posting to appear on my law firm's website as a demonstration of our expertise in this area of law. This should be written in the third person with no header or title. Make sure it acts as a great business development tool to win future work. A recommended format is to identify the problem, highlight the solution we provided and the outcome that was achieved. Do not include any final sentences such as \"Trust us to\" or \"Contact us to\" etc. Ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer.\n\n\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}"
        }
      },
      "id": "2b95d757-0637-4bf4-908a-49bbb9f02e34",
      "name": "AI Agent - Website case study",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        140,
        1420
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}, lee@legalengine.co.uk",
        "subject": "=Legal Engine assets update for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do?</p>\n      <p>As promised, here’s a summary of our conversation:</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $('AI Agent - Re-write Summary').item.json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I’ve converted our chat into <b>a few additional marketing assets below.</b></p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n\n\n   <!-- WEBSITE BIO -->\n    <div class=\"section\">\n<br><br><h1>Additional marketing assets</h1>\n     <h2>Website Profile</h2>\n    <p>{{ $('AI Agent - Website Profile').item.json.output }}</p>\n    </div>   \n\n<!-- WEBSITE UPDATE -->\n    <div class=\"section\">\n      <h2>Website case study</h2>\n    <p>{{ $('AI Agent - Website case study').item.json.output }}</p>\n    </div>\n\n<!-- SHORT PITCH -->\n    <div class=\"section\">\n      <h2>Short pitch credential</h2>\n    <p>{{ $('AI Agent - Short Pitch').item.json.output }}</p>\n    </div>\n\n    <!-- LINKEDIN POST INTRO -->\n    <div class=\"section\">\n      <p><b>Bonus:</b> if you enjoyed our conversation, I'd really appreciate your help in spreading the word amongst your network and have drafted something below you can post. Tag <b>@LegalEngine</b> when you share and I’ll top up your free Leonard credits.</p>\n    </div>\n\n    <!-- LINKEDIN POST -->\n    <div class=\"section\">\n      <h2>LinkedIn Post&nbsp;&nbsp;•&nbsp;&nbsp;#LeonardAI</h2>\n      <p>{{ $('AI Agent - L/E LinkedIn').item.json.output }}</p>\n    </div>\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.body.user_email }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1056,
        860
      ],
      "id": "b029c481-539e-4aac-a122-e2ecfe8aeb9e",
      "name": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
      "webhookId": "25a72bf4-d516-498b-ba49-3b211f6b0d03",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook1').item.json.body.user_email }}",
        "subject": "=Fladgate pilot. Legal Engine assets for {{ $('Webhook1').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook1').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do? Any feedback you have on the interaction would be greatly appreciated. You can reply to me directly and/or speak with your BD colleagues.</p>\n      <p>As promised, below is a summary of our conversation. We're now processing the information and converting our discussion into a submission ready template which we will send across once complete.</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $('AI Agent - Re-write Summary1').item.json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I’ve converted our chat into <b>a few additional marketing assets below.</b></p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n\n\n   <!-- WEBSITE BIO -->\n    <div class=\"section\">\n<br><br><h1>Additional marketing assets</h1>\n     <h2>Website Profile</h2>\n    <p>{{ $('AI Agent - Website Profile1').item.json.output }}</p>\n    </div>   \n\n<!-- WEBSITE UPDATE -->\n    <div class=\"section\">\n      <h2>Website case study</h2>\n    <p>{{ $('AI Agent - Website case study1').item.json.output }}</p>\n    </div>\n\n<!-- SHORT PITCH -->\n    <div class=\"section\">\n      <h2>Short pitch credential</h2>\n    <p>{{ $('AI Agent - Short Pitch1').item.json.output }}</p>\n    </div>\n\n    <!-- LINKEDIN POST INTRO -->\n    <div class=\"section\">\n      <p><b>Bonus:</b> if you enjoyed our conversation, I'd really appreciate your help in spreading the word amongst your network and have drafted something below you can post. Tag <b>@LegalEngine</b> when you share and I’ll top up your free Leonard credits.</p>\n    </div>\n\n    <!-- LINKEDIN POST -->\n    <div class=\"section\">\n      <h2>LinkedIn Post&nbsp;&nbsp;•&nbsp;&nbsp;#LeonardAI</h2>\n      <p>{{ $('AI Agent - L/E LinkedIn1').item.json.output }}</p>\n    </div>\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook1').item.json.body.user_email }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1060,
        1080
      ],
      "id": "cc26ed43-bf2a-4364-9653-8ec2a14effb8",
      "name": "HTML Email from Leonard to Lawyer1",
      "webhookId": "d7901323-e2b5-4a3e-adb9-6f83bf8b799f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "=Fladgate pilot. Legal Engine Matter Summary for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do? Any feedback you have on the interaction would be greatly appreciated. You can reply to me directly and/or speak with your BD colleagues.</p>\n      <p>As promised, below is a summary of our conversation. We're now processing the information and converting our discussion into a submission ready template which we will send across once complete.</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I’ll shortly be sending you <b>a few additional marketing assets </b> so look out for a follow up email in your inbox. </p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.webhookUrl }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -840,
        860
      ],
      "id": "5bb850cb-c6da-4e09-934c-ec7445035e79",
      "name": "HTML Email from Leonard to Lawyer",
      "webhookId": "d7901323-e2b5-4a3e-adb9-6f83bf8b799f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "=Fladgate pilot. Additional marketing and BD assets for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine • Your Additional BD Assets</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n    <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>I've been busy in the background since we spoke and, as promised in the matter summary email, below are a series of marketing and BD assets based on our conversation.</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>Hopefully these bespoke assets give you a flavour of what else I can do on the back of a single conversation!</p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we’re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a><br><br>\n  </p>\n</div>\n\n<!-- TESTIMONIAL -->\n    <div class=\"section\">\n      <h2>Client Testimonial Example</h2>\n    <p>{{ $json.output }}</p>\n    </div>\n\n   <!-- WEBSITE BIO -->\n    <div class=\"section\">\n     <h2>Website Profile</h2>\n    <p>{{ $('AI Agent - Website Profile').item.json.output }}</p>\n    </div>   \n\n<!-- WEBSITE UPDATE -->\n    <div class=\"section\">\n      <h2>Website case study</h2>\n    <p>{{ $('AI Agent - Website case study').item.json.output }}</p>\n    </div>\n\n<!-- SHORT PITCH -->\n    <div class=\"section\">\n      <h2>Short pitch credential</h2>\n    <p>{{ $('AI Agent - Short Pitch').item.json.output }}</p>\n    </div>\n\n    <!-- LINKEDIN POST INTRO -->\n    <div class=\"section\">\n       <h2>Bonus</h2>\n      <p>If you enjoyed our conversation, I'd really appreciate your help in spreading the word amongst your network and have drafted something below you can post. Tag <b>@LegalEngine</b> when you share and I’ll top up your free Leonard credits.</p>\n    </div>\n\n    <!-- LINKEDIN POST -->\n    <div class=\"section\">\n      <h2>LinkedIn Post&nbsp;&nbsp;•&nbsp;&nbsp;#LeonardAI</h2>\n      <p>{{ $('AI Agent - L/E LinkedIn').item.json.output }}</p>\n    </div>\n\n\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.webhookUrl }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1240,
        1480
      ],
      "id": "31c9f668-7b1a-4749-a51e-9fba60c56bfd",
      "name": "HTML Email from Leonard to Lawyer2",
      "webhookId": "d7901323-e2b5-4a3e-adb9-6f83bf8b799f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1060,
        1500
      ],
      "id": "9b4d86bd-12f5-4b09-9ff4-e9a6ec621f60",
      "name": "Wait",
      "webhookId": "5a77db7a-2b1c-4665-ac5c-4649ef88c08a"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent - Re-write Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Testimonial HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Re-write Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Short Pitch": {
      "main": [
        [
          {
            "node": "AI Agent - L/E LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - L/E LinkedIn": {
      "main": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Re-write Summary": {
      "main": [
        [
          {
            "node": "AI Agent - Short Pitch",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Email from Leonard to Lawyer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Firm Research1": {
      "main": [
        [
          {
            "node": "PP Flattening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format": {
      "main": [
        [
          {
            "node": "Split Out Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Email": {
      "main": [
        [
          {
            "node": "Perplexity Firm Research1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Chambers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Chambers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PP Flattening": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PP Flattening1": {
      "main": [
        []
      ]
    },
    "Perplexity Chambers": {
      "main": [
        [
          {
            "node": "PP Flattening1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Microsoft Teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Testimonial HTML": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard with MS, WP, WCS, SP & LI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Email from Leonard to Lawyer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website Profile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website Profile": {
      "main": [
        [
          {
            "node": "AI Agent - Website case study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Website case study": {
      "main": [
        [
          {
            "node": "AI Agent Testimonial HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Email from Leonard to Lawyer2": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard to Lawyer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "5727",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9593fa84078d1404-ORD",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47, 172.70.127.159",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-kmrgc",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "transcript": "Lee: Sounds great. Thanks, Leonard.\nLeonard: That's wonderful to hear. Just to confirm, a copy will also be sent to Leonard who requested this information. I can see you've been working on several interesting matters recently, including the Sheikha Aisha Al Thani, Sheikha Al-Anoud Al Thani and Sa'ad Al-Dehaimi matter, and the Qvale matter. Which specific case would you like to discuss today?\nLee: Can we discuss something different?\nLeonard: Of course, we can discuss something different. Please share who the client was and describe the matter in your own words.\nLee: So a matter related to acquisition of a plot of land by SPC, Property Development Limited, that plot of land was contentious because it was in the greenbelt and so there were quite a few hurdles from a legislation and environmental perspective to get over.\nLeonard: That's interesting. So, SPC, Property Development Limited acquired a contentious greenbelt plot, facing significant legislative and environmental hurdles. Good insight. Why did the client come to you for this matter, and what was the outcome for them?\nLee: So the point came to us because we'd worked with them on previous land planning applications and so they knew that our team could deliver and the outcome for the client was a successful planning application for development of a, well future development of a nursing home.\nLeonard: Good. So, given this was a successful planning application for the future development of a nursing home, what was the deal size or transaction value, and were there any notable cost savings or revenue implications for the client?\nLee: Yeah, so they're looking to sell the plot on to a developer for a two hundred and eighty bed nursing home. I think the consideration will be somewhere in the region of £6 million for the land. And so yeah, from a revenue perspective, that's good for our client.\nLeonard: Right. So the consideration for the land is around six million pounds, which is a good revenue for your client. Now, what role did you play in this matter?\nLee: Well, I was the lead planning partner on the matter\nLeonard: Now, about who led the matter, if it wasn't you, who else was involved in leading it?\nLee: Haven't I just told you that Leonard?\nLeonard: My apologies. You did indeed tell me you were the lead planning partner on the matter. Thank you for clarifying.\n\nNow, who were the other key team members involved and what were their roles?\nLee: Um, it was actually just me. A reasonably straightforward transaction.\nLeonard: Right. So it was just you on this straightforward transaction.\n\nNow, what was the main jurisdiction for this matter, and were any other jurisdictions involved?\nLee: It was just the UK. No other jurisdictions.\nLeonard: Now, about other firms. Did you work with any other firms on this matter, and if so, what role did those firms play?\nLee: Yeah we were opposite of Flatgate LLP, no sorry we are Flatgate LLP my mistake London. We were opposite a firm called Crips and they were acting for the sellers on the transaction\nLeonard: Right, so Crips were acting for the sellers on the transaction.\n\nNow, was there anything noteworthy about this matter, such as something innovative, precedent-setting, or that impacted regulations or ESG?\nLee: No.\nLeonard: Now, about the current status of the matter. What is it, and if completed, when did it finish?\nLee: So it's, as I mentioned earlier, successfully completed. We got the planning applications through last, well no, actually May two thousand and twenty-five.\nLeonard: Right, so it successfully completed in May two thousand and twenty-five.\n\nNow, was there any press coverage or awards related to the matter?\nLee: No.\nLeonard: Thank you for sharing all those details. Here's a summary of the matter as I understand it:\n\nThis matter involved SPC Property Development Limited's acquisition of a contentious greenbelt plot in the UK, which presented significant legislative and environmental hurdles. The client sought your expertise due to your previous successful collaborations on land planning applications. The outcome was a successful planning application for the future development of a two hundred and eighty bed nursing home, with the land expected to be sold to a developer for approximately six million pounds, representing a good revenue for your client. You were the lead planning partner on this straightforward transaction, and Crips acted for the sellers. The matter successfully completed in May two thousand and twenty-five, and there was nothing particularly noteworthy about it, nor any press coverage or awards.\n\nDoes that summary sound accurate, or would you like to correct anything?\nLee: No that's accurate, thanks a lot Lawrence.",
            "user_email": "lee@legalengine.co.uk",
            "bd_email": "leonard@legalengine.co.uk",
            "summary": "This matter involved SPC Property Development Limited's acquisition of a contentious greenbelt plot in the UK, which presented significant legislative and environmental hurdles. The client sought your expertise due to your previous successful collaborations on land planning applications. The outcome was a successful planning application for the future development of a two hundred and eighty bed nursing home, with the land expected to be sold to a developer for approximately six million pounds, representing a good revenue for your client. You were the lead planning partner on this straightforward transaction, and Crips acted for the sellers. The matter successfully completed in May two thousand and twenty-five, and there was nothing particularly noteworthy about it, nor any press coverage or awards.",
            "first_name": "Lee",
            "last_name": "Curtis"
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/testdemo-fladgate",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}