leonard-dev-workflows/sandbox-test/Xo1gNGj4u7ndbqc8-SANDBOX_Test_Leonard_Summary_Testimonial_Short_Pitch_LE_LinkedIn_copy_copy_copy.json
{
  "name": "SANDBOX Test Leonard - Summary, Testimonial, Short Pitch & LE LinkedIn copy copy copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a316763-3590-4871-9add-7ddd98abd481",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 201
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        460
      ],
      "id": "c3952cdb-6f60-470c-be45-f1c9ccdbebcd",
      "name": "Webhook",
      "webhookId": "6a316763-3590-4871-9add-7ddd98abd481"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:3b774197e8f540238b983f2e1cfa5f0f@thread.v2",
          "mode": "list",
          "cachedResultName": "sandbox-demo.legalengine.co.uk (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A3b774197e8f540238b983f2e1cfa5f0f%40thread.v2/0?tenantId=fad5c68f-d169-4373-bed7-55243bd99c7b"
        },
        "message": "=New demo session completed by {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }} - {{ $('Webhook').item.json.body.user_email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -1122,
        560
      ],
      "id": "250a131a-cba5-4a0a-bfba-0255a7d58862",
      "name": "Microsoft Teams",
      "webhookId": "e16df526-ea5c-4a3c-a0a3-484cdd3da7e5",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "qyoIpk534c3Uq1X6",
          "name": "Microsoft Teams account - Andy"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1420,
        460
      ],
      "id": "527a7fcb-0a0e-4711-aac3-0e7f625e8aa8",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ca289994-ae77-48cd-9ef4-8a0c370e6db8",
      "name": "OpenAI Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1112,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n",
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information. Do not include a title at the start, just go straight into the summary conent.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n"
        }
      },
      "id": "3a521857-3c7d-4d2b-be0a-90dfc8e71018",
      "name": "AI Agent - Re-write Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1200,
        860
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "=Legal Engine Matter Summary for {{ $('Webhook').item.json.body.first_name }}",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Legal Engine \u2022 Your Matter Summary</title>\n\n  <!-- Brand Typeface -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root{\n      --le-navy:#062047; --le-blue:#00b3ff; --le-indigo:#0066ff;\n      --le-grey:#f2f6fa; --le-silver:#e5ecf3; --le-text:#263238;\n    }\n    *{box-sizing:border-box;margin:0;padding:0;}\n    body{\n      width:100%!important;background:var(--le-grey);\n      font-family:'Inter',Helvetica,Arial,sans-serif;\n      color:var(--le-text);-webkit-font-smoothing:antialiased;\n    }\n    .wrapper{\n      max-width:700px;margin:0 auto;background:#fff;\n      border:1px solid var(--le-silver);border-radius:10px;\n      padding:48px 40px;\n    }\n    .section{margin-bottom:20px;line-height:1.55;}\n    .section h1{color:var(--le-navy);font-size:24px;font-weight:700;margin-bottom:18px;}\n    .section h2{\n      color:var(--le-navy);font-size:22px;font-weight:700;\n      padding-bottom:10px;border-bottom:2px solid var(--le-silver);\n      margin-bottom:14px;\n    }\n    .section p{margin-bottom:16px;white-space:pre-line;}\n\n    .button{\n      display:inline-block;padding:14px 28px;font-weight:600;\n      color:#fff!important;text-decoration:none;border-radius:6px;\n      background:linear-gradient(90deg,var(--le-blue)0%,var(--le-indigo)100%);\n      transition:opacity .25s ease-in-out;\n    }\n    .button:hover{opacity:.8;}\n\n\n    .signature p{margin-bottom:6px;}\n.signature{\n  color:var(--le-text);                /* same dark text as body */\n  font-family:'Inter',Helvetica,Arial,sans-serif;\n}\n.signature a{\n  color:var(--le-text);                /* links also black */\n  text-decoration:none;\n}\n\n\n    .footer{\n      font-size:13px;color:#6c7a84;text-align:center;\n      padding-top:24px;border-top:1px solid var(--le-silver);\n    }\n    .tracking-pixel{display:none;width:1px;height:1px;}\n\n    @media(max-width:520px){\n      .wrapper{padding:32px 22px;}\n      .section h1{font-size:22px;}\n      .section h2{font-size:20px;}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n\n    <!-- HEADER -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:40px;\">\n      <tr>\n        <td align=\"center\">\n          <img\n            src=\"https://49390627.fs1.hubspotusercontent-eu1.net/hub/49390627/hubfs/e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png?width=852&amp;height=339&amp;name=e8ad0e08-aa6c-4d44-9053-cdcf7bbaec5b.png\"\n            alt=\"Legal Engine\"\n            width=\"180\" height=\"72\"\n            style=\"width:180px;max-width:100%;height:auto;display:block;border:0;outline:none;text-decoration:none;\">\n        </td>\n      </tr>\n    </table>\n    <!--[if mso]><style>.mso-logo img{width:180px!important;height:auto!important;}</style><![endif]-->\n\n  <!-- INTRO -->\n    <div class=\"section\">\n      <p>Hi {{ $('Webhook').item.json.body.first_name }},</p>\n      <p>Thanks for taking the time to test me out. How did I do?</p>\n      <p>As promised, here\u2019s a summary of our conversation:</p>\n    </div>\n\n    <!-- MATTER SUMMARY -->\n    <div class=\"section\">\n      <h2>Matter Summary</h2>\n      <p>{{ $json.output }}</p>\n    </div>\n\n    <!-- EXTRA ASSETS INTRO -->\n    <div class=\"section\">\n      <p>To give you a flavour of what else I can do, I\u2019ll shortly be sending you <b>a few additional marketing assets </b> so look out for a follow up email in your inbox. </p>\n      <p>This is just a snapshot of my capabilities. At&nbsp;<a href=\"https://legalengine.co.uk/\"><b>Legal Engine</b></a>, we\u2019re building a suite of assistants like me, ready to transform Marketing &amp; BD across the legal industry.</p>\n    </div>\n\n<!-- SIGN-OFF -->\n<div class=\"signature\">\n  <p>Cheers,</p>\n\n  <p><b>Leonard</b></p>\n\n  <p><b>AI Assistant<br>Legal Engine</b></p>\n\n  <p>\n    E:&nbsp;<a href=\"mailto:leonard@legalengine.co.uk\">leonard@legalengine.co.uk</a><br>\n    W:&nbsp;<a href=\"https://legalengine.co.uk/\">www.legalengine.co.uk</a>\n  </p>\n</div>\n    <!-- FOOTER + UNSUBSCRIBE -->\n    <div class=\"footer\">\n      &copy; 2025 Legal Engine Ltd. All rights reserved.<br><br>\n      <a href=\"https://unsubscribe.legalengine.co.uk\" style=\"color:var(--le-blue);text-decoration:none;\">Unsubscribe</a>\n    </div>\n\n    <!-- OPEN-TRACKING -->\n    <img class=\"tracking-pixel\"\n         src=\"https://legalengine.co.uk/track/open?email={{ $('Webhook').item.json.webhookUrl }}\"\n         alt=\"\">\n  </div>\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -840,
        860
      ],
      "id": "f7e62491-7a9e-430a-85db-a73e63cb9d03",
      "name": "HTML Email from Leonard to Lawyer",
      "webhookId": "03bf6b23-ce1b-4340-9b85-755d534ee154",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KKD8pyUSirzQ2KiU",
          "mode": "list",
          "cachedResultName": "Sub workfow SANDBOX test"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_user_email_split": "={{ $('Webhook').item.json.body.user_email.split(\",\") }}",
            "body_first_name": "={{ $('Webhook').item.json.body.first_name }}",
            "body_user_email": "={{ $('Webhook').item.json.body.user_email }}",
            "body_transcript": "={{ $('Webhook').item.json.body.transcript }}",
            "body_last_name": "={{ $('Webhook').item.json.body.last_name }}",
            "body_summary": "={{ $('Webhook').item.json.body.summary }}",
            "output": "={{ $('AI Agent - Re-write Summary').item.json.output }}",
            "webhookUrl": "={{ $('Webhook').item.json.webhookUrl }}"
          },
          "matchingColumns": [
            "body_user_email_split",
            "body_first_name",
            "body_user_email",
            "body_transcript",
            "body_last_name",
            "body_summary",
            "output",
            "webhookUrl"
          ],
          "schema": [
            {
              "id": "body_user_email_split",
              "displayName": "body_user_email_split",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_first_name",
              "displayName": "body_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_user_email",
              "displayName": "body_user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_transcript",
              "displayName": "body_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_last_name",
              "displayName": "body_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_summary",
              "displayName": "body_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -580,
        1140
      ],
      "name": "Call Sub workfow SANDBOX test",
      "id": "62cc240a-d6d7-4ceb-bad7-9203282bee52"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -580,
        860
      ],
      "id": "733e846e-5e9e-4187-8261-dd13a47308b6",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent - Re-write Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Re-write Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Re-write Summary": {
      "main": [
        [
          {
            "node": "HTML Email from Leonard to Lawyer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "HTML Email from Leonard to Lawyer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Sub workfow SANDBOX test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "5727",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9593fa84078d1404-ORD",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47, 172.70.127.159",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-kmrgc",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "transcript": "Lee: Sounds great. Thanks, Leonard.\nLeonard: That's wonderful to hear. Just to confirm, a copy will also be sent to Leonard who requested this information. I can see you've been working on several interesting matters recently, including the Sheikha Aisha Al Thani, Sheikha Al-Anoud Al Thani and Sa'ad Al-Dehaimi matter, and the Qvale matter. Which specific case would you like to discuss today?\nLee: Can we discuss something different?\nLeonard: Of course, we can discuss something different. Please share who the client was and describe the matter in your own words.\nLee: So a matter related to acquisition of a plot of land by SPC, Property Development Limited, that plot of land was contentious because it was in the greenbelt and so there were quite a few hurdles from a legislation and environmental perspective to get over.\nLeonard: That's interesting. So, SPC, Property Development Limited acquired a contentious greenbelt plot, facing significant legislative and environmental hurdles. Good insight. Why did the client come to you for this matter, and what was the outcome for them?\nLee: So the point came to us because we'd worked with them on previous land planning applications and so they knew that our team could deliver and the outcome for the client was a successful planning application for development of a, well future development of a nursing home.\nLeonard: Good. So, given this was a successful planning application for the future development of a nursing home, what was the deal size or transaction value, and were there any notable cost savings or revenue implications for the client?\nLee: Yeah, so they're looking to sell the plot on to a developer for a two hundred and eighty bed nursing home. I think the consideration will be somewhere in the region of \u00a36 million for the land. And so yeah, from a revenue perspective, that's good for our client.\nLeonard: Right. So the consideration for the land is around six million pounds, which is a good revenue for your client. Now, what role did you play in this matter?\nLee: Well, I was the lead planning partner on the matter\nLeonard: Now, about who led the matter, if it wasn't you, who else was involved in leading it?\nLee: Haven't I just told you that Leonard?\nLeonard: My apologies. You did indeed tell me you were the lead planning partner on the matter. Thank you for clarifying.\n\nNow, who were the other key team members involved and what were their roles?\nLee: Um, it was actually just me. A reasonably straightforward transaction.\nLeonard: Right. So it was just you on this straightforward transaction.\n\nNow, what was the main jurisdiction for this matter, and were any other jurisdictions involved?\nLee: It was just the UK. No other jurisdictions.\nLeonard: Now, about other firms. Did you work with any other firms on this matter, and if so, what role did those firms play?\nLee: Yeah we were opposite of Flatgate LLP, no sorry we are Flatgate LLP my mistake London. We were opposite a firm called Crips and they were acting for the sellers on the transaction\nLeonard: Right, so Crips were acting for the sellers on the transaction.\n\nNow, was there anything noteworthy about this matter, such as something innovative, precedent-setting, or that impacted regulations or ESG?\nLee: No.\nLeonard: Now, about the current status of the matter. What is it, and if completed, when did it finish?\nLee: So it's, as I mentioned earlier, successfully completed. We got the planning applications through last, well no, actually May two thousand and twenty-five.\nLeonard: Right, so it successfully completed in May two thousand and twenty-five.\n\nNow, was there any press coverage or awards related to the matter?\nLee: No.\nLeonard: Thank you for sharing all those details. Here's a summary of the matter as I understand it:\n\nThis matter involved SPC Property Development Limited's acquisition of a contentious greenbelt plot in the UK, which presented significant legislative and environmental hurdles. The client sought your expertise due to your previous successful collaborations on land planning applications. The outcome was a successful planning application for the future development of a two hundred and eighty bed nursing home, with the land expected to be sold to a developer for approximately six million pounds, representing a good revenue for your client. You were the lead planning partner on this straightforward transaction, and Crips acted for the sellers. The matter successfully completed in May two thousand and twenty-five, and there was nothing particularly noteworthy about it, nor any press coverage or awards.\n\nDoes that summary sound accurate, or would you like to correct anything?\nLee: No that's accurate, thanks a lot Lawrence.",
            "user_email": "andy@legalengine.co.uk",
            "bd_email": "leonard@legalengine.co.uk",
            "summary": "This matter involved SPC Property Development Limited's acquisition of a contentious greenbelt plot in the UK, which presented significant legislative and environmental hurdles. The client sought your expertise due to your previous successful collaborations on land planning applications. The outcome was a successful planning application for the future development of a two hundred and eighty bed nursing home, with the land expected to be sold to a developer for approximately six million pounds, representing a good revenue for your client. You were the lead planning partner on this straightforward transaction, and Crips acted for the sellers. The matter successfully completed in May two thousand and twenty-five, and there was nothing particularly noteworthy about it, nor any press coverage or awards.",
            "first_name": "Andy",
            "last_name": "Batty"
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/testdemo-fladgate",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}