leonard-dev-workflows/other/Xg90PjYc3E7AMzCC-HILT_Feedback_for_matter_summary_Workflow_Test_can_be_bolted_onto_back_of_current_flow.json
{
  "name": "HILT Feedback for matter summary - Workflow Test - can be bolted onto back of current flow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "triggerField": "Created",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        464
      ],
      "id": "eff32c3d-56ad-4eef-910f-506f57c1517b",
      "name": "Airtable Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -768,
        688
      ],
      "id": "12a5380c-e622-40a1-b99c-30c95d78ccc3",
      "name": "Anthropic Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -640,
        688
      ],
      "id": "e424684f-9994-497e-9eff-def7d11f29c5",
      "name": "Project Database",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Incoming Lead\n\nName: {{ $json.fields.name }}\n\nEmail: {{ $json.fields.email }}\n\nIntent: {{ $json.fields.intent }}\n\nBudget: {{ $json.fields.budget }}\n\nCompany Name: {{ $json.fields.companyName }}\n\nProject Description: {{ $json.fields.projectDescription }} \n\nTimeline: {{ $json.fields.timeline }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert sales person for an agency that delivers AI solutions. Your job is to respond to incoming leads by addressing their needs in a professional manner. You will receive information like the lead's project description and timeline, and your goal is to convince them that we are the best AI Agency on the market.\n\n## Tools\nProject Database - Use this tool to search through previous projects we have done. \n\n## Rules\n- You will receive information about a lead, and you need to craft a professional email. Keep it concise, nobody wants to read a huge email.\n- Your main objective is to convince the lead to book in a second call. Your job is to make them believe that we can deliver the project they have described and exceed their expectations.\n- Retrieve information about previous projects to share with the lead to prove that our team is capable of handling their project. Find a similar project we have done to share with the lead. Share the result of how we helped the client.\n\n\n## Final Notes\nSign off emails as Jim, Dunder AI\nHere is the current date/time: {{ $now }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -736,
        464
      ],
      "id": "0d217190-4a05-456b-9423-ad17f718ea66",
      "name": "Sales Agent",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -528,
        688
      ],
      "id": "9b4b1ede-c8ca-4f9d-826f-b7caad6cb45e",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable Trigger').item.json.fields.email }}",
        "subject": "={{ $('Sales Agent').item.json.output.subject }}",
        "emailType": "text",
        "message": "={{ $('Set Email').item.json.email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        288
      ],
      "id": "39bbe144-bb2a-47f6-8f66-e59dda84a998",
      "name": "Send Email",
      "webhookId": "9ae2a2f2-de7c-46a1-93f7-8b2612d40751",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8AIRVL8Y8Ycgo9",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        560
      ],
      "id": "e9ccfd27-4747-4333-8e1a-a8d7314a94f4",
      "name": "Google Gemini Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email: {{ $('Set Email').item.json.email }}\n\nFeedback from human: {{ $json.data.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert email writer. Your job is to take an incoming email and revise it based on the feedback the human submitted.\n\n## Rules\nSign off emails as Jim, Dunder AI\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        496,
        560
      ],
      "id": "a16477ee-4d70-4a94-a292-f55ba5943194",
      "name": "Revision Agent",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3800e373-5f7a-4642-8392-d3a4aed9e067",
              "name": "email",
              "value": "={{ $json.output.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        464
      ],
      "id": "1fba17b5-5ed1-4077-b7cb-8f1db394cf83",
      "name": "Set Email",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "subject": "=APPROVAL REQUIRED for New Lead: {{ $('Airtable Trigger').item.json.fields.name }}",
        "message": "={{ $('Airtable Trigger').item.json.fields.name }} from {{ $('Airtable Trigger').item.json.fields.companyName }} is looking for {{ $('Airtable Trigger').item.json.fields.intent }}. Their budget is {{ $('Airtable Trigger').item.json.fields.budget }} with a(n) {{ $('Airtable Trigger').item.json.fields.timeline }} timeline.\n\n\nPlease approve or decline the sending of this message generated by Jim, our AI Sales Agent.\n\nSubject: {{ $('Sales Agent').item.json.output.subject }}\n\nEmail: {{ $json.email }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -96,
        336
      ],
      "id": "e55c6c2e-80b6-4b64-86c1-053124c031e7",
      "name": "Get Feedback",
      "webhookId": "10605e1c-7bc0-4a9f-b23a-9797cc88449e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8AIRVL8Y8Ycgo9",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The email has been reviewed and accepted as-is. The human explicitly or implicitly expresses approval, indicating that no changes are needed. \n\nExample phrases include:\n\n\"Looks good.\"\n\"Go ahead and send it.\"\n\"This works for me.\"\n\"Approved.\"\n\"No changes needed.\""
            },
            {
              "category": "Declined",
              "description": "The email has been reviewed, but the human requests modifications before it is sent like tweaks, removing parts, rewording, etc. This could include suggested edits, rewording, or major revisions. \n\nExample phrases include:\n\n\"Can we tweak this part?\"\n\"Needs some changes.\"\n\"I’d like to reword this.\"\n\"Not quite right—let’s revise it.\"\n\"Can you adjust this before sending?\"\n\"Don't mention that we can't do that\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        128,
        336
      ],
      "id": "e9575a98-6b10-4b17-bf62-07fbb5d80e0f",
      "name": "Check Feedback",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Nate Herk | AI Automation",
        "height": 80,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1b19193d-36df-46d5-a1a9-c252f33011ad",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Human In The Loop Sales Team\n## The agents wait for feedback and approval - unlimited email revisions\n\n",
        "height": 820,
        "width": 1760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        160
      ],
      "typeVersion": 1,
      "id": "51f09e5d-bf7b-4cc4-9e7b-fb7539b7f60d",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -976,
        2560
      ],
      "id": "90f3bb9a-2878-400d-a11b-81df863a0f84",
      "name": "Anthropic Chat Model1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -976,
        2320
      ],
      "id": "35d159f9-8984-491c-8c77-a290f9492cd4",
      "name": "Project Database1",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"object\": {\n      \"type\": \"string\",\n      \"description\": \"The summary of the matter\"\n    }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        400,
        2304
      ],
      "id": "fa123290-a58f-4244-a910-e11a7a3f5606",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable Trigger1').item.json.fields.email }}",
        "subject": "={{ $('Compose Summary 1').item.json.output.subject }}",
        "emailType": "text",
        "message": "={{ $('Set Summary').item.json.email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        1536
      ],
      "id": "9bdede1b-75ac-4dfb-aa95-97b276c5dd15",
      "name": "Send Email1",
      "webhookId": "9ae2a2f2-de7c-46a1-93f7-8b2612d40751",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8AIRVL8Y8Ycgo9",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -976,
        2800
      ],
      "id": "806fa51c-062a-4851-a5bf-261ffe65da60",
      "name": "Google Gemini Chat Model1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summary: {{ $('Set Summary').item.json.summary }}\n\nFeedback from human: {{ $json.data.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an assistant to an expert legal matter summary writer for legal firms in the UK. Your job is to take an incoming matter summary for Legal 500 or Chambers, and revise it based on the feedback the human submitted.\n\nYou must be prepared to take the feedback on board in both verbatim terms and also reword, tweak or update content and numbers as required. You are also able to change names, facts and any other material parts of the summary as guided by the human feedback.\n\nYou need limited creativity, diligence is the name of the game here. \n\nThe output is a revised summary.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        1792
      ],
      "id": "9a627ded-4019-4e1b-a945-8292e656f36f",
      "name": "Revision Agent1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "subject": "=APPROVAL REQUIRED for New Lead: {{ $('Airtable Trigger1').item.json.fields.name }}",
        "message": "={{ $('Airtable Trigger1').item.json.fields.name }} from {{ $('Airtable Trigger1').item.json.fields.companyName }} is looking for {{ $('Airtable Trigger1').item.json.fields.intent }}. Their budget is {{ $('Airtable Trigger1').item.json.fields.budget }} with a(n) {{ $('Airtable Trigger1').item.json.fields.timeline }} timeline.\n\n\nPlease approve or decline the sending of this message generated by Jim, our AI Sales Agent.\n\nSubject: {{ $('Compose Summary 1').item.json.output.subject }}\n\nEmail: {{ $json.email }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        1632
      ],
      "id": "aaf12e79-f1e6-4240-b8aa-cb5956e4fad5",
      "name": "Get Feedback1",
      "webhookId": "10605e1c-7bc0-4a9f-b23a-9797cc88449e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8AIRVL8Y8Ycgo9",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The matter summary has been reviewed and accepted as-is. The human explicitly or implicitly expresses approval or that they are happy with the summary, indicating that no changes are needed. |Example phrases include:\"Looks good.\"\"Okay.\"\"Great.\"\"Perfect.\"\"Go ahead and send it.\"\"This works for me.\"\"Approved.\"\"No changes needed.\""
            },
            {
              "category": "Declined",
              "description": "The matter summary has been reviewed, but the human suggests or requests modifications before it is sent like correcting names, amending values, correcting spelling errors, tweaks, removing parts, rewording, etc. This could include suggested edits, rewording, or major revisions. \n\nExample phrases include:\n\n\"Can we tweak this part?\"\n\"Needs some changes.\"\n\"I’d like to reword this.\"\n\"Not quite right—let’s revise it.\"\n\"Can you adjust this before sending?\"\n\"Don't mention that we can't do that\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        352,
        1552
      ],
      "id": "7c1560d8-ca68-42be-9a72-bb4bfe8dee05",
      "name": "Check Feedback1"
    },
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        816
      ],
      "id": "a147b1b6-91c2-41fd-be0b-0af6338c5fe4",
      "name": "HubSpot Trigger",
      "webhookId": "118ea5c8-c31b-4408-bba7-b912bc6ab882",
      "disabled": true
    },
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        1088
      ],
      "id": "6f7ec860-9ddb-4d9b-adbd-15aa9a6f5103",
      "name": "HubSpot Trigger1",
      "webhookId": "6123f8d0-5200-4848-95aa-87de266239b0",
      "credentials": {
        "hubspotDeveloperApi": {
          "id": "9VCX2DmLQH43Zr7T",
          "name": "HubSpot Developer account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "={{ $('Webhook').item.json.body.user_name }} here is your approved matter summary",
        "bodyContent": "=Hi there {{ $('Webhook').item.json.body.user_name }}, \n\nPlease see below the fully agreed matter summary we discussed. \n\n---\n\n{{ $('Compose Summary Loop').item.json.output }}\n\n---\n\nIt was great speaking to you, let's chat again soon.\n\nBest regards\n\nLeonard\nLegal Engine AI Agent",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        800,
        1344
      ],
      "id": "573bef46-e3dd-4221-ba81-99a9b16e4ce4",
      "name": "Email from Leonard - all assets",
      "webhookId": "6ee41a01-52a0-4718-88ab-77ab7bc8dee8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        2304
      ],
      "id": "46f365eb-a1a2-464c-947b-1365e4c91345",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        1760
      ],
      "id": "5cc8a858-1186-4b8b-8f8f-6603aa24c45d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert researcher who uses deep research for professional services and law firms in order to provide lawyers, legal firm partners, business development teams at law firms and marketing departments at law firms with incredibly comprehensive and accurate publicly available information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"I have the following information; Name={{ $('Webhook').item.json.body.user_name }}, Email={{ $('Webhook').item.json.body.user_email }}, Company={{$('Webhook').item.json.body.user_email.split('@')[1] }}. Please provide an accurate possible professional brief for a senior manager using the sources above, find me all information that relates to the work that the user and their firm have done that may have involved the user and/or is related to the areas of specialism that the user has according to their publicly available research and company bio when looking at work that is related to the user it may be helpful to looking at the sector, the practice area and the office for the user as well as their Relevant experience, Publications and insights, News and client work, Professional bodies, Awards and citations and Career and qualifications. \"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.5\n}",
        "options": {}
      },
      "id": "f350b7d8-7529-4892-8604-9ed278fd8e80",
      "name": "Perplexity Firm Research",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -976,
        2048
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ok9KPJP4UMw6OLgP",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2cb838b8-ef91-4c34-bb43-fd349331aa12",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -976,
        1648
      ],
      "id": "d4a8373a-904d-4ad2-a3c3-c32db8e842cf",
      "name": "Webhook",
      "webhookId": "2cb838b8-ef91-4c34-bb43-fd349331aa12"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -736,
        4304
      ],
      "id": "e11599cf-a5fd-477b-a4ab-5f90527e26e1",
      "name": "Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable Trigger1').item.json.fields.email }}",
        "subject": "={{ $('Sally - AI Sales Agent1').item.json.output.subject }}",
        "emailType": "text",
        "message": "={{ $('Set Email2').item.json.email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        3520
      ],
      "id": "bf49a4c5-9bd5-464d-b11a-0965b14aec5e",
      "name": "Send Email2",
      "webhookId": "9ae2a2f2-de7c-46a1-93f7-8b2612d40751",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8AIRVL8Y8Ycgo9",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email: {{ $('Webhook').item.json.body.user_email }}\n\nFeedback from human: {{ $('Check Feedback2') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert legal matter summary writer for legal firms in the UK. Your job is to take an incoming email relating to a legal matter for Legal 500 or Chambers, and revise it based on the feedback the human submitted.\n\n## Rules\nSign off emails as Leonard, Legal Engine AI Agent\nHere is the current date/time: {{ $now }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -416,
        3792
      ],
      "id": "c8b4b288-ff2a-471b-8c40-77c6afd9407e",
      "name": "Revision Agent2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3800e373-5f7a-4642-8392-d3a4aed9e067",
              "name": "email",
              "value": "={{ $json.output.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        3648
      ],
      "id": "3752640a-80a5-411e-ad18-b3fc64143699",
      "name": "Set Email2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "subject": "=APPROVAL REQUIRED for New Lead: {{ $('Airtable Trigger1').item.json.fields.name }}",
        "message": "={{ $('Airtable Trigger1').item.json.fields.name }} from {{ $('Airtable Trigger1').item.json.fields.companyName }} is looking for {{ $('Airtable Trigger1').item.json.fields.intent }}. Their budget is {{ $('Airtable Trigger1').item.json.fields.budget }} with a(n) {{ $('Airtable Trigger1').item.json.fields.timeline }} timeline.\n\n\nPlease approve or decline the sending of this message generated by Jim, our AI Sales Agent.\n\nSubject: {{ $('Sally - AI Sales Agent1').item.json.output.subject }}\n\nEmail: {{ $json.email }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1024,
        3632
      ],
      "id": "c055cf74-8338-4037-8eb7-cde094a6dd63",
      "name": "Get Feedback2",
      "webhookId": "10605e1c-7bc0-4a9f-b23a-9797cc88449e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8AIRVL8Y8Ycgo9",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The email has been reviewed and accepted as-is. The human explicitly or implicitly expresses approval, indicating that no changes are needed. \n\nExample phrases include:\n\n\"Looks good.\"\n\"Great.\"\n\"Perfect.\"\n\"Go ahead and send it.\"\n\"This works for me.\"\n\"Approved.\"\n\"No changes needed.\""
            },
            {
              "category": "Declined",
              "description": "The email has been reviewed, but the human requests modifications before it is sent like tweaks, removing parts, rewording, etc. This could include suggested edits, rewording, or major revisions. \n\nExample phrases include:\n\n\"Can we tweak this part?\"\n\"Needs some changes.\"\n\"I’d like to reword this.\"\n\"Not quite right—let’s revise it.\"\n\"Can you adjust this before sending?\"\n\"Don't mention that we can't do that\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -800,
        3520
      ],
      "id": "d7a69156-4675-458e-82a0-440cb9add58a",
      "name": "Check Feedback2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "=Hi {{ $('Webhook').item.json.body.user_name }}, APPROVAL REQUIRED for your matter description after your recent conversation with Leonard from Legal Engine",
        "message": "={{ $json.email }}\n\n\n",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1024,
        3344
      ],
      "id": "06210ce0-1e85-416a-8533-113bdc616eae",
      "name": "Email from Leonard - all assets2",
      "webhookId": "6ee41a01-52a0-4718-88ab-77ab7bc8dee8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "={{ $('Webhook').item.json.body.user_name }} here is your approved matter summary",
        "bodyContent": "={{ $('Set Email2').item.json.email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -336,
        3328
      ],
      "id": "e7294e94-2587-4949-926a-0c1a620430a6",
      "name": "Email from Leonard - all assets3",
      "webhookId": "6ee41a01-52a0-4718-88ab-77ab7bc8dee8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        4304
      ],
      "id": "da970bc2-89a3-4036-bedd-3eac6dff4b65",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        3744
      ],
      "id": "9b1789a6-34e2-4d1e-b13e-46861b962e36",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "LldOhLNBReShSMkE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "name": "PPDR",
        "description": "Call this tool to deliver you the full context of the research conducted ",
        "source": "parameter"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1536,
        4064
      ],
      "id": "68cb28bc-fd4f-4b5c-9c2f-37ce49595fde",
      "name": "Call n8n Workflow Tool1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Incoming Lead\n\nName: {{ $('Webhook').item.json.body.user_name }}\n\nEmail: {{ $('Webhook').item.json.body.user_email }}\n\nSummary: {{ $('Webhook').item.json.body.summary }}\n\nTranscript: {{ $('Webhook').item.json.body.transcript }}\n\nCompany Name: {{ $('Webhook').item.json.body.user_email.split('@')[1] }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert in the legal professional services world in the UK. Your job is to prepare comprehensive legal documents for a series of marketing, business development and senior lawyer colleagues, after they've spoken to Leonard, LegalEngine's AI Voice Assistant. You will receiving information such as a matter summary, a full transcript of the conversation with Leonard, the users name and the users company. Your goal is get them to agree that the the summary provided by Leonard (the LegalEngine AI Vouce Assistant) is accurate, and later to convince them that AI is wizardry when applied to legal matter descriptions and directoties submissions such as Chambers and Legal 500.\n\n\n## Rules\n- You will receive information about a matter from a user, and you need to craft a professional email to get the matter summary approved in record time. Keep it concise, nobody wants to read a huge email.\n- Your main objective is to convince them that AI is wizardry when applied to legal matter descriptions and directoties submissions such as Chambers and Legal 500 and convince the lead to book in a second call with Leonard, our AI agent. Your job is to make them believe that LegalEngine, using Leonard and his AI agent family, can deliver all their legal AI needs and exceed their expectations.\n\n\n## Final Notes\nSign off emails as Leonard, Legal Engine AI Agent\nHere is the current date/time: {{ $now }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1648,
        3632
      ],
      "id": "08eb0bf8-017b-413a-b2c7-11efea449f29",
      "name": "Sally - AI Sales Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72bee84f-f889-496d-a195-265929534f14",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        1632
      ],
      "id": "0b547a3e-b5ef-41f2-be16-8c40675f3e34",
      "name": "Set Summary"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "={{ $('Webhook').item.json.body.user_email }}",
        "subject": "=Hi {{ $('Webhook').item.json.body.user_name }}, APPROVAL REQUIRED for your matter description after your recent conversation with Leonard from Legal Engine",
        "message": "=Hi there {{ $('Webhook').item.json.body.user_name }}, \n\nPlease see below the matter summary for your written approval. \n\n---\n\n{{ $json.output }}\n\n---\n\nIf there are any revisons or edits please click on the link below to provide feedback and one of my AI Agent colleagues will pick this up and send you a revised version. \n\nBest regards\n\nLeonard\nLegal Engine AI Agent",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        208,
        1328
      ],
      "id": "a5d43c71-afc7-4c98-8c56-d8fad5d78078",
      "name": "Email from Leonard Chk Summary",
      "webhookId": "6ee41a01-52a0-4718-88ab-77ab7bc8dee8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "APa28clvTTmmzH55",
          "name": "Microsoft Outlook - Leonard @ Legal Engine"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.user_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $('Webhook').item.json.body.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information.\n\nINPUT:\nThe summary of the matter is:{{ $('Webhook').item.json.body.summary }}\nThe user is:{{ $('Webhook').item.json.body.user_name }}\nThe user's email is:{{ $('Webhook').item.json.body.user_email }}\nThe users company or law firm is: {{ $('Webhook').item.json.body.user_email.split('@')[1]}}\nHere is the date and time: {{ $now }}\nHere is the transcript from the call: {{ $('Webhook').item.json.body.transcript }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -624,
        1648
      ],
      "id": "dbad0c5c-4a70-448d-bee5-45110c1803bb",
      "name": "Compose Summary 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing as an expert in composing legal docuemts, re-write the {{ $json.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information.\n\nThis is the original summary {{ $('Webhook').item.json.body.summary }} which should ONLY be used to match the formatting of the output of the matter, the content should NOT influence the content created.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Writing as an expert in composing legal docuemts, re-write the {{ $json.summary }} of this matter to ensure it is written in UK English and NOT US English, with the names of people and Companies/Law Firms appropriately spelled and capiatlised, references to currency formatted properly, numbers and values also generally in figures as opposed to words (in keeping with UK English best practice), and with superior general spelling and grammer. You should keep the content as close as possible to the original and NOT add in additional information.\n\nThis is the original summary {{ $('Webhook').item.json.body.summary }} which should ONLY be used to match the formatting of the output of the matter, the content should NOT influence the content created."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -224,
        1312
      ],
      "id": "85a6a35e-60a5-457f-9355-6134a17024b4",
      "name": "Compose Summary Loop"
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Revision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Project Database": {
      "ai_tool": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Revision Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sales Agent": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check Feedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email": {
      "main": [
        [
          {
            "node": "Get Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feedback": {
      "main": [
        [
          {
            "node": "Check Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Project Database1": {
      "ai_tool": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Revision Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Revision Agent1": {
      "main": [
        [
          {
            "node": "Set Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feedback1": {
      "main": [
        []
      ]
    },
    "Check Feedback1": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email from Leonard - all assets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Revision Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Compose Summary 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Compose Summary Loop",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Check Feedback1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Compose Summary 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Sally - AI Sales Agent1",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Revision Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent2": {
      "main": [
        [
          {
            "node": "Set Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email2": {
      "main": [
        [
          {
            "node": "Email from Leonard - all assets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback2": {
      "main": [
        [
          {
            "node": "Send Email2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email from Leonard - all assets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email from Leonard - all assets2": {
      "main": [
        [
          {
            "node": "Check Feedback2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Revision Agent2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sally - AI Sales Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Check Feedback2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool1": {
      "ai_tool": [
        [
          {
            "node": "Sally - AI Sales Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sally - AI Sales Agent1": {
      "main": [
        [
          {
            "node": "Set Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Summary": {
      "main": [
        [
          {
            "node": "Compose Summary Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email from Leonard Chk Summary": {
      "main": [
        [
          {
            "node": "Check Feedback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Summary 1": {
      "main": [
        [
          {
            "node": "Set Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Summary Loop": {
      "main": [
        [
          {
            "node": "Email from Leonard Chk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "leonard-dev.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "7462",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.67.146.145",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9315393647a6d646-CDG",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.67.146.145, 172.71.130.233",
            "x-forwarded-host": "leonard-dev.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-xjzqs",
            "x-is-trusted": "yes",
            "x-real-ip": "34.67.146.145"
          },
          "params": {},
          "query": {},
          "body": {
            "user_email": "leonard@legalengine.co.uk",
            "summary": "The matter was between Sheffield Wednesday and Nottingham Forest, dating back to a seven-one game in the early nineties. The main challenge was addressing mental scarring from childhood bullying due to supporting Sheffield Wednesday. The client sought recompense for this bullying and came to you because of your connection to both parties, leading to a fantastic outcome for the litigator. The advice cost five pounds fifty, with an estimated saving of twenty-five pounds in heartache. Simon Martin, a childhood friend and fellow victim, was a key team member. The case was based in the UK, with social considerations highlighting Nottingham High School as a difficult place for Sheffield Wednesday fans, and the novelty involved using childhood friendship for torturing other pupils. The matter is ongoing, with the client still facing ridicule for their team allegiance. There was local coverage in the Nottingham Evening Post at the time.",
            "user_name": "Leonard",
            "transcript": "Hi there Leonard, it's great to meet you, I'm Leonard, here to show you how I can make your Directories submission seamless and easy using the power of voice and AI. Once we've completed our conversation I'll send you a summary to leonard@legalengine.co.uk. Tell me about a matter you worked on to get a sense for what I'm capable of?||Yeah, so a matter between Shepard Winslow and Nottingham Forest.||Okay, I understand. To get started, could you tell me what the matter involved, including the main challenge or objective?||Yes, it was going back to the early 90s when Nottingham Forest beat Sheffield Wednesday 7-1 and I was starting to have mental scarring as a result.||Thank you for sharing that. Why did the client come to you for this matter, and what specific problem were they trying to solve?||They were trying to solve for mental torture and scarring as a result of childhood bullying for supporting a rubbish team.||I see. What was the outcome for the client, and what specific positive impact did your team provide to the client to achieve this outcome? Please also mention how this matter aligned with the client's strategic objectives.||Yes, so the client's strategic objectives were to seek recompense for childhood bullying. They came to me because I'm known to both parties and produced a fantastic outcome for the litigator.||And what was the deal size or transaction value for this matter? Were there any notable cost savings or revenue implications for the client?||It was $5,050 for the advice and I think I saved £25 in heartache.||Okay, thank you. And who were the key team members who worked with you on this matter, and what were their roles?||The main one was Simon Martin and he was there as a childhood friend and fellow victim of said bullying.||Understood. How many jurisdictions were involved in this matter, and which were the primary ones?||This was just the UK case.||Were there any innovative legal approaches or novel issues you addressed in this matter, including any precedent-setting aspects? Are there any regulatory impact or sustainability or social considerations worth highlighting?||Yeah, just social considerations were Nottingham High School was a horrible place to attend as a Sheffield Wednesday fan. And so, you know, the novelty was really around using childhood friendship as a way of torturing other pupils.||And what is the current status of this matter? If completed, when did it finish?||No, it's still open. I still get regularly shown up for my allegiance to the Owls.||Understood. Was there any press coverage or awards related to this matter that we should mention?||Not really. The Nottingham Evening Post covered it at the time, based on their own gleefulness at the victory.||Thank you for sharing those details. Let me summarise my understanding of this matter to ensure I've captured everything correctly:\n\nThe matter involves Shepard Winslow and Nottingham Forest, dating back to a seven-one game in the early nineties. The main challenge was addressing mental scarring from childhood bullying due to supporting Sheffield Wednesday. The client sought recompense for this bullying and came to you because of your connection to both parties, leading to a fantastic outcome for the litigator. The advice cost five thousand and fifty dollars, with an estimated saving of twenty-five pounds in heartache. Simon Martin, a childhood friend and fellow victim, was a key team member. The case was based in the UK, with social considerations highlighting Nottingham High School as a difficult place for Sheffield Wednesday fans, and the novelty involved using childhood friendship for torturing other pupils. The matter is ongoing, with the client still facing ridicule for their team allegiance. There was local coverage in the Nottingham Evening Post at the time.\n\nIs this summary accurate, or would you like to make any corrections before we move on?||Two corrections, so right at the start you got it wrong, it should be Sheffield Wednesday right at the start of the summary and the matter value was £5.50.||Thank you for the corrections. Let me update the summary:\n\nThe matter involves Shepard Winslow and Nottingham Forest, dating back to a seven-one game in the early nineties. The main challenge was addressing mental scarring from childhood bullying due to supporting Sheffield Wednesday. The client sought recompense for this bullying and came to you because of your connection to both parties, leading to a fantastic outcome for the litigator. The advice cost five pounds fifty, with an estimated saving of twenty-five pounds in heartache. Simon Martin, a childhood friend and fellow victim, was a key team member. The case was based in the UK, with social considerations highlighting Nottingham High School as a difficult place for Sheffield Wednesday fans, and the novelty involved using childhood friendship for torturing other pupils. The matter is ongoing, with the client still facing ridicule for their team allegiance. There was local coverage in the Nottingham Evening Post at the time.\n\nIs this summary accurate now?||No, so right at the start Leonard it should read the matter was between or related to Sheffield Wednesday and Nottingham Forest.||Okay, I understand. Let me revise the summary once more:\n\nThe matter was between Sheffield Wednesday and Nottingham Forest, dating back to a seven-one game in the early nineties. The main challenge was addressing mental scarring from childhood bullying due to supporting Sheffield Wednesday. The client sought recompense for this bullying and came to you because of your connection to both parties, leading to a fantastic outcome for the litigator. The advice cost five pounds fifty, with an estimated saving of twenty-five pounds in heartache. Simon Martin, a childhood friend and fellow victim, was a key team member. The case was based in the UK, with social considerations highlighting Nottingham High School as a difficult place for Sheffield Wednesday fans, and the novelty involved using childhood friendship for torturing other pupils. The matter is ongoing, with the client still facing ridicule for their team allegiance. There was local coverage in the Nottingham Evening Post at the time.\n\nIs this summary accurate now, or are there any further corrections?||No, all accurate thank you Leonard.All accurate now, Leonard. That's great.You still there, Leonard?"
          },
          "webhookUrl": "https://leonard-dev.app.n8n.cloud/webhook/649c7e8a-fa63-4d63-8b2b-e3bee21e3c02",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": null
}